<div class="a-block" *ngIf="getForgetData.length!=0 && !showForgetDataDetail">
  <div class="a-block-body  a-block-container">
    <h3>查詢結果</h3>
    <div class="row P_div" *ngFor="let oneforgetData of forgetSearchFlowSign">
      <div class="row col-md-3 col-xs-12 P_borderBottom">
        <div class="col-md-6   col-xs-7  col-md-push-5" style="color: #326299;padding:3px 0px;">
          <div>
            <!-- 0000020110 -->{{oneforgetData.showProcessFlowID}}
          </div>
          <div>
            考勤異常簽認單
            <a style="cursor: pointer;" data-toggle="modal" data-target="#Cancelformdialog"
              (click)="takeForm = oneforgetData">
              <span *ngIf="oneforgetData.Take && getShowTake">(抽單)</span>
            </a>
            <a style="cursor: pointer;" data-toggle="modal"
              (click)="checkTransSignForm(oneforgetData)">
              <span *ngIf="oneforgetData.TransSign && getShowTransSign">(轉呈)</span>
            </a>
          </div>

        </div>
        <div class="col-md-4   col-xs-5  col-md-pull-5" style="padding: 0;text-align: center;
          padding-top: 10px;">
          <div class="tag_blue" *ngIf="oneforgetData.State=='1'">呈核中</div>
          <div class="tag_skyblue" *ngIf="oneforgetData.State=='3'">已核准</div>
          <div class="tag_red" *ngIf="oneforgetData.State=='2'">重擬</div>
          <div class="tag_gray" *ngIf="oneforgetData.State=='7'">已抽單</div>
          <div class="tag_gray" *ngIf="oneforgetData.Handle">處理中</div>
        </div>
      </div>
      <div class="row col-md-8 col-xs-10" style="margin: 0px;padding: 0">
        <div class="col-md-9 col-xs-12" style="margin: 0px;color:#6f6f6f;padding: 0">
          <div class="row" style="margin: 0;padding-bottom: 5px;">
            <div class="col-md-4 col-xs-12" style="padding: 0">
              <!-- 643345 李大仁 --> {{oneforgetData.EmpCode}} {{oneforgetData.EmpNameC}}<span
                *ngIf="oneforgetData.checkProxy" style="color: blue">(代)</span>
            </div>
            <div class="col-md-8 col-xs-12" style="padding: 0">
              <!-- 計劃發展部 --> {{oneforgetData.AppDeptName}}
            </div>
          </div>
          <div class="row" style="margin: 0;padding-bottom: 5px;">
            <div class="col-md-4 col-xs-12" style="padding: 0">
              <span style="color: #969696">日期：</span>
              <!--2019/01/18-->{{oneforgetData.Date}}
            </div>
            <div class="col-md-4 col-xs-12" style="padding: 0">
              <span style="color: #969696">班型：</span>
              <!--040A_02-->{{oneforgetData.RoteNameC}}
            </div>
            <div class="col-md-4 col-xs-12" style="padding: 0">
              <span style="color: #969696">異常狀態：
              </span>
              <span *ngIf="oneforgetData.isEarlyMins">早退 </span>
              <span *ngIf="oneforgetData.isLateMins">遲到 </span>
              <span *ngIf="oneforgetData.isForgetCard">未刷卡 </span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12" style="padding: 0">
          <div class="P_height"></div>
          <div *ngIf="oneforgetData.ManageEmpName && oneforgetData.State=='1'">{{oneforgetData.ManageEmpName}} 簽核中</div>
        </div>
      </div>
      <div class="row col-md-1 col-xs-2 P_ptop">
        <a style="cursor: pointer;text-decoration:underline" (click)="nextShowDetail(oneforgetData)">
          <img src="./assets/images-template/icon-arrow.png" style=" transform:rotate(-90deg);" />
        </a>
      </div>
    </div>
  </div>
</div>

<div class="a-block" *ngIf="getForgetData.length==0">
  <div class="a-block-body  a-block-container">
    此查詢條件查無資料
  </div>
</div>


<app-search-forget-detail *ngIf="showForgetDataDetail" [getForgetDataTitle]="setToNextForgetDataTitle"   [getShowTakeDetail]="getShowTake" [getShowTransSignDetail]="getShowTransSign" 
  (goback)="onGoBackFunction()"></app-search-forget-detail>


<div class="modal" id="Cancelformdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="mySmallModalLabel" style="text-align: center">確認抽單?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
            (click)="Cancelform_Click()">送出</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog核准確認送出 -->
<div class="modal" id="sussesdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <!-- <span aria-hidden="true">×</span> -->
          </button>
          <h4 class="modal-title" style="text-align: center">抽單完成</h4>
        </div>
        <div class="modal-body">
          <div style="text-align: center;margin-bottom: 10px">
            <img src="./assets/images-template/icon-success.png" />
          </div>
          <div style="text-align: center">
            已成功抽單
          </div>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog送出成功 -->
<div class="modal" id="TransSignformdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="vertical-alignment-helper">
  <div class="modal-dialog  modal-md vertical-align-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="mySmallModalLabel" style="text-align: center">確認轉呈?</h4>
      </div>
      <div class="modal-body">
        <div>
          <p>簽核人員</p>
          <app-select-signer (selectBaseChange)="chooseBase($event)" [sysEmp$]="onChangeReviewMan$">
          </app-select-signer>
        </div>
      </div>
      <div class="modal-footer" style="text-align: center">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
          (click)="TransSignform_Click()">送出</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
</div>
<!--dialog轉呈確認送出 -->
<div class="modal" id="TransSignformSussesdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="vertical-alignment-helper">
  <div class="modal-dialog  modal-sm vertical-align-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <!-- <span aria-hidden="true">×</span> -->
        </button>
        <h4 class="modal-title" style="text-align: center">轉呈完成</h4>
      </div>
      <div class="modal-body">
        <div style="text-align: center;margin-bottom: 10px">
          <img src="./assets/images-template/icon-success.png" />
        </div>
        <div style="text-align: center">
          已成功轉呈
        </div>
      </div>
      <div class="modal-footer" style="text-align: center">
        <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
      </div>
    </div>
  </div>
</div>
</div>
<!--dialog轉呈送出成功 -->