@charset "UTF-8";
/*------------------------------------------------------------------------*-
    $Template "SystemMain" Ajust / 調整樣版:SystemMain樣版
-*------------------------------------------------------------------------*/
/*把調整樣版的css樣式寫在這裡*/



/*------------------------------------------------------------------------*-
    $Your Component / 您自訂可共用的內容元件CSS樣式
-*------------------------------------------------------------------------*/
.btn-highlight,
.btn-highlight:hover {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 60px;
  font-size: 24px;
  color: #028fcf;
  text-decoration: none;
  text-align: center;
}




.data-route .data-station {
  display: inline-block;
  width: 42px;
  height: 22px;
}
.data-route .data-icon-to {
  display: inline-block;
  width: 8px;
  height: 16px;
  margin: 0px 4px 0 2px;
  background: transparent url(../images-template/img-content/icon-to.gif) center 4px no-repeat;
}

.data-list-status li > img {
  vertical-align: top;
}

.list{
  padding-left: 23px;
}
.list li{
  margin-bottom: 5px;
}


/*------------------------------------------------------------------------*-
    $Your Style in content area / 依各頁特殊規劃的所撰寫的CSS樣式
-*------------------------------------------------------------------------*/
/*網站首頁*/
.heading-style02-icon{
  position: relative;
  top: -2.5px;
  margin-right: 5px;
}
#pg-main-useRule .a-block-deco-heading,
#pg-main-useRule .a-block-deco-content{
  padding-left: 55px;
}
#pg-main-useRule .a-block-deco-heading:first-child{
  padding-left: 20px;
}

#btn-flight-info{
  background:  url(../images/images-demo/icon_main_searchFLT.png) 0 center no-repeat;
}
#btn-buy-ticket{
background:  url(../images/images-demo/icon_main_eticket.png) 0 center no-repeat;
}
#btn-seat-list{
background:  url(../images/images-demo/icon_main_list.png) 0 center no-repeat;
}










#users_tickets_info_all_wrapper {
  width: 1800px;
}

#users_tickets_info_all {
  width: 1800px;
}

/* style 1 */
.uti-col-id00 {
  background-color: #ffebf3;
}

.uti-col-discount01 {
  background-color: #fffbe7;
}

.uti-col-discount02 {
  background-color: #fef8db;
}

.uti-col-discount03 {
  background-color: #fef5c7;
}

.uti-col-cized {
  background-color: #e0faf8;
}

.uti-col-fs {
  background-color: #e9f2ff;
}

.data-select-ticket {
  margin-right: 10px;
}

.screenkeyboard-numbers {
  background-color: #e0f5ff;
  border: 2px solid #bedeed;
}

.screenkeyboard-numbers td {
  padding: 3px;
}

.et-ss-col02-label {
  width: 80px;
}

.et-ss-btn-search {
  width: 116px;
}

@media (min-width: 1024px) {
  #et_seat_routeSetting .listView-alist .lv-header {
    width: 10%;
  }
  #et_seat_routeSetting .listView-alist .lv-body {
    width: 70%;
  }
  #et_seat_routeSetting .listView-alist .lv-footer {
    width: 20%;
  }
}
@media (min-width: 1080px) {
  #et_seat_routeSetting .listView-alist .lv-body .column-01 {
    width: 55%;
    float: left;
  }
  #et_seat_routeSetting .listView-alist .lv-body .column-02 {
    width: 45%;
    float: left;
  }
}
@media (min-width: 1280px) {
  #et_seat_routeSetting .listView-alist .lv-header {
    width: 10%;
  }
  #et_seat_routeSetting .listView-alist .lv-body {
    width: 75%;
  }
  #et_seat_routeSetting .listView-alist .lv-footer {
    width: 15%;
  }
}
@media (max-width: 767px) {
  #et_seat_routeSetting .listView-alist .lv-header {
    width: 100%;
    float: none;
  }
  #et_seat_routeSetting .listView-alist .lv-body {
    width: 100%;
    float: none;
  }
  #et_seat_routeSetting .listView-alist .lv-footer {
    width: 100%;
    float: none;
  }
}

/*------------------------------------------------------------------------*-
    $Third Party / 其他第三方樣式
-*------------------------------------------------------------------------*/