<form [formGroup]="radioFormGroup">
  <div style="margin-bottom: 15px">
    <div style="display: inline-block;margin-right:15px ">
      <input type="radio" name="gender" value="dept" formControlName="gender" (click)="firstGetDeptData()"> 依單位查詢
    </div>
    <div style="display: inline-block;margin-right:15px ">
      <input type="radio" name="gender" value="deptLevel" formControlName="gender" (click)="firstGetDeptData_Level()">
      一級單位以下查詢
    </div>
    <div *ngIf="showAssistantOrAdmin" style="display: inline-block;margin-right:15px ">
      <input type="radio" name="gender" value="AssistantOrAdminLevel" formControlName="gender"
        (click)="firstGetDeptData_Assistant()"> 行政權限查詢

    </div>
    <div style="display: inline-block;">
      <input type="radio" name="gender" value="keyinput" formControlName="gender"> 關鍵字查詢
    </div>
  </div>
  <div *ngIf="radioFormGroup.get('gender').value == 'dept'">

    <div *ngFor="let selectBox of allSelectBox;let selectIndex = index">
      <select class="form-control" (change)="onChange($event,selectIndex,selectBox.Level)">
        <ng-container *ngFor="let selectBox_dept of selectBox.Dept;">
          <option *ngIf="selectBox_dept.Base?.length >0 " [value]="selectBox_dept.DeptID">
            {{selectBox_dept.DeptNameC}}
          </option>
          <ng-container *ngIf="!(selectBox_dept.Base?.length >0)">
            <ng-container *ngIf="selectBox_dept.DeptID !=-1">
              <option [value]="selectBox_dept.DeptID" style="color: rgb(185, 185, 185)" [value]="selectBox_dept.DeptID">
                {{selectBox_dept.DeptNameC}}
              </option>
            </ng-container>
            <ng-container *ngIf="selectBox_dept.DeptID ==-1">
              <option [value]="selectBox_dept.DeptID" style="color: inherit" [value]="selectBox_dept.DeptID">
                請選擇單位
              </option>
            </ng-container>
          </ng-container>
        </ng-container>
      </select>
    </div>

    <div style="padding: 0px;margin-bottom: 20px">
      <h4>選擇單位:{{DeptName()}}</h4>
      <div *ngIf="selectBase_disable()" style="color:#e5004f">此單位無員工</div>
      <ngx-select [items]="searchBase" allowClear="true" (selectionChanges)="search($event)" placeholder="請選擇員工或是輸入搜尋員工"
        [disabled]="selectBase_disable()" noResultsFound="此條件找不到員工">
      </ngx-select>
    </div>
  </div>
  <div *ngIf="radioFormGroup.get('gender').value == 'deptLevel'">

    <div *ngFor="let selectBox of allSelectBox_Level;let selectIndex = index">
      <select class="form-control" (change)="onChange_Level($event,selectIndex,selectBox.Level)">
        <ng-container *ngFor="let selectBox_dept of selectBox.Dept;">
          <option *ngIf="selectBox_dept.Base?.length >0 " [value]="selectBox_dept.DeptID">
            {{selectBox_dept.DeptNameC}}
          </option>
          <ng-container *ngIf="!(selectBox_dept.Base?.length >0)">
            <ng-container *ngIf="selectBox_dept.DeptID !=-1">
              <option [value]="selectBox_dept.DeptID" style="color: rgb(185, 185, 185)" [value]="selectBox_dept.DeptID">
                {{selectBox_dept.DeptNameC}}
              </option>
            </ng-container>
            <ng-container *ngIf="selectBox_dept.DeptID ==-1">
              <option [value]="selectBox_dept.DeptID" style="color: inherit" [value]="selectBox_dept.DeptID">
                請選擇單位
              </option>
            </ng-container>
          </ng-container>
        </ng-container>
      </select>
    </div>

    <div style="padding: 0px;margin-bottom: 20px">
      <h4>選擇單位:{{DeptName_Level()}}</h4>
      <div *ngIf="selectBase_disable_Level()" style="color:#e5004f">此單位無員工</div>
      <ngx-select [items]="searchBase_Level" allowClear="true" (selectionChanges)="search($event)"
        placeholder="請選擇員工或是輸入搜尋員工" [disabled]="selectBase_disable_Level()" noResultsFound="此條件找不到員工">
      </ngx-select>
    </div>
  </div>
  <div *ngIf="radioFormGroup.get('gender').value == 'AssistantOrAdminLevel'">

    <div *ngFor="let selectBox of allSelectBox_Assistant;let selectIndex = index">
      <select class="form-control" (change)="onChange_Assistant($event,selectIndex,selectBox.Level)">
        <ng-container *ngFor="let selectBox_dept of selectBox.Dept;">
          <option *ngIf="selectBox_dept.Base?.length >0 " [value]="selectBox_dept.DeptID">
            {{selectBox_dept.DeptNameC}}
          </option>
          <ng-container *ngIf="!(selectBox_dept.Base?.length >0)">
            <ng-container *ngIf="selectBox_dept.DeptID !=-1">
              <option [value]="selectBox_dept.DeptID" style="color: rgb(185, 185, 185)" [value]="selectBox_dept.DeptID">
                {{selectBox_dept.DeptNameC}}
              </option>
            </ng-container>
            <ng-container *ngIf="selectBox_dept.DeptID ==-1">
              <option [value]="selectBox_dept.DeptID" style="color: inherit" [value]="selectBox_dept.DeptID">
                請選擇單位
              </option>
            </ng-container>
          </ng-container>
        </ng-container>
      </select>
    </div>

    <div style="padding: 0px;margin-bottom: 20px">
      <h4>選擇單位:{{DeptName_Assistant()}}</h4>
      <div *ngIf="selectBase_disable_Assistant()" style="color:#e5004f">{{showNonBase}}</div>
      <ngx-select [items]="searchBase_Assistant" allowClear="true" (selectionChanges)="search($event)" placeholder="請選擇員工或是輸入搜尋員工"
        [disabled]="selectBase_disable_Assistant()" noResultsFound="此條件找不到員工">
      </ngx-select>
    </div>
  </div>
  <div *ngIf="radioFormGroup.get('gender').value == 'keyinput'">
    <app-serchkeybaselevel (click_saveEmptoView)="change($event)" [proxyLockID_keysearch]="proxyLockID"
      [systemID]="searchkeymanID"></app-serchkeybaselevel>
  </div>
</form>