
<div *ngIf="showLogin" class="login-wapper">
    <div class="title-type">員工差勤系統</div>
    <div class="login-min-box-wapper">
        <div class="icon-Login-min">
            <img src="./assets/jbIcon/icon-Login-min.png" alt="">
        </div>
        <div class="input-box">
            <form [formGroup]="loginFromGroup" (ngSubmit)="login()">

                <span class="input-BoxText-type">請登入您的帳號密碼</span>
                <div class="wrap-input100">
                    <input id="user_id" class="input100" type="text" formControlName="account" autocomplete="off"
                        placeholder="輸入工號" />
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->
                        <img src="./assets/jbIcon/icon_user-circle.png" alt="" width="20px" height="20px">
                    </span>
                </div>
                <div class="wrap-input100">
                    <input #user_password id="user_password" class="input100" type="password"
                        formControlName="password" placeholder="輸入密碼"/>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <!-- <i class="fa fa-lock" aria-hidden="true"></i> -->
                        <img src="./assets/jbIcon/icon_user-password.png" alt="" width="20px" height="20px">
                    </span>
                </div>
                <div>
                    <input class="btn-login" type="submit" value="登入" />
                </div>
                <div class="footer-text">
                    <a class="Forgot" href="#"><img src="./assets/jbIcon/icon-information-guize.png" alt=""></a>
                    <span>&nbsp;</span>
                    <a class="Forgot text-Password" href=""><span class="text-Password">忘記密碼</span></a>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <a class="Change text-Password" href="#"><span class="Change text-Password">修改密碼</span></a>
                </div>
            </form>
        </div>
    </div>
</div>
