<div *ngIf="showLogin" class="login-wapper">
    <div class="title-type">員工差勤系統</div>
    <div class="login-min-box-wapper">
        <div class="icon-Login-min">
            <img src="./assets/jbIcon/icon-Login-min.png" alt="">
        </div>
        <div class="input-box">
            <form [formGroup]="loginFromGroup" (ngSubmit)="login()">

                <span class="input-BoxText-type">請登入您的帳號密碼</span>
                <div class="wrap-input100">
                    <input id="user_id" class="input100" type="text" formControlName="account" autocomplete="off"
                        placeholder="輸入工號" />
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->
                        <img src="./assets/jbIcon/icon_user-circle.png" alt="" width="20px" height="20px">
                    </span>
                </div>
                <div class="wrap-input100">
                    <input #user_password id="user_password" class="input100" type="password" formControlName="password"
                        placeholder="輸入密碼" />
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <!-- <i class="fa fa-lock" aria-hidden="true"></i> -->
                        <img src="./assets/jbIcon/icon_user-password.png" alt="" width="20px" height="20px">
                    </span>
                </div>
                <div>
                    <input class="btn-login" type="submit" value="登入" />
                </div>
                <div class="footer-text">
                    <a class="Forgot" href="#">
                        <img src="./assets/jbIcon/icon-information-guize.png" width="16px" height="16px" />
                    </a>
                    <span>&nbsp;</span>
                    <a class="Forgot text-Password" href=""><span class="text-Password">忘記密碼</span></a>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <a class="Change text-Password" href="#"><span class="Change text-Password">修改密碼</span></a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="a-block" style="
padding: 0px 200px;">
    <div class="a-block-body  a-block-container">
        <div style="display: inline-block;margin-right:15px ">
            <input type="radio" [(ngModel)]="changeType" value="line">折線圖
            <input type="radio" [(ngModel)]="changeType" value="column">柱狀圖
            <button (click)="saqe()">click</button>
        </div>
        <kendo-chart *ngIf="show" (render)="onRender($event)" [seriesColors]="['#4F81BD']">
            <kendo-chart-axis-defaults [labels]="labels" [line]="line" [majorGridLines]="majorGridLines">
            </kendo-chart-axis-defaults>
            <kendo-chart-category-axis>
                <kendo-chart-category-axis-item [categories]=categories name="categoryAxis">
                    <kendo-chart-category-axis-item-crosshair>
                        <kendo-chart-category-axis-item-crosshair-tooltip>
                        </kendo-chart-category-axis-item-crosshair-tooltip>
                    </kendo-chart-category-axis-item-crosshair>
                </kendo-chart-category-axis-item>
            </kendo-chart-category-axis>

            <kendo-chart-value-axis>
                <kendo-chart-value-axis-item name="valueAxis" [crosshair]="crosshair">
                </kendo-chart-value-axis-item>
            </kendo-chart-value-axis>

            <kendo-chart-title text="人數占比" color="blue" font="bold  20px sans-serif">
            </kendo-chart-title>
            <kendo-chart-series>
                <kendo-chart-series-item [data]="seriesData" [type]="changeType" >
                    <kendo-chart-series-item-labels format="{0}%">
                    </kendo-chart-series-item-labels>
                </kendo-chart-series-item>
            </kendo-chart-series>
        </kendo-chart>
    </div>
</div>