<!-- <div [innerHTML]="htmlContent | safeHtml"></div> -->

<div class="a-block">
    <div class="a-block-body  a-block-container">
        <div class="row" style="margin: 0px;margin-bottom: 10px">
            <div class="row col-md-4 col-xs-12" style="margin: 0px;padding: 0px">
                <div class="col-md-3 col-xs-12 InputTitle">
                    <span>
                        <ng-container i18n>公告日期</ng-container>:
                    </span>
                </div>
                <div class="row col-md-9 col-xs-12" style="margin: 0px;padding: 0px">
                    <div class="col-md-8 col-xs-10" style=" padding-top: 3px;">
                        <input [matDatepicker]="StartDatePicker" [(ngModel)]="getNewsDetail.PostDate"
                            class="form-control" type="text" />
                        <mat-datepicker #StartDatePicker touchUi [calendarHeaderComponent]="exampleHeader">
                        </mat-datepicker>
                    </div>
                    <div class="col-md-4 col-xs-2">
                        <input (click)="StartDatePicker.open()" data-modal="true" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                                      cursor: pointer;
                                      color: transparent;
                                      border: 1px solid transparent;
                                      width: 50px;
                                      height: 40px;
                                      ">
                    </div>
                </div>
            </div>
            <div class="row col-md-4 col-xs-12" style="margin: 0px;padding: 0px">
                <div class="col-md-3 col-xs-12 InputTitle">
                    <span>
                        <ng-container i18n>失效日期</ng-container>:
                    </span>
                </div>
                <div class="row col-md-9 col-xs-12" style="margin: 0px;padding: 0px">
                    <div class="col-md-8 col-xs-10" style=" padding-top: 3px;">
                        <input [matDatepicker]="EndDatePicker" [(ngModel)]="getNewsDetail.PostDeadline"
                            class="form-control" type="text" />

                        <mat-datepicker #EndDatePicker touchUi [calendarHeaderComponent]="exampleHeader">
                        </mat-datepicker>
                    </div>
                    <div class="col-md-4 col-xs-2">

                        <input (click)="EndDatePicker.open()" data-modal="true" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                          cursor: pointer;
                          color: transparent;
                          border: 1px solid transparent;
                          width: 50px;
                          height: 40px;
                          ">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 0px;margin-bottom: 10px">
            <div class="col-md-1 col-xs-12 InputTitle">
                <span>
                    <ng-container i18n>標題</ng-container>:
                </span>
            </div>
            <div class="col-md-11 col-xs-12">
                <input class="form-control" type="text" [(ngModel)]="getNewsDetail.NewsHead" />
            </div>
        </div>
        <div class="row" style="margin: 0px;margin-bottom: 10px">
            <div class="col-md-1 col-xs-12 InputTitle">
                <span>
                    <ng-container i18n>文章排序</ng-container>:
                </span>
            </div>
            <div class="col-md-2 col-xs-12">
                <input class="form-control" type="text" [(ngModel)]="getNewsDetail.Sort" />
            </div>
            <div class="col-md-9 col-xs-12" style="padding-top: 7px;">
                <span>
                    (<ng-container i18n>排序規則:數字越小排越前面</ng-container>)
                </span>
            </div>
        </div>
        <div class="row" style="margin: 0px;margin-bottom: 10px">
            <div class="col-md-1 col-xs-12 InputTitle" style="margin-top: 6px;">
                <span>
                    <ng-container i18n>附檔</ng-container>:
                </span>
            </div>
            <div class="col-md-11 col-xs-12" style="padding-top: 7px;">
                <app-fileuploadbutton (fileChange)="onSaveFile($event)"></app-fileuploadbutton>
            </div>
        </div>
        <div class="row" style="margin: 0px;margin-bottom: 10px">
            <p class="col-md-1 col-xs-12 InputTitle">
                <ng-container i18n>內容</ng-container>:
            </p>
        </div>
        <div style="margin-bottom: 20px">
            <quill-editor [(ngModel)]="htmlContent" [modules]="config" [style]="{height: '350px'}" placeholder=''>
            </quill-editor>
        </div>
        <div class="row ">
            <div class="col-md-3 col-xs-12 " style="margin-bottom: 10px;margin-right: 20px;"></div>
            <div class="col-md-6 col-xs-12 row" style="margin: 0px;padding: 0px">
                <div class="col-md-8 col-md-push-4  col-xs-12 " style="margin-bottom: 15px;">
                    <button class="btn btn-primary" (click)="checkUploadClick()">
                        <ng-container i18n>儲存</ng-container>
                    </button>
                </div>
                <div class="col-md-4 col-md-pull-8  col-xs-12 ">
                    <button class="btn btn-default" [routerLink]="['../NewsManageComponent']">
                        <ng-container i18n>取消</ng-container>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="AddNews_checksenddialog" tabindex="-1" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog  modal-sm vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" style="text-align: center">
                        <ng-container i18n>確認儲存?</ng-container>
                    </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="uploadClick()">
                        <ng-container i18n>儲存</ng-container>
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <ng-container i18n>取消</ng-container>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--dialog確認刪除 -->