/* 明細table頭 */
.D_leftP_toppadding {
    text-align: left;
    padding: 0px;
    padding-top: 7px;
}

.D_tabletop {
    display: inherit;
}

.P_date {
    display: none;
}

.P_context {
    display: none;
}

.D_context {
    text-align: center;
    border: 1px solid #e0e0e0;
    border-right: 0px;
    border-top: 0px;
    padding: 5px 15px;
}

.P_left {
    text-align: right;
}

/* 明細table尾*/
.tag_red {
    border-radius: 14px;
    width: 55px;
    height: 27px;
    line-height: 27px;
    /* margin: 0px 10px 10px 0px; */
    text-align: center;
    display: inline-block;
    border: solid 1px #d0021b;
    color: #d0021b;
}

.tag_blue {
    border-radius: 14px;
    width: 55px;
    height: 27px;
    line-height: 27px;
    /* margin: 0px 10px 10px 0px; */
    text-align: center;
    display: inline-block;
    border: solid 1px #002f7b;
    color: #002f7b;
}

.a-block-buttom {
    width: 850px;
    margin: 0 auto;

}

.inputTextarea {
    width: 100%;
    resize: none;
    height: 88px;
    /* margin-top: 5px; */
    display: block;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.5;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

}


@media (min-width: 1440px) {

    .a-block-buttom {
        width: 900px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
}

@media screen and (max-width:1000px) {

    /* 明細table頭 */
    .D_leftP_toppadding {
        padding-top: 0px;
    }

    .D_tabletop {
        display: none;
    }

    .P_date {
        background-color: #edf5ff;
        text-align: left;
        font-weight: bolder;
        display: block;
        position: unset;
        padding: 5px 20px;
        border: 1px solid #e0e0e0;
    }

    .P_context {
        /* background-color: #ffffff; */
        text-align: left;
        display: inherit;
        padding: 3px 20px;
    }

    .D_context {
        display: none;
    }

    .P_left {
        text-align: left;
    }

    /* 明細table尾*/
}

@media (max-width: 800px) {
    ::ng-deep #footer {
        display: none;
    }
}

::ng-deep .vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}

::ng-deep .vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}

::ng-deep .modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
}


@media screen and (max-width:550px) {
    #Approveddialog .modal-dialog {
        width: 300px;
    }

    #Approveddialog .modal-footer {
        text-align: center
    }

    #Sendbackdialog .modal-dialog {
        width: 300px;
    }

    #Sendbackdialog .modal-footer {
        text-align: center
    }

    #PutForwarddialog .modal-dialog {
        width: 300px;
    }

    #PutForwarddialog .modal-footer {
        text-align: center
    }
}
