<div class="a-block">
  <div class="a-block-body  a-block-container">
    <h3>
      <ng-container i18n>調班單明細</ng-container>
    </h3>
    <div class="row" style="border-bottom: 1px dashed #dcdcdc;padding: 0;margin: 0;padding-top: 20px;">
      <div class="col-md-6 col-xs-12" style="margin-bottom: 10px">
        <label class="col-md-4 control-label" style="padding-left: 0px;text-align: right">
          <ng-container i18n>表單編號</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <div class="row ">
            <div>
              <span style="color: #028fcf">{{getChangeDataTitle.showProcessFlowID}}</span>

              <a style="cursor: pointer;">
                <span *ngIf="getChangeDataTitle.Take && getShowTakeDetail" data-toggle="modal"
                  data-target="#Cancelformdialog">
                  (<ng-container i18n>抽單</ng-container>)
                </span>
              </a>
              <a style="cursor: pointer;" data-toggle="modal" (click)="checkTransSignForm(getChangeDataTitle)">
                <span *ngIf="getChangeDataTitle.TransSign && getShowTransSignDetail">
                  (<ng-container i18n>轉呈</ng-container>)
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6  col-xs-12" style="margin-bottom: 10px;">
        <div class="col-md-3  col-xs-12 P_right">
          <label class="control-label ">
            <ng-container i18n>表單狀態</ng-container>
          </label>
        </div>
        <div class="col-md-7  col-xs-12 P_LFZero" style="padding-right: 0px">
          <div *ngIf="getChangeDataTitle.ManageEmpName && getChangeDataTitle.State =='1'" style="padding-right: 0px">
            <label class="tag_blue" style="margin-right: 5px">
              <ng-container i18n>呈核中</ng-container>
            </label>
            <span *ngIf="getChangeDataTitle.ManageEmpName">
              {{getChangeDataTitle.ManageEmpName}}
              <ng-container i18n> 審核中 </ng-container>
            </span>
          </div>
          <div *ngIf="getChangeDataTitle.State == '3'" style="padding-right: 0px">
            <label class="tag_skyblue" style="margin-right: 5px">
              <ng-container i18n>已核准</ng-container>
            </label>
            <span *ngIf="showAprovedName">
              {{showAprovedName}}
              <ng-container i18n>核單</ng-container>
            </span>
          </div>
          <div *ngIf="getChangeDataTitle.State == '2'" class="tag_red" style="padding-right: 0px">
            <label style="color: #d0021b">
              <ng-container i18n>重擬</ng-container>
            </label>
          </div>
          <div *ngIf="getChangeDataTitle.State == '7'" class="tag_gray" style="padding-right: 0px">
            <label style="color: #9b9b9b">
              <ng-container i18n>已抽單</ng-container>
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- form-group end -->
    <div class="row" style="border-bottom: 1px dashed #dcdcdc;padding: 15px 0px;margin: 0;">
      <div class="col-md-6  col-xs-12">
        <label class="col-md-4 control-label" style="padding-left: 0px;text-align: right">
          <ng-container i18n>員工</ng-container>
        </label>
        <div class="col-md-8  col-xs-12">
          <div class="row ">
            <div>
              <span>{{getChangeDataTitle.EmpID1}} {{getChangeDataTitle.EmpNameC1}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- form-group end -->

    <div class="row" style="border-bottom: 1px dashed #dcdcdc;padding: 0;margin: 0;    padding-top: 20px;">
      <div class="col-md-6 " style="margin-bottom: 10px">
        <label class="col-md-4 control-label" style="padding-left: 0px;text-align: right">
          <ng-container i18n>調班事由</ng-container>
        </label>
        <div class="col-md-8">
          <div class="row ">
            <div>
              <span>{{Note}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- form-group end -->



    <div *ngFor="let showCheckDetail of ShiftRoteFlowAppsDetailArray" style="margin-bottom: 20px;">
      <div class="form-group" style="border:1px solid #028fcf;margin-top: 20px;padding: 15px 0px">
        <div class="row" style="padding: 0px;margin: 0px">
          <div class="col-md-2 col-xs-12 P_left">
            <span style="color: #028fcf">{{showCheckDetail.ShiftRoteDate}}</span>
          </div>
          <div class="col-md-10  col-xs-12">
            <ng-container i18n>原始</ng-container>
            <span style="margin: 0px 10px;" class="Rote RoteLink"
              (click)="bt_Show_RoteInfo(showCheckDetail.RoteID1)">{{showCheckDetail.RoteName1}}</span>
            <ng-container i18n>請求調成</ng-container>
            <span style="margin: 0px 10px;" class="Rote RoteLink"
              (click)="bt_Show_RoteInfo(showCheckDetail.RoteID2)">{{showCheckDetail.RoteName2}}</span>
          </div>
        </div>
      </div>
      <!-- form-group end -->
    </div>
    <app-from-sign [getProcessFlowID]="getChangeDataTitle.ProcessFlowID"></app-from-sign>
    <!--歷程主管意見-->
    <div style="text-align:center">
      <button class="btn btn-primary btnFeatures" data-toggle="modal" (click)="show_signRecord()">
        <ng-container i18n>簽核流程紀錄</ng-container>
      </button>
      <button class="btn btn-default btnFeatures" (click)="previouspage()">
        <ng-container i18n>回上一頁</ng-container>
      </button>
    </div>

  </div>

  <div class="modal" id="Cancelformdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog  modal-sm vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="mySmallModalLabel" style="text-align: center">
              <ng-container i18n>確認抽單?</ng-container>
            </h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
              (click)="Cancelform_Click()">
              <ng-container i18n>送出</ng-container>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <ng-container i18n>取消</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--dialog確認抽單送出 -->
  <div class="modal" id="signRecord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="mySmallModalLabel">
              <ng-container i18n>簽核流程紀錄</ng-container>
            </h4>
          </div>
          <div class="modal-body">
            <app-from-sign-table *ngIf="signRecordDialog" [getProcessFlowID]="getChangeDataTitle.ProcessFlowID">
            </app-from-sign-table>

            <button type="button" class="btn btn-default" data-dismiss="modal">
              <ng-container i18n>關閉</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--dialog簽核流程紀錄-->


  <div class="modal" id="TransSignformdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog  modal-md vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="mySmallModalLabel" style="text-align: center">
              <ng-container i18n>確認轉呈?</ng-container>
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <p>
                <ng-container i18n>簽核人員</ng-container>
              </p>
              <app-select-signer (selectBaseChange)="chooseBase($event)" [sysEmp$]="onChangeReviewMan$">
              </app-select-signer>
            </div>
          </div>
          <div class="modal-footer" style="text-align: center">
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
              (click)="TransSignform_Click()">
              <ng-container i18n>送出</ng-container>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <ng-container i18n>取消</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--dialog轉呈確認送出 -->
  <div class="modal" id="TransSignformSussesdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog  modal-sm vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <!-- <span aria-hidden="true">×</span> -->
            </button>
            <h4 class="modal-title" style="text-align: center">
              <ng-container i18n>轉呈完成</ng-container>
            </h4>
          </div>
          <div class="modal-body">
            <div style="text-align: center;margin-bottom: 10px">
              <img src="./assets/images-template/icon-success.png" />
            </div>
            <div style="text-align: center">
              <ng-container i18n>已成功轉呈</ng-container>
            </div>
          </div>
          <div class="modal-footer" style="text-align: center">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              <ng-container i18n>確定</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--dialog轉呈送出成功 -->
  <div class="modal" id="RoteInf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <!-- <h4 class="modal-title" id="mySmallModalLabel">{{showSearchEmp.EmpCode}} 出勤班表</h4> -->
            <h4 class="modal-title" id="mySmallModalLabel">
              <ng-container i18n>班型資訊</ng-container>
            </h4>
          </div>
          <div class="modal-body">
            <app-rote-inf [GetRoteInfo$]="Ob_setGetRoteInfo$"></app-rote-inf>
            <div style="text-align: center">
              <button type="button" class="btn btn-primary" data-dismiss="modal">
                <ng-container i18n>確定</ng-container>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--dialog班表期間-->