    
#RemarksTable th{
    text-align: center;
  }
  ::ng-deep #RemarksTable .mat-sort-header-container{
    display: unset;
  }
  
  ::ng-deep #RemarksTable .mat-sort-header-button{
    padding-left: 18px;
    display: unset;
  }
  ::ng-deep #RemarksTable .mat-sort-header-arrow{ 
    display: inline-block;
    color: white
  }
  #RemarksTable .mat-sort-header-arrow{ 
    display: inline-block;
    color: white
  }
  #RemarksTable tr{
    height: auto;
  }
    
    .P_title{
        padding-top: 2px;
        text-align: right
    }
    .P_secondtitle{
        padding-top: 2px;
        text-align: right
    }

    .P_button{    
        padding-left: 20px;
        padding: 0px;
        text-align: center
    }
    @media screen and (max-width:992px) {
        
    .P_title{
        text-align: left;
    }
    
    .P_secondtitle{
        padding: 0px;
        text-align: left
    }
    .P_radio{
        padding-top: 15px
    }
    .P_button{
        padding: 0;
        padding-top: 10px;
        text-align: left
    }
}
