<div *ngIf="showFormSign.length==0" style="margin: 10px">
  <ng-container i18n>無簽核流程紀錄</ng-container>
</div>
<table *ngIf="showFormSign.length>0"
  class="table table-bordered table-striped table-hover table-content-center table-style01">
  <thead>
    <tr>
      <th style="background-image: unset;cursor: unset">
        <ng-container i18n>姓名</ng-container>
      </th>
      <th>
        <ng-container i18n>時間</ng-container>
      </th>
      <th>
        <ng-container i18n>動作</ng-container>
      </th>
      <th>
        <ng-container i18n>對象</ng-container>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let showFormSign of showFormSign">
      <td>{{showFormSign.EmpNameC}}</td>
      <td>{{showFormSign.SignDate}}</td>
      <td>{{showFormSign.NodeName}}</td>
      <td>{{showFormSign.ToEmpNameC}}</td>
    </tr>
  </tbody>
</table>
<!--dialog簽核流程紀錄-->