<div class="row" style="margin: 0px;">
    <div class="col-md-4 col-md-push-8 col-xs-12 RightBlock">
        <div class="vaBlock">
            <div style="font-weight: bold;margin-bottom: 10px;">
                <img src="./assets/jbIcon/icon-vacation.png" width="25px" height="30px" style="margin-right: 7px;" />
                <div style="display: inline-block;font-size: 20px;">
                    <ng-container i18n>我的餘假</ng-container>
                </div>
            </div>
            <div style="min-height: 140px;padding:0px 20px">
                <div class="row P_inf" style="margin:0;">
                    <div *ngFor="let HoliDayBalance of showAllHoliDayBalance" class="row" style="padding: 0;margin: 0;
                                    margin-bottom: 5px;">
                        <div class="col-md-6 col-xs-12" style="padding: 0;margin: 0;">
                            {{HoliDayBalance.HoliDayKindNameC}}</div>
                        <div class="col-md-6 col-xs-12" style="padding: 0;margin: 0;color: #4087ce;">
                            {{HoliDayBalance.useday}} 日 {{HoliDayBalance.usehour}} 時 {{HoliDayBalance.useminute}} 分
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center;margin-top: 10px">
                <div style="cursor: pointer;color:#ed3d54" [routerLink]="['/nav/SurplusLeaveComponent']">
                    <ng-container i18n>More...</ng-container>
                </div>
            </div>
        </div>
        <div class="reviewBlock">
            <div style="color: #fff;">
                <div>
                    <div>
                        <div style="text-align: center;">
                            <span style="font-size: 45px;">
                                {{ReviewCount.allCount}}<ng-container i18n>筆</ng-container>
                            </span>
                        </div>
                        <div style="text-align: center; font-size: 25px;">
                            <span>
                                <ng-container i18n>待審核表單</ng-container>
                            </span>
                        </div>

                    </div>
                    <div style="text-align: right;
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    border-bottom: 1px solid;">
                        <span style="cursor: pointer;"  data-toggle="collapse" href="#collapseOne" (click)="onCheckCollapseIn()">
                            <span id="_text">
                                <ng-container i18n>收合</ng-container>
                            </span>
                            <img id="_img" src="./assets/images-template/icon-arrow.png"
                                style=" transform:rotate(-180deg);height: 20px;width: 20px;" />
                        </span>
                    </div>
                </div>
                <div id="collapseOne" class="row" style="margin: 0px;font-weight: lighter;">
                    <div class="col-md-7 col-xs-12 row" style="margin:0;padding: 0;">
                        <div style="margin-bottom: 15px;">
                            <span style="margin-right: 5px;">
                                <ng-container i18n>請假單</ng-container>
                            </span>
                            {{ReviewCount.vaCount}}
                            <ng-container i18n>
                                筆
                            </ng-container>
                        </div>
                        <div style="margin-bottom: 15px;">
                            <span style="margin-right: 5px;">
                                <ng-container i18n>銷假單</ng-container>
                            </span>
                            {{ReviewCount.delCount}}
                            <ng-container i18n>
                                筆
                            </ng-container>
                        </div>
                        <div style="margin-bottom: 15px;">
                            <span style="margin-right: 5px;">
                                <ng-container i18n>考勤異常簽認單</ng-container>
                            </span>
                            {{ReviewCount.forgetCount}}
                            <ng-container i18n>
                                筆
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12 row" style="margin:0;padding: 0;">
                        <div style="margin-bottom: 15px;">
                            <span style="margin-right: 5px;">
                                <ng-container i18n>調班單</ng-container>
                            </span>
                            {{ReviewCount.changeCount}}
                            <ng-container i18n>
                                筆
                            </ng-container>
                        </div>
                        <div style="margin-bottom: 15px;">
                            <span style="margin-right: 5px;">
                                <ng-container i18n>加班單</ng-container>
                            </span>
                            0
                            <ng-container i18n>
                                筆
                            </ng-container>
                        </div>

                    </div>
                    <div style="text-align: right;cursor: pointer;" [routerLink]="['/nav/reviewform']">
                        <img src="./assets/jbIcon/icon_more.png" width="40px" height="15px" style="margin-right: 7px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-pull-4 col-xs-12">
        <div style="
        background-color: #fff;
        margin-bottom: 10px;
        padding: 10px 25px;
        border-radius: 10px;
        box-shadow: 1px 1px 7.5px 0 rgba(0, 0, 0, 0.15);
        min-height: 250px;">
            <div style="font-weight: bold;margin-bottom: 10px;">
                <img src="./assets/jbIcon/icon_megaphone.png" width="27px" height="25px" style="margin-right: 7px;" />
                <div style="display: inline-block;font-size: 20px;">
                    <ng-container i18n>近期公告</ng-container>
                </div>
            </div>
            <div style="padding: 0px 20px;">
                <div>
                    <div style="min-height: 160px;">
                        <div *ngIf="AllNewsList.length>0">
                            <div *ngFor="let oneNews of AllNewsList">
                                <div data-toggle="modal" data-target="#showNews" (click)="goToNewsPage(oneNews)"
                                    class="row" style="margin:0px;cursor: pointer;">
                                    <div class="col-md-10 col-xs-8">
                                        <p style="word-break: break-all;">{{oneNews.ShowNewsHead}}</p>
                                    </div>
                                    <div class="col-md-2 col-xs-4">
                                        <div style="text-align: right">{{oneNews.PostDate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="AllNewsList.length==0" style="padding: 0px 15px;">
                            <ng-container i18n>無</ng-container>
                        </div>
                    </div>
                    <div style="text-align: center;margin-top: 10px">
                        <div style="cursor: pointer;color:#ed3d54" [routerLink]="['/nav/NewsShowAllComponent']">
                            <ng-container i18n>More...</ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 0;padding:0">
            <div class="col-md-6 col-xs-12 P_zero_DLZ">
                <div style="
                    margin-bottom: 10px;
                    padding: 20px 25px;
                    border-radius: 10px;
                    box-shadow: 1px 1px 7.5px 0 rgba(0, 0, 0, 0.15);
                    min-height: 200px;
                    background-color: #fff;">
                    <div style="
                        font-size: 20px;
                        font-weight: 500;
                        text-align: center;
                        margin-bottom: 5px;">
                        <span i18n>員工考勤異常</span>
                    </div>
                    <div style="color: #969696;text-align: center;
                        margin-bottom: 10px;">
                        <span i18n class="mangerblocklefthourtitle">每小時更新</span>
                    </div>
                    <div style="text-align: center;" class="row" [routerLink]="['/nav/PersonnelSearchComponent']">
                        <div class="col-md-6 col-xs-6 ">
                            <div style="font-size: 14px;box-shadow: none;color: #969696">
                                <ng-container i18n>今日</ng-container>
                                {{showTodayDateString}}
                            </div>
                            <span style="padding-bottom: 3px;text-align: center;box-shadow: none;">
                                <span
                                    style="color: #4087ce;font-size: 50px;box-shadow: none;">{{TodayAttend.length}}</span>
                            </span>
                            <span style="font-size: 16px;box-shadow: none;">
                                <ng-container i18n>人</ng-container>
                            </span>
                        </div>
                        <div class="col-md-6 col-xs-6 ">
                            <div style="font-size: 14px;box-shadow: none;color: #969696">
                                <ng-container i18n>昨日</ng-container>
                                {{showLastdayDateString}}
                            </div>
                            <span style="padding-bottom: 3px;text-align: center;box-shadow: none;">
                                <span
                                    style="color: #4087ce;font-size: 50px;box-shadow: none;">{{LastdayAttend.length}}</span>
                            </span>
                            <span style="font-size: 16px;box-shadow: none;">
                                <ng-container i18n>人</ng-container>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 P_zero_DRZ">
                <div>
                    <div style="
                        margin-bottom: 10px;
                        padding: 20px 25px;
                        border-radius: 10px;
                        box-shadow: 1px 1px 7.5px 0 rgba(0, 0, 0, 0.15);
                        background-color: #fff;">
                        <div style="
                                font-size: 20px;
                                font-weight: 500;
                                text-align: center;
                                margin-bottom: 5px;">
                            <ng-container i18n>今日請假人數</ng-container>
                        </div>

                        <div style="padding-top: 22px;text-align: center;" data-toggle="modal" data-target="#Abs_Today">
                            <span style="padding-bottom: 3px;">
                                <span style="font-size: 50px;color: #4087ce;">{{AllAbsEmp.length}}</span>
                            </span>
                            <span style="font-size: 16px;">
                                <ng-container i18n>人</ng-container>
                            </span>
                        </div>
                        <div style="text-align: center;color: #969696;font-size: 20px;">
                            <span>{{showDeptaName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="
        background-color: #fff;
        margin-bottom: 10px;
        padding: 10px 25px;
        border-radius: 10px;
        box-shadow: 1px 1px 7.5px 0 rgba(0, 0, 0, 0.15);">
            <div style="font-weight: bold;margin-bottom: 10px;">
                <img src="./assets/jbIcon/icon_work-time.png" width="35px" height="30px" style="margin-right: 7px;" />
                <div style="display: inline-block;font-size: 20px;">
                    <ng-container i18n>我的差勤表</ng-container>
                </div>
            </div>
            <!-- <div style="display: inline-block;color:#777777;
            margin-right: 5px;">
                <ng-container i18n>考勤異常數量</ng-container>
                :{{AttendExceptionalCount}}
            </div> -->
            <!-- <a data-toggle="modal" data-target="#AttendErrorTextDialog" style="cursor: pointer;">
                <img src="./assets/images-template/icon-question.png" />
            </a> -->
            <div *ngIf="weekjobs.length>0" appShowAttend>
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let weekjob of weekjobs;let i = index">
                        <div>
                            <div [ngClass]="showTitleClass(i)" *ngIf="weekjob.today"
                                style="color: #fff;background-color: #0068b7">{{weekjob.date}}</div>
                            <div [ngClass]="showTitleClass(i)" *ngIf="!weekjob.today">{{weekjob.date}}</div>
                            <div [ngClass]="showContentClass(i)">
                                {{weekjob.jobtime}}
                                <!-- <ng-container i18n>{weekjob.jobtime, select, 例假日 {qwe} other {{{weekjob.jobtime}}}}</ng-container> -->
                                <!-- <ng-container i18n>{weekjob.jobtime, select, 06:00-14:00 {qwe} other {{{weekjob.jobtime}}}}</ng-container> -->
                                <div style="height: 22px;">
                                    <div *ngIf="weekjob.isAttend" style="color: 
                                                    #d0021b;text-decoration:underline;cursor: pointer;"
                                        (click)="AtterrorClick(weekjob.realdate)">
                                        <ng-container i18n>考勤異常</ng-container>
                                    </div>
                                    <div *ngIf="weekjob.isVa" style="color:
                                                    #4a90e2;text-decoration:underline;cursor: pointer;"
                                        (click)="vaClick(weekjob.realdate,EmpCode)">
                                        <ng-container i18n>查閱請假單</ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
            <div *ngIf="weekjobs.length==0">
                <ng-container i18n>無出勤資料</ng-container>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="Abs_Today" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="mySmallModalLabel">
                        <ng-container i18n>今日請假清單</ng-container>({{showTodayString}})
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped table-hover table-content-center table-style01">
                        <thead>
                            <tr>
                                <th style="background-image: unset;cursor: unset">
                                    <ng-container i18n>工號</ng-container>
                                </th>
                                <th>
                                    <ng-container i18n>姓名</ng-container>
                                </th>
                                <th>
                                    <ng-container i18n>請假資訊</ng-container>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let AbsEmp of AllAbsEmp">
                                <td>{{AbsEmp.EmpID}}</td>
                                <td>{{AbsEmp.EmpName}}</td>
                                <td style="text-align: left">
                                    <div *ngFor="let inf_Abs  of AbsEmp.AbsInf">
                                        {{inf_Abs.startTime}} - {{inf_Abs.endTime}} ({{inf_Abs.holiday.HoliDayNameC}})
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <ng-container i18n>關閉</ng-container>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--dialog今日請假清單-->

<div class="modal" id="showNews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div>
                        <h2 style="margin: 0px;margin-right: 20px;
                        word-break: break-all;">{{showOneNew.NewsHead}}</h2>

                    </div>
                </div>
                <div class="modal-body" style="padding: 25px;padding-top: 15px;">
                    <div [innerHTML]="showOneNew.NewsBody | safeHtml">
                    </div>
                    <div *ngIf="showOneNew.UploadFileOld">
                        <ng-container *ngIf="showOneNew.UploadFileOld.length>0">
                            <div style="margin: 10px">
                                <span style="color: #777777;margin-right: 5px">
                                    <ng-container i18n>附檔</ng-container>:
                                </span>
                                <ng-container style="margin-right: 5px" *ngFor="let upload of showOneNew.UploadFileOld">
                                    <ng-container *ngIf="upload">
                                        <div style="display: inline-block;margin-right: 20px;word-break: break-all;">
                                            <img src="./assets/images-template/attach@2x.png" height='16px' width="12px"
                                                style="margin-right: 5px" />
                                            <a (click)="base64_NotFlow(upload)" style="cursor:pointer">
                                                {{upload.UploadName}}
                                            </a>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>

                    <span style="font-size: 15px;color: #777777;margin: 10px;
                        margin-bottom: 0px;display: inherit;text-align: right">{{showOneNew.PostDate}}</span>
                </div>
                <div class="modal-footer">
                    <div style="text-align: center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <ng-container i18n>關閉</ng-container>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--dialog近期公告-->




<div class="modal" id="RecentHoliday" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div style="text-align: center">
                        <h3 style="margin: 0px">{{SearchAttendDate}}
                            <ng-container i18n>請假資訊</ng-container>
                        </h3>
                    </div>
                </div>
                <div class="modal-body" style="padding: 25px;padding-top: 15px;">
                    <div class="row P_div" *ngFor="let oneVaData of ShowVa ; let i = index">
                        <div class="row col-md-2 col-xs-12 P_padding" style="margin: 0px">
                            <div class="col-md-12   col-xs-6 P_left" style="color: #028fcf;padding:0px;
                    margin-bottom: 10px;">
                                <ng-container i18n>請假明細</ng-container> <span>{{showDay(i)}}</span>
                            </div>
                            <div class="col-md-12   col-xs-6" style="padding: 0;text-align: right;">
                                <div class="tag_blue" *ngIf="oneVaData.State=='1'">
                                    <ng-container i18n>呈核中</ng-container>
                                </div>
                                <div class="tag_skyblue" *ngIf="oneVaData.State=='3'">
                                    <ng-container i18n>已核准</ng-container>
                                </div>
                                <div class="tag_red" *ngIf="oneVaData.State=='2'">
                                    <ng-container i18n>重擬</ng-container>
                                </div>
                                <div class="tag_gray" *ngIf="oneVaData.State=='7'">
                                    <ng-container i18n>已抽單</ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-7 col-xs-10" style="margin: 0px;padding: 0">
                            <div class="col-md-12 col-xs-12" style="margin: 0px;color:#6f6f6f;padding: 0;
                    margin-bottom: 10px;">
                                <div class="row" style="margin: 0;padding-bottom: 5px;">
                                    <div class="col-md-6 col-xs-12" style="padding: 0">
                                        <span style="color: #969696">
                                            <ng-container i18n>起始</ng-container>：
                                        </span>
                                        <!--2019/01/18 08:00-->{{oneVaData.showDateB}} {{oneVaData.showTimeB}}
                                    </div>
                                    <div class="col-md-6 col-xs-12" style="padding: 0">
                                        <span style="color: #969696">
                                            <ng-container i18n>結束</ng-container>：
                                        </span>
                                        <!--2019/01/18 12:00-->{{oneVaData.showDateE}} {{oneVaData.showTimeE}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12" style="margin: 0px;color:#6f6f6f;padding: 0">
                                <div class="row" style="margin: 0;padding-bottom: 5px;">
                                    <div *ngIf="!oneVaData.showSignDate" class="col-md-6 col-xs-12" style="padding: 0">
                                        <span style="color: #969696">
                                            <ng-container i18n>批核</ng-container>：
                                        </span>
                                        <!--2019/01/18 08:00-->
                                        <ng-container i18n>尚未批核</ng-container>
                                    </div>
                                    <div *ngIf="oneVaData.showSignDate" class="col-md-6 col-xs-12" style="padding: 0">
                                        <span style="color: #969696">
                                            <ng-container i18n>批核</ng-container>：
                                        </span>
                                        <!--2019/01/18 08:00-->{{oneVaData.showSignDate}} {{oneVaData.showSignTime}}
                                    </div>
                                    <div class="col-md-6 col-xs-12" style="padding: 0">
                                        <span style="color: #969696">
                                            <ng-container i18n>假別</ng-container>：
                                        </span>
                                        <!-- 特別休假 -->{{oneVaData.HoliDayNameC}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12" style="padding: 0">
                            <div class="P_All">
                                <ng-container i18n>共計</ng-container>
                                {{oneVaData.day}}
                                <ng-container i18n>日</ng-container>
                                {{oneVaData.hour}}
                                <ng-container i18n>時</ng-container>
                                {{oneVaData.minute}}
                                <ng-container i18n>分</ng-container>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div style="text-align: center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <ng-container i18n>關閉</ng-container>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--dialog查閱請假單-->




<div class="modal" id="AttendanceError" tabindex="-1" role="dialog" style="
padding: 0px 17px;">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div style="text-align: center">
                        <h3 style="margin: 0px">{{SearchAttendDate}}
                            <ng-container i18n>異常資訊</ng-container>
                        </h3>
                    </div>
                </div>
                <div class="modal-body" style="padding: 25px">

                    <div *ngFor="let Attend of AttendanceApiData"
                        style="border:1px solid #028fcf;padding: 20px 20px;margin: 0px;margin-bottom: 10px" class="row">
                        <div class="col-md-2 col-xs-6 P_zero">
                            <div style="color: rgb(150, 149, 148);">
                                <ng-container i18n>班型</ng-container>
                            </div>
                            <div>{{Attend.RoteNameC}}</div>
                        </div>
                        <div class="col-md-2 col-md-push-8 col-xs-6" style="padding-top: 8px">

                            <div *ngIf="Attend.LateMins" class="tag_red">
                                <ng-container i18n>遲到</ng-container>
                            </div>
                            <div *ngIf="Attend.EarlyMins" class="tag_red">
                                <ng-container i18n>早退</ng-container>
                            </div>
                            <div *ngIf="Attend.IsAbsent" class="tag_red">
                                <ng-container i18n>未刷卡</ng-container>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-pull-2 col-xs-12" style="padding: 0px">
                            <div class="row col-md-6 col-xs-12 P_line" style="margin:0px;padding: 0px">
                                <div class="col-md-6 col-xs-6">
                                    <div style="color: rgb(150, 149, 148);">
                                        <ng-container i18n>應上班時間</ng-container>
                                    </div>
                                    <div>{{Attend.OnTime}}</div>
                                </div>
                                <div class="col-md-6 col-xs-6 P_paddingRZ" style="padding-right: 0px">
                                    <div style="color: rgb(150, 149, 148);">
                                        <ng-container i18n>應下班時間</ng-container>
                                    </div>
                                    <div style="display: inline-block;padding-right: 10px">{{Attend.OffTime}}</div>
                                    <div *ngIf="Attend.ActualRote_OffTime_calCrossDay" style="display: inline-block;
                                height: 20px;
                                font-size: 13px;
                                width: 40px;
                                text-align: center;
                                color: #fff;
                                background-color: #408cb6;
                                border: 1px solid;
                                border-radius: 15px;">+1<ng-container i18n>日</ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div style="color: rgb(150, 149, 148);"
                                    [style.color]="RedAttendString_Title(Attend.IsAbsent,Attend.LateMins)">
                                    <ng-container i18n>到勤時間</ng-container>
                                </div>
                                <div *ngIf="Attend.OnTime"
                                    [style.color]="RedAttendString_Content(Attend.IsAbsent,Attend.LateMins)">
                                    {{Attend.OnCardTime}}
                                </div>
                                <div *ngIf="!Attend.OnTime"
                                    [style.color]="RedAttendString_Content(Attend.IsAbsent,Attend.LateMins)">
                                    <ng-container i18n>無</ng-container>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 P_paddingRZ">
                                <div style="color: rgb(150, 149, 148);"
                                    [style.color]="RedAttendString_Title(Attend.IsAbsent,Attend.EarlyMins)">
                                    <ng-container i18n>離勤時間</ng-container>
                                </div>
                                <div>
                                    <div *ngIf="Attend.OffCardTime" style="display: inline-block;padding-right: 10px"
                                        [style.color]="RedAttendString_Content(Attend.IsAbsent,Attend.EarlyMins)">
                                        {{Attend.OffCardTime}}</div>
                                    <div *ngIf="!Attend.OffTime" style="display: inline-block;padding-right: 10px"
                                        [style.color]="RedAttendString_Content(Attend.IsAbsent,Attend.EarlyMins)">
                                        <ng-container i18n>無</ng-container>
                                    </div>
                                    <div *ngIf="Attend.AttendCard_OffTime_calCrossDay" style="display: inline-block;
                                height: 20px;
                                font-size: 13px;
                                width: 40px;
                                text-align: center;
                                color: #fff;
                                background-color: #408cb6;
                                border: 1px solid;
                                border-radius: 15px;">+1<ng-container i18n>日</ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group  formgroup_modify">
                        <div>
                            <div style="border:1px solid #d9edf7;">
                                <div style="background-color: #d9edf7;padding: 5px 20px;">
                                    <label style="color: #31708f">
                                        <ng-container i18n>異常可能原因</ng-container>
                                    </label>
                                </div>
                                <div style="padding: 5px 20px;">
                                    <div>
                                        1.<ng-container i18n>請假問題 - 未請假、假單未核准、資訊填寫不正確..等，請查詢請假紀錄做確認</ng-container>
                                    </div>
                                    <div>
                                        2.<ng-container i18n>考勤不符 - 考勤與實際上班時間不同，請確認是否需要調班</ng-container>
                                    </div>
                                    <div>
                                        3.<ng-container i18n>刷卡因素 - 誤刷、未刷、早退等，請填寫考勤異常簽認單校正考勤</ng-container>
                                    </div>
                                    <div>
                                        <ng-container i18n>若以上皆非，請洽單位差假管理員</ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="text-align: center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            <ng-container i18n>確定</ng-container>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--dialog考勤異常-->


<div class="modal" id="AttendErrorTextDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-dialog-centered  modal-sm vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">
                        <ng-container i18n>考勤異常數量說明</ng-container>
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                        <ng-container i18n>由2019/08/01後開始計算。</ng-container>
                    </p>
                </div>
                <div class="modal-footer">
                    <div style="text-align: center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <ng-container i18n>關閉</ng-container>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--dialog考勤異常數量說明 -->