<!-- 
<div *ngIf="angularApidata; else loading">
<div *ngFor="let GetDeptaByEmpToJson of angularApidata">
    <select  (click)="onChange($event,GetDeptaByEmpToJson.Level,GetDeptaByEmpToJson.Dept)">
            <option *ngFor="let next of GetDeptaByEmpToJson.Dept">
                {{next.DeptNameC}}
            </option>
    </select>
    <button *ngIf="GetDeptaByEmpToJson.Level!=1" (click)="bt_onClear(GetDeptaByEmpToJson.Level)">clear</button>
</div>
<button (click)="onSearch(apiAlldata)">查詢</button>
<div *ngFor="let people  of angularPeople">
   {{people.EmpCode}}：{{people.EmpNameC}}
</div>
</div>
<ng-template #loading>
    Loading stuff...
</ng-template> -->
<!-- 測試 -->
<div class="row" style="margin: 0px">
    <div id="InfoBlock" class="col-md-8">
        <div [routerLink]="['/nav/reviewform']" class="checkform" style="margin-bottom: 15px">
            <div class="blockhover" style="border: 1px solid #7796d4;padding: 10px 20px">
                <div *ngIf="!DL_showReviewCount">
                    <img
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
                <!-- <div i18n style="font-size: 22px;color: #fff;font-weight: 500;box-shadow: none">表單審核</div> -->
                <div *ngIf="DL_showReviewCount" style="padding-left: 10px;">
                    <span
                        style="padding-bottom: 5px;border-bottom: 4px #37fffd solid;text-align: center;box-shadow: none">
                        <span style="color: #37fffd;font-size: 50px;box-shadow: none">{{ReviewCount.allCount}}</span>
                    </span>
                    <span style="color: #fff;font-size: 17px;box-shadow: none">
                        <ng-container i18n>筆 待審核表單</ng-container>
                    </span>
                    <span class="checkformdesktoptext" style="box-shadow: none">
                        ({{ReviewCount.vaCount}}<ng-container i18n>筆請假單</ng-container>
                        {{ReviewCount.changeCount}}<ng-container i18n>筆調班單</ng-container>
                        {{ReviewCount.delCount}}<ng-container i18n>筆銷假單</ng-container>
                        {{ReviewCount.AttendUnusualCount}}<ng-container i18n>筆考勤異常簽認單</ng-container>
                        {{ReviewCount.CardPatchCount}}<ng-container i18n>筆補卡單</ng-container>
                        <!-- {{ReviewCount.forgetCount}}<ng-container i18n>筆忘刷單</ng-container> -->
                        )</span>
                </div>
            </div>
        </div>
        <div *ngIf="showMangerBlock" style="margin:0px; margin-bottom: 15px;padding: 0px;" class="row">
            <div class="col-sm-6 mangerblockleft">
                <div class="managerblock">
                    <div style="border: 1px solid #7796d4; padding: 10px 20px;">
                        <div style="font-size: 22px;color: #fff; font-weight: 500;">
                            <span i18n>單位考勤異常</span>
                            <span i18n class="mangerblocklefthourtitle">(每小時更新)</span>
                        </div>
                        <div *ngIf="!DL_showAttendExceptionalByDept_Today">
                            <img
                                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </div>
                        <div *ngIf="DL_showAttendExceptionalByDept_Today" class="row blockhover"
                            [routerLink]="['/nav/PersonnelSearchComponent']">
                            <div class="col-md-6 col-xs-6 ">
                                <div style="font-size: 14px;color: #fff;box-shadow: none;">
                                    <ng-container i18n>今日</ng-container>
                                    {{showTodayDateString}}
                                </div>
                                <span
                                    style="padding-bottom: 3px;border-bottom: 4px #37fffd solid;text-align: center;box-shadow: none;">
                                    <span
                                        style="color: #37fffd;font-size: 36px;box-shadow: none;">{{TodayAttend.length}}</span>
                                </span>
                                <span style="font-size: 16px;color: #fff;box-shadow: none;">
                                    <ng-container i18n>人異常</ng-container>
                                </span>
                            </div>
                            <div class="col-md-6 col-xs-6 ">
                                <div style="font-size: 14px;color: #fff;box-shadow: none;">
                                    <ng-container i18n>昨日</ng-container>
                                    {{showLastdayDateString}}
                                </div>
                                <span
                                    style="padding-bottom: 3px;border-bottom: 4px #37fffd solid;text-align: center;box-shadow: none;">
                                    <span
                                        style="color: #37fffd;font-size: 36px;box-shadow: none;">{{LastdayAttend.length}}</span>
                                </span>
                                <span style="font-size: 16px;color: #fff;box-shadow: none;">
                                    <ng-container i18n>人異常</ng-container>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 managerblockright">
                <div class="managerblock">
                    <div class="blockhover" style="border: 1px solid #7796d4; padding: 10px 20px;;">
                        <div style="font-size: 22px;color: #fff; font-weight: 500;cursor: auto;box-shadow: none">
                            <ng-container i18n>今日請假人數</ng-container>
                        </div>

                        <div *ngIf="!DL_showAbsDetailByDept">
                            <img
                                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </div>
                        <div *ngIf="DL_showAbsDetailByDept" style="padding-top: 22px;" data-toggle="modal"
                            data-target="#Abs_Today">
                            <span
                                style="padding-bottom: 3px;border-bottom: 4px #37fffd solid;text-align: center;box-shadow: none">
                                <span
                                    style="color: #37fffd;font-size: 36px;box-shadow: none">{{AllAbsEmp.length}}</span>
                            </span>
                            <span style="font-size: 16px;color: #fff;box-shadow: none">
                                <ng-container i18n>人請假</ng-container>
                            </span>
                            <span style="font-size: 16px;color: #fff;box-shadow: none">({{showDeptaName}})</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="dottedline">
        </div> -->
        <div *ngIf="showAttendExceptionalCount" style="margin:0;margin-bottom: 15px; padding: 3px 40px;background-color: #fff;">

            <span *ngIf="!DL_showAttendExceptionalCount">
                <img
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </span>
            <div *ngIf="DL_showAttendExceptionalCount" style="display: inline-block;color:#d0021b;font-weight: bold;">
                <img src="./assets/images-template/icon-alert.png" style="
                padding-bottom: 2px;width: 24px; height: 24px;margin-right: 10px;" />
                <span style="border-bottom: 1px #d0021b solid;text-align: center;box-shadow: none">
                    <span style="color: #d0021b;font-size: 21px;box-shadow: none">{{AttendExceptionalCount}}</span>
                </span>
                <span style="margin-right: 3px;">
                    <ng-container i18n>筆考勤異常</ng-container>
                </span>

                <a data-toggle="modal" data-target="#AttendErrorTextDialog" style="cursor: pointer;">
                    <img src="./assets/images-template/icon-question.png" />
                </a>
            </div>
        </div>
        <!-- 虛線 -->
        <div class="myvacationblock" style="margin:0;margin-bottom: 15px;">
            <h3 style="margin-top: 0px">
                <ng-container i18n>我的餘假</ng-container>
            </h3>
            <div *ngIf="!DL_showHoliDayBalance">
                <img
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
            <div *ngIf="DL_showHoliDayBalance" class="row P_inf" style="margin:0;margin-bottom: 15px;">
                <div *ngFor="let HoliDayBalance of showAllHoliDayBalance" class="col-md-4 col-xs-12"
                    style="padding: 0;">
                    <div style="text-align: center;
                    background-color: #edf5ff;
                    color:#4c4c4c;
                    font-weight: 600;
                    padding: 10px 0px;
                    border: 1px solid #e0e0e0;">{{HoliDayBalance.HoliDayKindNameC}}</div>
                    <div style="text-align: center;padding: 10px 0px;
                    border: 1px solid #e0e0e0">
                        {{HoliDayBalance.useday}} 日 {{HoliDayBalance.usehour}} 時 {{HoliDayBalance.useminute}} 分
                    </div>
                </div>
            </div>
            <div *ngIf="showHoliDayBalanceDateE.length > 0" style="margin-bottom: 25px">
                <div>
                    <img src="./assets/images-template/icon-alert.png" style="width: 20px; height: 20px;" />
                    <div style="display: inline-block;padding: 10px 5px;">
                        <span style="color: #d0021b;font-weight: bold">45 <ng-container i18n>天內 即將到期之餘假時數</ng-container>
                            ：</span>
                    </div>
                </div>
                <div style="padding-left: 25px">
                    <div *ngFor="let oneHoliDayBalanceDateE of showHoliDayBalanceDateE" style="display: inline-block;">
                        <span style="margin-right: 5px">{{oneHoliDayBalanceDateE.HoliDayKindNameC}}</span>
                        <span style="color: #d0021b;margin-right: 25px"> {{oneHoliDayBalanceDateE.useday}} 日
                            {{oneHoliDayBalanceDateE.usehour}} 時 {{oneHoliDayBalanceDateE.useminute}} 分</span>
                    </div>
                </div>

            </div>
            <div>
                <div class="P_marginBotton" style="display: inline-block;">
                    <button class="btn btn-default " [routerLink]="['/nav/SurplusLeaveComponent']"
                        style="margin-right: 10px;padding:6px 37.5px">
                        <ng-container i18n>查詢餘假明細</ng-container>
                    </button>
                </div>
                <button class="btn btn-primary " [routerLink]="['/nav/vaform']" style="margin-right: 10px">
                    <ng-container i18n>填寫請假單</ng-container>
                </button>
            </div>
        </div>
        <div class="myvacationblock">
            <h3 style="margin-top: 0px;display: inline-block;margin-right: 5px">
                <ng-container i18n>我的差勤表</ng-container>
            </h3>
            <div *ngIf="!DL_setWeekjobs">
                <img
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
            <div *ngIf="DL_setWeekjobs">
                <div *ngIf="weekjobs.length>0" appShowAttend>
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                        <div ngxSlickItem *ngFor="let weekjob of weekjobs;let i = index">
                            <div>
                                <div [ngClass]="showTitleClass(i)" *ngIf="weekjob.today"
                                    style="color: #fff;background-color: #0068b7">{{weekjob.date}}</div>
                                <div [ngClass]="showTitleClass(i)" *ngIf="!weekjob.today">{{weekjob.date}}</div>
                                <div [ngClass]="showContentClass(i)">
                                    {{weekjob.jobtime}}
                                    <!-- <ng-container i18n>{weekjob.jobtime, select, 例假日 {qwe} other {{{weekjob.jobtime}}}}</ng-container> -->
                                    <!-- <ng-container i18n>{weekjob.jobtime, select, 06:00-14:00 {qwe} other {{{weekjob.jobtime}}}}</ng-container> -->
                                    <div style="height: 22px;">
                                        <div *ngIf="weekjob.isAttend" style="color: 
                                                                #d0021b;text-decoration:underline;cursor: pointer;"
                                            (click)="AtterrorClick(weekjob.realdate)">
                                            <ng-container i18n>考勤異常</ng-container>
                                        </div>
                                        <div *ngIf="weekjob.isVa" style="color:
                                                                #4a90e2;text-decoration:underline;cursor: pointer;"
                                            (click)="vaClick(weekjob.realdate,EmpCode)">
                                            <ng-container i18n>查閱請假單</ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
                <div *ngIf="weekjobs.length==0">
                    <ng-container i18n>無出勤資料</ng-container>
                </div>
            </div>
        </div>
    </div>
    <div id="NewsBlock" class="col-md-4">
        <div class="a-block" style="padding: 20px 30px;">
            <h4 style="font-weight: bold;margin-bottom: 20px;">
                <ng-container i18n>近期公告</ng-container>
            </h4>
            <div *ngIf="!DL_showallnews">
                <img
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
            <div *ngIf="DL_showallnews">

                <div *ngIf="AllNewsList.length>0">
                    <div *ngFor="let oneNews of AllNewsList" class="onenewsblock">
                        <div data-toggle="modal" data-target="#showNews" (click)="goToNewsPage(oneNews)">
                            <p style="word-break: break-all;">{{oneNews.ShowNewsHead}}</p>
                            <div style="text-align: right">{{oneNews.PostDate}}</div>
                        </div>
                    </div>
                    <div *ngIf="AllNewsList.length==5" style="text-align: right;margin-top: 10px">
                        <a style="cursor: pointer;" [routerLink]="['/nav/NewsShowAllComponent']">
                            <ng-container i18n>更多＞</ng-container>
                        </a>
                    </div>
                </div>
                <div *ngIf="AllNewsList.length==0">
                    <ng-container i18n>無</ng-container>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="Abs_Today" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="mySmallModalLabel">
                        <ng-container i18n>今日請假清單</ng-container>({{showTodayString}})
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped table-hover table-content-center table-style01">
                        <thead>
                            <tr>
                                <th style="background-image: unset;cursor: unset">
                                    <ng-container i18n>工號</ng-container>
                                </th>
                                <th>
                                    <ng-container i18n>姓名</ng-container>
                                </th>
                                <th>
                                    <ng-container i18n>請假資訊</ng-container>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let AbsEmp of AllAbsEmp">
                                <td>{{AbsEmp.EmpID}}</td>
                                <td>{{AbsEmp.EmpName}}</td>
                                <td style="text-align: left">
                                    <div *ngFor="let inf_Abs  of AbsEmp.AbsInf">
                                        {{inf_Abs.startTime}} - {{inf_Abs.endTime}} ({{inf_Abs.holiday.HoliDayNameC}})
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <ng-container i18n>關閉</ng-container>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--dialog今日請假清單-->

<div class="modal" id="showNews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div>
                        <h2 style="margin: 0px;margin-right: 20px;
                        word-break: break-all;">{{showOneNew.NewsHead}}</h2>

                    </div>
                </div>
                <div class="modal-body" style="padding: 25px;padding-top: 15px;">
                    <div [innerHTML]="showOneNew.NewsBody | safeHtml">
                    </div>
                    <div *ngIf="showOneNew.UploadFileOld">
                        <ng-container *ngIf="showOneNew.UploadFileOld.length>0">
                            <div style="margin: 10px">
                                <span style="color: #777777;margin-right: 5px">
                                    <ng-container i18n>附檔</ng-container>:
                                </span>
                                <ng-container style="margin-right: 5px" *ngFor="let upload of showOneNew.UploadFileOld">
                                    <ng-container *ngIf="upload">
                                        <div style="display: inline-block;margin-right: 20px;word-break: break-all;">
                                            <img src="./assets/images-template/attach@2x.png" height='16px' width="12px"
                                                style="margin-right: 5px" />
                                            <a (click)="base64_NotFlow(upload)" style="cursor:pointer">
                                                {{upload.UploadName}}
                                            </a>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>

                    <span style="font-size: 15px;color: #777777;margin: 10px;
                        margin-bottom: 0px;display: inherit;text-align: right">{{showOneNew.PostDate}}</span>
                </div>
                <div class="modal-footer">
                    <div style="text-align: center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <ng-container i18n>關閉</ng-container>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--dialog近期公告-->




<div class="modal" id="RecentHoliday" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div style="text-align: center">
                        <h3 style="margin: 0px">{{SearchAttendDate}}
                            <ng-container i18n>請假資訊</ng-container>
                        </h3>
                    </div>
                </div>
                <div class="modal-body" style="padding: 25px;padding-top: 15px;">
                    <div class="row P_div" *ngFor="let oneVaData of ShowVa ; let i = index">
                        <div class="row col-md-2 col-xs-12 P_padding" style="margin: 0px">
                            <div class="col-md-12   col-xs-6 P_left" style="color: #028fcf;padding:0px;
                    margin-bottom: 10px;">
                                <ng-container i18n>請假明細</ng-container> <span>{{showDay(i)}}</span>
                            </div>
                            <div class="col-md-12   col-xs-6" style="padding: 0;text-align: right;">
                                <div class="tag_blue" *ngIf="oneVaData.State=='1'">
                                    <ng-container i18n>呈核中</ng-container>
                                </div>
                                <div class="tag_skyblue" *ngIf="oneVaData.State=='3'">
                                    <ng-container i18n>已核准</ng-container>
                                </div>
                                <div class="tag_red" *ngIf="oneVaData.State=='2'">
                                    <ng-container i18n>重擬</ng-container>
                                </div>
                                <div class="tag_gray" *ngIf="oneVaData.State=='7'">
                                    <ng-container i18n>已抽單</ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-7 col-xs-10" style="margin: 0px;padding: 0">
                            <div class="col-md-12 col-xs-12" style="margin: 0px;color:#6f6f6f;padding: 0;
                    margin-bottom: 10px;">
                                <div class="row" style="margin: 0;padding-bottom: 5px;">
                                    <div class="col-md-6 col-xs-12" style="padding: 0">
                                        <span style="color: #969696">
                                            <ng-container i18n>起始</ng-container>：
                                        </span>
                                        <!--2019/01/18 08:00-->{{oneVaData.showDateB}} {{oneVaData.showTimeB}}
                                    </div>
                                    <div class="col-md-6 col-xs-12" style="padding: 0">
                                        <span style="color: #969696">
                                            <ng-container i18n>結束</ng-container>：
                                        </span>
                                        <!--2019/01/18 12:00-->{{oneVaData.showDateE}} {{oneVaData.showTimeE}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12" style="margin: 0px;color:#6f6f6f;padding: 0">
                                <div class="row" style="margin: 0;padding-bottom: 5px;">
                                    <div *ngIf="!oneVaData.showSignDate" class="col-md-6 col-xs-12" style="padding: 0">
                                        <span style="color: #969696">
                                            <ng-container i18n>批核</ng-container>：
                                        </span>
                                        <!--2019/01/18 08:00-->
                                        <ng-container i18n>尚未批核</ng-container>
                                    </div>
                                    <div *ngIf="oneVaData.showSignDate" class="col-md-6 col-xs-12" style="padding: 0">
                                        <span style="color: #969696">
                                            <ng-container i18n>批核</ng-container>：
                                        </span>
                                        <!--2019/01/18 08:00-->{{oneVaData.showSignDate}} {{oneVaData.showSignTime}}
                                    </div>
                                    <div class="col-md-6 col-xs-12" style="padding: 0">
                                        <span style="color: #969696">
                                            <ng-container i18n>假別</ng-container>：
                                        </span>
                                        <!-- 特別休假 -->{{oneVaData.HoliDayNameC}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12" style="padding: 0">
                            <div class="P_All">
                                <ng-container i18n>共計</ng-container>
                                {{oneVaData.day}}
                                <ng-container i18n>日</ng-container>
                                {{oneVaData.hour}}
                                <ng-container i18n>時</ng-container>
                                {{oneVaData.minute}}
                                <ng-container i18n>分</ng-container>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div style="text-align: center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <ng-container i18n>關閉</ng-container>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--dialog查閱請假單-->




<div class="modal" id="AttendanceError" tabindex="-1" role="dialog" style="
padding: 0px 17px;">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div style="text-align: center">
                        <h3 style="margin: 0px">{{SearchAttendDate}}
                            <ng-container i18n>異常資訊</ng-container>
                        </h3>
                    </div>
                </div>
                <div class="modal-body" style="padding: 25px">

                    <div *ngFor="let Attend of AttendanceApiData"
                        style="border:1px solid #028fcf;padding: 20px 20px;margin: 0px;margin-bottom: 10px" class="row">
                        <div class="col-md-2 col-xs-6 P_zero">
                            <div style="color: rgb(150, 149, 148);">
                                <ng-container i18n>班型</ng-container>
                            </div>
                            <div>{{Attend.RoteNameC}}</div>
                        </div>
                        <div class="col-md-2 col-md-push-8 col-xs-6" style="padding-top: 8px">

                            <div *ngIf="Attend.LateMins" class="tag_red">
                                <ng-container i18n>遲到</ng-container>
                            </div>
                            <div *ngIf="Attend.EarlyMins" class="tag_red">
                                <ng-container i18n>早退</ng-container>
                            </div>
                            <div *ngIf="Attend.IsAbsent" class="tag_red">
                                <ng-container i18n>未刷卡</ng-container>
                            </div>
                            <div *ngIf="Attend.OnBeforeMins" class="tag_red">
                                <ng-container i18n>早到</ng-container>
                            </div>
                            <div *ngIf="Attend.OffAfterMins" class="tag_red">
                                <ng-container i18n>晚退</ng-container>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-pull-2 col-xs-12" style="padding: 0px">
                            <div class="row col-md-6 col-xs-12 P_line" style="margin:0px;padding: 0px">
                                <div class="col-md-6 col-xs-6">
                                    <div style="color: rgb(150, 149, 148);">
                                        <ng-container i18n>應上班時間</ng-container>
                                    </div>
                                    <div>{{Attend.OnTime}}</div>
                                </div>
                                <div class="col-md-6 col-xs-6 P_paddingRZ" style="padding-right: 0px">
                                    <div style="color: rgb(150, 149, 148);">
                                        <ng-container i18n>應下班時間</ng-container>
                                    </div>
                                    <div style="display: inline-block;padding-right: 10px">{{Attend.OffTime}}</div>
                                    <div *ngIf="Attend.ActualRote_OffTime_calCrossDay" style="display: inline-block;
                                height: 20px;
                                font-size: 13px;
                                width: 40px;
                                text-align: center;
                                color: #fff;
                                background-color: #408cb6;
                                border: 1px solid;
                                border-radius: 15px;">+1<ng-container i18n>日</ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div style="color: rgb(150, 149, 148);"
                                    [style.color]="RedAttendString_Title(Attend.IsAbsent,Attend.LateMins)">
                                    <ng-container i18n>到勤時間</ng-container>
                                </div>
                                <div *ngIf="Attend.OnTime"
                                    [style.color]="RedAttendString_Content(Attend.IsAbsent,Attend.LateMins)">
                                    {{Attend.OnCardTime}}
                                </div>
                                <div *ngIf="!Attend.OnTime"
                                    [style.color]="RedAttendString_Content(Attend.IsAbsent,Attend.LateMins)">
                                    <ng-container i18n>無</ng-container>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 P_paddingRZ">
                                <div style="color: rgb(150, 149, 148);"
                                    [style.color]="RedAttendString_Title(Attend.IsAbsent,Attend.EarlyMins)">
                                    <ng-container i18n>離勤時間</ng-container>
                                </div>
                                <div>
                                    <div *ngIf="Attend.OffCardTime" style="display: inline-block;padding-right: 10px"
                                        [style.color]="RedAttendString_Content(Attend.IsAbsent,Attend.EarlyMins)">
                                        {{Attend.OffCardTime}}</div>
                                    <div *ngIf="!Attend.OffTime" style="display: inline-block;padding-right: 10px"
                                        [style.color]="RedAttendString_Content(Attend.IsAbsent,Attend.EarlyMins)">
                                        <ng-container i18n>無</ng-container>
                                    </div>
                                    <div *ngIf="Attend.AttendCard_OffTime_calCrossDay" style="display: inline-block;
                                height: 20px;
                                font-size: 13px;
                                width: 40px;
                                text-align: center;
                                color: #fff;
                                background-color: #408cb6;
                                border: 1px solid;
                                border-radius: 15px;">+1<ng-container i18n>日</ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group  formgroup_modify">
                        <div>
                            <div style="border:1px solid #d9edf7;">
                                <div style="background-color: #d9edf7;padding: 5px 20px;">
                                    <label style="color: #31708f">
                                        <ng-container i18n>異常可能原因</ng-container>
                                    </label>
                                </div>
                                <div style="padding: 5px 20px;">
                                    <div>
                                        1.<ng-container i18n>請假問題 - 未請假、假單未核准、資訊填寫不正確..等，請查詢請假紀錄做確認</ng-container>
                                    </div>
                                    <div>
                                        2.<ng-container i18n>考勤不符 - 考勤與實際上班時間不同，請確認是否需要調班</ng-container>
                                    </div>
                                    <div>
                                        3.<ng-container i18n>刷卡因素 - 誤刷、未刷、早退等，請填寫考勤異常簽認單校正考勤</ng-container>
                                    </div>
                                    <div>
                                        <ng-container i18n>若以上皆非，請洽單位差假管理員</ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="text-align: center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            <ng-container i18n>確定</ng-container>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--dialog考勤異常-->


<div class="modal" id="AttendErrorTextDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-dialog-centered  modal-sm vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" style="text-align: center;">
                        <ng-container i18n>考勤異常數量說明</ng-container>
                    </h4>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <p>
                        <ng-container i18n>由2019/08/01後開始計算。</ng-container>
                    </p>
                </div>
                <div class="modal-footer">
                    <div style="text-align: center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <ng-container i18n>關閉</ng-container>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--dialog考勤異常數量說明 -->