<section class="a-block stateblock">
  <div class="a-block-body  a-block-container">
    <ol class="steps-indicator row">
      <li class="col-sm-3  ">
        <ng-container i18n>填寫加班單</ng-container>
      </li>
      <li class="col-sm-3 active">
        <ng-container i18n>加班明細確認</ng-container>
      </li>
      <li class="col-sm-3">
        <ng-container i18n>加班完成</ng-container>
      </li>
    </ol>
  </div>
  <!-- a-block-body End -->
</section>

<div class="a-block">
  <div class="a-block-body  a-block-container ovtbdr">
    <div class="row">
      <div class="col-md-7 control-label" style="display: inline-block;color:#8b8484">
        <label style="font-size: 19px;
          font-weight: 500;">加班資訊確認</label>
      </div>
    </div>
    <div>
      <div class="form-horizontal form-style01">

        <div class="form-group first-form-group" style="margin:0px ;padding-top:0;border-bottom:1px solid #dcdcdc">
          <div class="row">
            <div class="col-md-6 firstintwo-form-group" style="border: 0px;padding: 0;padding-top: 10px;">
              <div class="col-md-3 oneintwotitle" style="padding: 0px;">
                <label class="control-label">
                  <ng-container i18n>員工</ng-container>
                </label>
              </div>
              <div class="col-md-9 oneintwotitle" style="text-align:left">
                <label class="control-label">
                  <ng-container i18n>644488</ng-container>
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- form-group end -->




        <section class="form-horizontal  form-style01">
          <div id="NowIsWirteFormTop"></div>

          <div appSpyngif class="ovtbdr" style="border:1px solid #14b2f6;">
            <div class="form-group first-form-group row"
              style="margin:0px ;margin-bottom:15px;border-bottom:1px solid #dcdcdc">

              <div class="col-md-6 col-xs-5 firstintwo-form-group"
                style="padding:0px;padding-left: 7px;padding-top: 10px;">
                <div class="col-md-4 " style="padding: 0px;">
                  <label style="font-size: 17px;">
                    <ng-container i18n>加班時段一</ng-container>
                  </label>
                </div>
              </div>
              <div class="col-md-6 col-xs-7 firstintwo-form-group" style="border: 0px;padding: 0;padding-top: 10px;">
                <div class="col-md-12 " style="text-align: center;">
                  <div class="row ">
                    <label style="padding: 0px">
                      <ng-container i18n>加班共<label style="color:red">1.5</label>小時</ng-container>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- form-group end -->
            <div>
              <div class="row" style="padding: 0;">
                <div class="col-md-6 col-xs-12 row" style="padding: 0;">
                  <label class="col-md-4 control-label">
                    <ng-container i18n>起訖日期</ng-container>
                  </label>
                  <div class="col-md-8 " style="padding:7px">
                    <div class="row writerow">
                      <label class="col-md-10 col-xs-10" style="padding-left: 0px">
                        <ng-container i18n>108/10/28 - 108/10/28</ng-container>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="padding: 0;">
                <div class="col-md-6 col-xs-12 row" style="padding: 0;">
                  <label class="col-md-4 control-label">
                    <ng-container i18n>起訖時間</ng-container>
                  </label>
                  <div class="col-md-8 " style="padding:7px">
                    <div class="row writerow">
                      <label class="col-md-10 col-xs-10" style="padding: 0px">
                        <ng-container i18n>17:30 - 19:00</ng-container>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12 row" style="padding: 0;">
                  <label class="col-md-4 control-label ">
                    <ng-container i18n>申請類型</ng-container>
                  </label>
                  <div class="col-md-8 " style="padding:7px">
                    <div class="row writerow">
                      <label class="col-md-10 col-xs-10" style="padding: 0px">
                        <ng-container i18n>實際加班費</ng-container>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="padding: 0;">
                <div class="col-md-6 col-xs-12 row" style="margin-bottom: 5px;padding: 0;">
                  <label class="col-md-4 control-label">
                    <ng-container i18n>加班部門</ng-container>
                  </label>
                  <div class="col-md-8 " style="padding:7px">
                    <div class="row writerow">
                      <label class="col-md-10 col-xs-10" style="padding: 0px">
                        <ng-container i18n>財務系統部</ng-container>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12 row" style="padding: 0;">
                  <label class="col-md-4 control-label ">
                    <ng-container i18n>加班原因</ng-container>
                  </label>
                  <div class="col-md-8 " style="padding:7px">
                    <div class="row writerow">
                      <label class="col-md-10 col-xs-10" style="padding: 0px">
                        <ng-container i18n>業務量暴增</ng-container>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="padding: 0;">
                <div class="col-md-6 col-xs-12 row" style="margin-bottom: 5px;padding: 0;">
                  <label class="col-md-4 control-label">
                    <ng-container i18n>附件檔案</ng-container>
                  </label>
                  <div class="col-md-8 " style="padding:7px">
                    <div class="row writerow">
                      <label class="col-md-10 col-xs-10" style="padding: 0px">
                        <ng-container i18n>加班證明.jpg</ng-container>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12 row" style="padding: 0;">
                  <label class="col-md-4 control-label ">
                    <ng-container i18n>備註</ng-container>
                  </label>
                  <div class="col-md-8 " style="padding:7px">
                    <div class="row writerow">
                      <label class="col-md-10 col-xs-10" style="padding: 0px">
                        <ng-container i18n>無</ng-container>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="padding: 0;color:#6ab8ff">
                <div class="col-md-6 col-xs-12 row" style="margin-bottom: 5px;padding: 0;">
                  <label class="col-md-4 control-label">
                    <ng-container i18n>刷進時間</ng-container>
                  </label>
                  <div class="col-md-8 " style="padding:7px">
                    <div class="row writerow">
                      <label class="col-md-10 col-xs-10" style="padding: 0px">
                        <ng-container i18n>108/10/28 8:00</ng-container>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12 row" style="padding: 0;">
                  <label class="col-md-4 control-label ">
                    <ng-container i18n>刷退時間</ng-container>
                  </label>
                  <div class="col-md-8 " style="padding:7px">
                    <div class="row writerow">
                      <label class="col-md-10 col-xs-10" style="padding: 0px">
                        <ng-container i18n>108/10/28 19:00</ng-container>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="padding: 0;color:#6ab8ff">
                <div class="col-md-6 col-xs-12 row" style="margin-bottom: 5px;padding: 0;">
                  <label class="col-md-4 control-label">
                    <ng-container i18n>歸屬日期</ng-container>
                  </label>
                  <div class="col-md-8 " style="padding:7px">
                    <div class="row writerow">
                      <label class="col-md-10 col-xs-10" style="padding: 0px">
                        <ng-container i18n>108/10/28</ng-container>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- form-group end -->
          <div style="padding-top:15px;text-align:right">
            <label style="padding: 0px;color:#6ab8ff">
              <ng-container i18n>近期加班資料</ng-container>
            </label>
          </div>
          <div class="row">
            <div class="col-md-6 form-group ovtbtnrt">
              <button class="btn btnovt btn-default" style="padding: 5px 15px;" data-toggle="modal">返回修改</button>
            </div>
            <div class="col-md-6 form-group ovtbtncf">
              <button class="btn btnovt btn-primary" style="padding: 5px 15px;" data-toggle="modal">確認送出</button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>