<section class="a-block stateblock">
  <div class="a-block-body  a-block-container">
    <ol class="steps-indicator row">
      <li class="col-sm-3  ">
        <ng-container i18n>填寫加班單</ng-container>
      </li>
      <li class="col-sm-3 active">
        <ng-container i18n>加班明細確認</ng-container>
      </li>
      <li class="col-sm-3">
        <ng-container i18n>加班完成</ng-container>
      </li>
    </ol>
  </div>
  <!-- a-block-body End -->
</section>

<div class="a-block">
  <div class="a-block-body  a-block-container">
    
    <!-- 申請人區塊 -->
    <div class="empBlock">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="col-md-3 col-xs-4 textRight">
            <label>
              <ng-container i18n>員工</ng-container>
            </label>
          </div>
          <div class="col-md-9 col-xs-8">
            <label>
              <ng-container i18n>{{getEmpInfo.empID}}{{getEmpInfo.empName}}</ng-container>
            </label>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="col-md-3 col-xs-4 textRight">
            <label>
              <ng-container i18n>填寫人</ng-container>
            </label>
          </div>
          <div class="col-md-9 col-xs-8">
            <label>
              <ng-container i18n>{{getEmpInfo.writeEmpID}}{{getEmpInfo.writeEmpName}}</ng-container>
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- 申請人區塊 -->

    <!-- 加班時段區塊 -->
    <div *ngFor="let otForm of getOtFormArray" class="dataListBlock">
      <div class="row" style="padding: 10px;border-bottom:1px solid #dcdcdc">
        <div class="col-md-6 col-xs-5" style="padding:0px;">
          <div style="padding: 0px;color: dodgerblue;font-size: 17px;">
            <label>
              <ng-container i18n>加班時段{{otForm.RowID}}</ng-container>
            </label>
          </div>
        </div>
        <div class="col-md-6 col-xs-7" style="text-align: right;padding: 0px;">
          <label style="vertical-align: text-top;">
            <ng-container i18n>加班時數<label style="color:red">{{otForm.OtAmount}}</label>分鐘</ng-container>
          </label>
        </div>
      </div>
      <div class="dataBlock">
        <div class="row" style="padding: 0;">
          <div class="col-md-6 col-xs-12 row" style="padding: 0;">
            <div class="col-md-4 col-xs-6">
              <label>
                <ng-container i18n>申請類型</ng-container>
              </label>
            </div>
            <div class="col-md-8 col-xs-6">
              <label>
                <ng-container i18n>{{otForm.OtCatName}}</ng-container>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12 row" style="padding: 0;">
            <div class="col-md-4 col-xs-6">
              <label>
                <ng-container i18n>起始</ng-container>
              </label>
            </div>
            <div class="col-md-8 col-xs-6">
              <label>
                {{otForm.StartDate}} {{otForm.StartTime}}
              </label>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 row" style="padding: 0;">
            <div class="col-md-4 col-xs-6">
              <label>
                <ng-container i18n>結束</ng-container>
              </label>
            </div>
            <div class="col-md-8 col-xs-6">
              <label>
                {{otForm.EndDate}} {{otForm.EndTime}}
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12 row" style="padding: 0;">
            <div class="col-md-4 col-xs-6">
              <label>
                <ng-container i18n>加班部門</ng-container>
              </label>
            </div>
            <div class="col-md-8 col-xs-6">
              <label>
                {{otForm.DeptsName}}
              </label>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 row" style="padding: 0;">
            <div class="col-md-4 col-xs-6">
              <label>
                <ng-container i18n>加班原因</ng-container>
              </label>
            </div>
            <div class="col-md-8 col-xs-6">
              <label>
                {{otForm.CauseName}}
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 row" style="padding: 0;">
            <div class="col-md-2 col-xs-6">
              <label>
                <ng-container i18n>附件檔案</ng-container>
              </label>
            </div>
            <div class="col-md-10 col-xs-6">
              <div *ngIf="otForm.FileUpload" class="uploadFileList">
                <a *ngFor="let f of otForm.FileUpload" (click)="base64(f)">
                  {{f.UploadName}}
                </a>
              </div>
              <div *ngIf="!(otForm.FileUpload)" style="display: inline-block;">
                <span>無</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 row" style="padding: 0;">
            <div class="col-md-2 col-xs-6">
              <label>
                <ng-container i18n>備註</ng-container>
              </label>
            </div>
            <div class="col-md-10 col-xs-6">
              <span *ngIf="otForm.Note">
                {{otForm.Note}}
              </span>
              <span *ngIf="!(otForm.Note)">
                無
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 加班時段區塊 -->
    
    <!-- 送出、返回按鈕區塊 -->
    <div style="text-align: center;">
      <div style="display: inline-block; padding: 0px 5px;">
        <button (click)="previouspage()" class="btn btnovt btn-default" style="padding: 5px 15px;"
          data-toggle="modal">返回修改</button>
      </div>
      <div style="display: inline-block; padding: 0px 5px;">
        <button class="btn btnovt btn-primary" style="padding: 5px 15px;" data-toggle="modal"
          (click)="checkOnSubmit()">確認送出</button>
      </div>
    </div>
    <!-- 送出、返回按鈕區塊 -->

  </div>
</div>



<div class="modal" id="checksenddialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="mySmallModalLabel" style="text-align: center">
            <ng-container i18n>確認送出?</ng-container>
          </h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" (click)="onSubmit()">
            <ng-container i18n>送出</ng-container>
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>取消</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog確認送出 -->
<div class="modal" id="sussesdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <!-- <span aria-hidden="true">×</span> -->
          </button>
          <h4 class="modal-title" style="text-align: center">
            <ng-container i18n>申請完成</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <div style="text-align: center;margin-bottom: 10px">
            <img src="./assets/images-template/icon-success.png" />
          </div>
          <div style="text-align: center">
            <ng-container i18n>表單送出完成</ng-container>!
          </div>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-primary" data-dismiss="modal" [routerLink]='["../../home"]'>
            <ng-container i18n>確定</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog送出成功 -->