<section class="a-block stateblock">
  <div class="a-block-body  a-block-container">
    <ol class="steps-indicator row">
      <li class="col-sm-3  active">
        <ng-container i18n>填寫加班單</ng-container>
      </li>
      <li class="col-sm-3">
        <ng-container i18n>加班明細確認</ng-container>
      </li>
      <li class="col-sm-3">
        <ng-container i18n>加班完成</ng-container>
      </li>
    </ol>
  </div>
  <!-- a-block-body End -->
</section>

<div class="a-block">
  <div class="a-block-body  a-block-container">
    <form [formGroup]="otFormGroup" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-7 control-label" style="display: inline-block;color:#8b8484">
          <label>本月累計加班時數：2小時</label>
        </div>
        <div class="col-md-5 control-label" style="display: inline-block;text-align:right">
          <div style="display: inline-block">
          </div>
          <div style="display: inline-block">
            <a data-toggle="modal" style="cursor: pointer;padding-left: 15px">
              <ng-container i18n>加班紀錄資訊</ng-container>
            </a>
          </div>
          <div style="display: inline-block">
            <a data-toggle="modal" data-target="#signDay" style="cursor: pointer;padding-left: 15px">
              <ng-container i18n>加班簽核權限表</ng-container>
            </a>
            <a data-toggle="modal" data-target="#beforholidayDialog" style="cursor: pointer;">
              <img src="./assets/images-template/icon-question.png" />
            </a>
          </div>
        </div>
      </div>
      <div style="margin-top:30px">
        <div class="form-horizontal form-style01">
          <div class="row" style="margin:0px ;margin-bottom: 5px;">
            <label class="col-md-2 control-label" style="padding-left: 0px">
              <span class="form-must-fill">*</span>
              <ng-container i18n>表單類型</ng-container>
            </label>
            <div class="col-md-3">
              <div class="row writerow">
                <select class="form-control"  formControlName="OtType">
                  <option value="1">預估加班單</option>
                  <option value="2">實際加班單</option>
                </select>

              </div>
            </div>
          </div>



          <div class="form-group first-form-group" style="margin:0px ;margin-bottom: 30px;padding-bottom:30px">
            <div class="col-md-6 firstinone-form-group" style="border: 0px;padding: 0;padding-top: 10px;">
              <label class="col-md-4 control-label">
                <span class="form-must-fill">*</span>
                <ng-container i18n>員工</ng-container>
              </label>
              <div class="col-md-8">
                <div class="row writerow">
                  <div class="col-md-6 col-xs-6" style="padding: 0;">
                    <input id="leavejobid" type="text" class="form-control" placeholder="員工號" formControlName="EmpID">
                    <div *ngIf="EmpID.status != 'VALID'" style="color: #e60012">請輸入正確員工號</div>

                  </div>
                  <div class="col-md-2 col-xs-3"
                    style="height: 23px;padding: 0px;padding-left: 2px;text-align: center;">
                    <button data-toggle="modal" data-target="#chooseEmpdialog"
                      style="cursor: pointer;border: 0;background: 0">
                      <img src="./assets/images-template/icon-person.png" style="cursor: pointer;padding-top: 5px" />
                    </button>
                  </div>
                  <div class="col-md-4 col-xs-3" style="padding: 0;padding-top: 7px">
                    <label style="font-weight: normal;">{{leaveman_name}}</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 firstintwo-form-group" style="border: 0px;padding: 0;padding-top: 10px;">
              <div class="col-md-3 col-xs-12 oneintwotitle" style="padding: 0px;">
                <label class="control-label">
                  <ng-container i18n>填寫人</ng-container>
                </label>
              </div>
              <div class="col-md-9 col-xs-12 control-label" style="text-align:left">
                <span>
                  {{WriteEmp.EmpID}} {{WriteEmp.EmpName}}
                </span>
              </div>
            </div>
          </div>
          <!-- form-group end -->


          <section *ngIf="NowIsWriteOtForm" class="form-horizontal  form-style01" appOtSpyNgIf>
            <div id="NowIsWirteFormTop"></div>

            <div>

              <div class="form-group" style="border: 0px;padding: 0;">
                <div class="col-md-6 " style="padding: 0;">
                  <label class="col-md-4 control-label" style="padding-left: 0px">
                    <span class="form-must-fill">*</span>
                    <ng-container i18n>起始日期</ng-container>
                  </label>
                  <div class="col-md-8 ">
                    <div class="row writerow">
                      <div class="col-md-10 col-xs-10" style="padding: 0px">
                        <input [matDatepicker]="StartDatePicker" id="id_ipt_startday" type="text" class="form-control"
                          style="background-color: #ffffff;" placeholder="年/月/日" formControlName="StartDate" />
                        <mat-datepicker #StartDatePicker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                        <div *ngIf="StartDate.getError('forbiddenName') == 'dateNull'"
                          style="color: #e60012">請輸入日期</div>
                        <div *ngIf="StartDate.getError('forbiddenName') == 'dateFail'"
                          style="color: #e60012">日期格式錯誤</div>
                        <div *ngIf="StartDate.getError('forbiddenName') == 'dateTimeFail'"
                          style="color: #e60012">起始日時大於結束日時</div>
                      </div>
                      <!--  -->
                      <div class="col-md-2 col-xs-2" style="padding: 0px">
                        <input (click)="StartDatePicker.open()" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                                  cursor: pointer;
                                  color: transparent;
                                  border: 1px solid transparent;
                                  width: 50px;
                                  height: 33px;
                                  ">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 " style="padding: 0;">
                  <div class="col-md-3 oneintwotitle" style="padding: 0px">
                    <label class="control-label">
                      <span class="form-must-fill">*</span>
                      <ng-container i18n>起始時間</ng-container>
                    </label>
                  </div>
                  <div class="col-md-9 oneintwocontent">
                    <div class="col-md-6 col-xs-10" style="padding: 0px">
                      <input id="id_ipt_starttime" type="text" class="form-control" style="background-color: #ffffff"
                        formControlName="StartTime" [textMask]="starttimeMask()">
                      <div *ngIf="StartTime.getError('forbiddenName') == 'timeNull'"
                        style="color: #e60012">請輸入時間</div>
                      <div *ngIf="StartTime.getError('forbiddenName') == 'timeFail'"
                        style="color: #e60012">時間格式錯誤</div>
                      <div *ngIf="StartTime.getError('forbiddenName') == 'dateTimeFail'"
                        style="color: #e60012">起始日時大於結束日時</div>
                    </div>
                    <!--  -->
                    <div class="col-md-4 col-xs-2" style="padding: 0px">
                      <input #StartTimeView id="id_bt_starttime" type="button" (click)="changeStartTimeView()" style="background: #fff url(./assets/images-template/icon-clock.png) center center no-repeat;
                                cursor: pointer;
                                color: transparent;
                                border: 1px solid transparent;
                                width: 50px;
                                height: 33px;
                                padding: 0px;
                                ">
                    </div>
                  </div>
                </div>
              </div>
              <!-- form-group end -->
              <div class="form-group" style="border: 0px;padding: 0;padding-top: 15px;">
                <div class="col-md-6 " style="padding: 0;">
                  <label class="col-md-4 control-label" style="padding-left: 0px">
                    <span class="form-must-fill">*</span>
                    <ng-container i18n>結束日期</ng-container>
                  </label>
                  <div class="col-md-8">
                    <div class="row writerow">
                      <div class="col-md-10 col-xs-10" style="padding: 0px">
                        <input [matDatepicker]="EndDatePicker" id="id_ipt_endday" type="text" class="form-control"
                          style="background-color: #ffffff" placeholder="年/月/日" formControlName="EndDate">
                        <mat-datepicker #EndDatePicker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                        <div *ngIf="EndDate.getError('forbiddenName') == 'dateNull'"
                          style="color: #e60012">請輸入日期</div>
                        <div *ngIf="EndDate.getError('forbiddenName') == 'dateFail'"
                          style="color: #e60012">日期格式錯誤</div>
                        <div *ngIf="EndDate.getError('forbiddenName') == 'dateTimeFail'"
                          style="color: #e60012">起始日時大於結束日時</div>
                      </div>
                      <div class="col-md-2 col-xs-2" style="padding: 0px">
                        <input (click)="EndDatePicker.open()" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                                      cursor: pointer;
                                      color: transparent;
                                      border: 1px solid transparent;
                                      width: 50px;
                                      height: 33px;
                                      ">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 " style="padding: 0;">
                  <div class="col-md-3 oneintwotitle" style="padding: 0px">
                    <label class="control-label">
                      <span class="form-must-fill">*</span>
                      <ng-container i18n>結束時間</ng-container>
                    </label>
                  </div>
                  <div class="col-md-9 oneintwocontent">
                    <!--  -->
                    <div class="col-md-6 col-xs-10" style="padding: 0px">
                      <input type="text" id="id_ipt_endtime" class="form-control" style="background-color: #ffffff"
                        formControlName="EndTime" [textMask]="endtimeMask()">
                      <div *ngIf="EndTime.getError('forbiddenName') == 'timeNull'" style="color: #e60012">
                        請輸入時間</div>
                      <div *ngIf="EndTime.getError('forbiddenName') == 'timeFail'" style="color: #e60012">
                        時間格式錯誤</div>
                      <div *ngIf="EndTime.getError('forbiddenName') == 'dateTimeFail'"
                        style="color: #e60012">起始日時大於結束日時</div>
                    </div>
                    <!--  -->
                    <div class="col-md-4 col-xs-2" style="padding: 0px">
                      <input #EndTimeView type="button" id="id_bt_endtime" (click)="changeEndTimeView()" type="button" style="background: #fff url(./assets/images-template/icon-clock.png) center center no-repeat;
                                  cursor: pointer;
                                  color: transparent;
                                  border: 1px solid transparent;
                                  width: 50px;
                                  height: 33px;
                                  padding: 0px;
                                  ">
                    </div>
                  </div>
                </div>
              </div>
              <!-- form-group end -->
              <div class="form-group" style="border: 0px;padding: 0;padding-top: 15px;">
                <div class="col-md-6 " style="margin-bottom: 5px;padding: 0;">
                  <label class="col-md-4 control-label" style="padding-left: 0px">
                    <span class="form-must-fill">*</span>
                    <ng-container i18n>申請類型</ng-container>
                  </label>
                  <div class="col-md-8">
                    <div class="row writerow">
                      <select class="form-control" style="width:70%" formControlName="OtCat">
                        <option value="1">加班費</option>
                        <option value="2">補休假</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 " style="padding: 0;">
                  <div class="col-md-3 oneintwotitle" style="padding: 0px">
                    <label class=" control-label" style="padding-left: 0px">
                      <span class="form-must-fill">*</span>
                      <ng-container i18n>加班部門</ng-container>
                    </label>
                  </div>
                  <div class="col-md-9 oneintwocontent">
                    <div class="col-md-6 col-xs-10" style="padding:0px">
                      <ngx-select formControlName="DeptsID" [items]="NgxDeptsSelectBox" optionValueField="DeptsID"
                        optionTextField="DeptsName">
                      </ngx-select>
                    </div>
                  </div>
                </div>
              </div>
              <!-- form-group end -->



              <!-- <div *ngIf="showEventDate" class="form-group" style="border: 0px;padding: 0;padding-top: 10px;">
                    <div class="col-md-6 col-xs-12">
                      <label class="col-md-4 control-label" style="padding-left: 0px">
                        上次事件發生日
                      </label>
                      <div class="col-md-8">
                        <div class="row writerow">
                          <div>2019/08/08</div>
                          <div>2019/08/09</div>
                          <div>2019/08/10</div>
                          <div>2019/08/11</div>
                        </div>
                      </div>
                    </div>
                  </div> -->
              <!-- form-group end -->
              <div class="form-group" style="border: 0px;padding: 0;padding-top: 15px;">
                <div class="col-md-6 " style="margin-bottom: 5px;padding: 0;">
                  <label class="col-md-4 control-label" style="padding-left: 0px">
                    <span class="form-must-fill">*</span>
                    <ng-container i18n>加班原因</ng-container>
                  </label>
                  <div class="col-md-8">
                    <div class="row writerow">
                      <select class="form-control" style="width:70%" formControlName="CauseID">
                        <option *ngFor="let order of CauseOption; let i = index" [value]="order.CauseID">
                          {{order.CauseNameC}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6" style="margin: 0px;padding: 0;">
                  <label class="col-md-3 control-label" style="padding-right: 0px">
                    <ng-container i18n>上傳附件</ng-container>
                  </label>
                  <div class="col-md-9 oneintwocontent">
                    <!-- <button class="btn btn-default" style="padding: 5px 15px;" data-toggle="modal" data-target="#uploadfiledialog">瀏覽...</button> -->

                    <app-fileuploadbutton (fileChange)="onSaveFile($event)"></app-fileuploadbutton>

                    <br class="br_phone" />
                    <!-- <button (click)="qlog()">checkfile</button> -->
                  </div>
                </div>
              </div>


            </div>
            <!-- form-group end -->
            <div class="form-group" style="border: 0px;padding: 0;padding-top: 15px;">
              <div class="row" style="margin:0px">
                <label class="col-md-2 control-label noteText">
                  <ng-container i18n>備註</ng-container>
                </label>
                <div class="col-md-8  noteWrite">
                  <!-- <button class="btn btn-default" style="padding: 5px 15px;">瀏覽...</button> -->
                  <textarea id="cause" class="inputTextarea" style="overflow-y: auto" placeholder="" maxlength="1000"
                    formControlName="Note"></textarea>
                </div>
              </div>
            </div>
            <!-- form-group end -->
            <div class="form-group" style="text-align:center">
              <button type="submit" class="btn btn-primary" style="padding: 5px 15px;" data-toggle="modal"
                [disabled]="!otFormGroup.valid">送出</button>
            </div>
          </section>
          <div *ngIf="!NowIsWriteOtForm">
            <div class="form-group" style="border: 0px;padding: 0;padding-top: 20px;">
              <div class="col-md-12 col-xs-12">
                <div class="col-md-2 control-label" style="padding-left: 0px">
                </div>
                <div class="col-md-8 writerow">
                  <div style="margin-bottom: 10px">
                    <div (click)="showOtform()" style="display: inline-block;vertical-align: bottom;cursor: pointer">
                      <img src="./assets/images-template/icon-add.png" />
                      <a style="padding-top: 5px;padding-left: 10px;">
                        <ng-container i18n>新增更多請假時段</ng-container>
                      </a>
                    </div>
                  </div>
                  <div style="margin-bottom: 10px">
                    <button type="button" class="btn btn-primary  m-r-xs   m-b-s--screen-xs" >
                      <ng-container i18n>下一步</ng-container>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- form-group end -->
          </div>
        </div>
      </div>
    </form>
  </div>
</div>