<div *ngIf="!isWriteforgetform">
  <section class="a-block stateblock">
    <div class="a-block-body  a-block-container">
      <ol class="steps-indicator row">
        <li class="col-sm-3  active">
          <ng-container i18n>選擇欲填寫之簽認單</ng-container>
        </li>
        <li class="col-sm-3">
          <ng-container i18n>填寫簽認單</ng-container>
        </li>
        <li class="col-sm-3">
          <ng-container i18n>送出簽認單</ng-container>
        </li>
      </ol>
    </div>
    <!-- a-block-body End -->
  </section>
  <div class="a-block" *ngIf="showBlockIsAssistant">
    <div class="a-block-body  a-block-container">

      <div class="row" style="margin: 0px;margin-bottom: 15px;">
        <h3 style="margin: 0;">
          <ng-container i18n>行政區塊</ng-container>
        </h3>
        <div class="col-md-6 col-xs-12  P_dashed">
          <label class="col-md-4 control-label" style="padding-left: 0px;text-align: right;padding-top: 6px;">
            <span class="form-must-fill">*</span>
            <ng-container i18n>員工</ng-container>
          </label>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6 col-xs-6" style="padding: 0;">
                <input id="Assistant_ChooseEmpCode" type="text" class="form-control" placeholder="員工號"
                  [(ngModel)]="EmpBase.EmpCode" maxlength="6" (blur)="chooseEmp()">
                <div *ngIf="errorEmp.state" style="color: #e60012">{{errorEmp.errorString}}</div>
              </div>
              <div class="col-md-2 col-xs-3" style="height: 23px;padding: 0px;padding-left: 2px;text-align: center;">
                <button data-toggle="modal" data-target="#chooseEmpdialog"
                  style="cursor: pointer;border: 0;background: 0">
                  <img src="./assets/images-template/icon-person.png" style="cursor: pointer;padding-top: 5px" />
                </button>
              </div>

              <div class="col-md-4 col-xs-3"
                style="height: 23px;padding: 0px;padding-left: 2px;text-align: center;padding-top: 6px;">
                {{EmpBase.Name}}
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12  P_dashed">
          <div class="col-md-3 col-xs-12  P_textLeft">
            <label class="control-label">
              <ng-container i18n>填寫人</ng-container>
            </label>
          </div>
          <div class="col-md-9  col-xs-12 P_paddingLRZ">
            <label class="control-label" style="font-weight: normal;padding-top: 6px;">{{User.write_man_code}}
              {{User.write_man_name}}</label>
          </div>
        </div>
      </div>


      <div class="row" style="margin: 0px">
        <div class="col-md-6 firstinone-form-group">
          <label class="col-md-4 control-label" style="padding-left: 0px;text-align: right;padding-top: 6px;">
            <span class="form-must-fill">*</span>
            <ng-container i18n>起始日期</ng-container>
          </label>
          <div class="col-md-8">
            <div class="row writerow">
              <div class="col-md-6 col-xs-10" style="padding: 0px">
                <input [matDatepicker]="StartDatePicker" id="id_ipt_startday" [(ngModel)]="searchDateB" type="text"
                  class="form-control" style="background-color: #ffffff;" placeholder="年/月/日"
                  (blur)="SerchStartDateChange()" (dateChange)="SerchStartDateChange()" />
                <div *ngIf="errorStartDate.state" style="color: #e60012">{{errorStartDate.errorString}}</div>

                <mat-datepicker #StartDatePicker touchUi [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
              </div>
              <!--  -->
              <div class="col-md-2 col-xs-2" style="padding: 0px">
                <input (click)="StartDatePicker.open()" data-modal="true" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                                  cursor: pointer;
                                  color: transparent;
                                  border: 1px solid transparent;
                                  width: 50px;
                                  height: 40px;
                                  margin-left: 3px;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 firstintwo-form-group">
          <label class="col-md-3 control-label" style="padding: 0px;text-align: right;padding-top: 6px;">
            <span class="form-must-fill">*</span>
            <ng-container i18n>結束日期</ng-container>
          </label>
          <div class="col-md-8">
            <div class="row ">
              <div class="col-md-6 col-xs-10 P_paddingLRZ">
                <input [matDatepicker]="EndDatePicker" id="id_ipt_endday" [(ngModel)]="searchDateE" type="text"
                  class="form-control" style="background-color: #ffffff;" placeholder="年/月/日" (blur)="blurEndDate()"
                  (dateChange)="blurEndDate()" />
                <div *ngIf="errorEndDate.state" style="color: #e60012">{{errorEndDate.errorString}}</div>

                <mat-datepicker #EndDatePicker touchUi [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
              </div>
              <!--  -->
              <div class="col-md-2 col-xs-2" style="padding: 0px">
                <input (click)="EndDatePicker.open()" data-modal="true" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                                    cursor: pointer;
                                    color: transparent;
                                    border: 1px solid transparent;
                                    width: 50px;
                                    height: 40px;
                                    margin-left: 3px;">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin: 0px">
        <div class="col-md-6">
          <div class="col-md-4 col-md-offset-4" style="padding: 0">
            <button class="btn btn-primary" (click)="onSearch()">
              <ng-container i18n>查詢</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="a-block">
    <div class="a-block-body  a-block-container">
      <div *ngIf="DL_showNote">
        <img
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
      <div *ngIf="!DL_showNote">
        <div *ngIf="showNote.length>0" style="margin-bottom: 20px">
          <div style="border:1px solid #d9edf7;">
            <div style="background-color: #d9edf7;padding-left: 10px;padding-top: 5px;">
              <label style="color: 
                  #31708f">
                <ng-container i18n>人力處提醒您</ng-container>
              </label>
            </div>
            <div style="height: 50px;
                  overflow-y: auto;padding: 10px 10px;">
              {{showNote}}
            </div>
          </div>
        </div>
      </div>
      <h3 style="margin:0px;margin-bottom: 10px">
        <ng-container i18n>出勤日</ng-container>
      </h3>
      <div style="margin-bottom: 10px">
        <label>
          <ng-container i18n>員工</ng-container>
        </label> {{showSearchEmp.EmpCode}} {{showSearchEmp.EmpNameC}}
      </div>
      <div *ngIf="DL_showBaseParameter">
          <img
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
      <div *ngIf="!DL_showBaseParameter">
        <div *ngIf=" AttendCard.length == 0 && !errorEmpSendForm.state">
          <ng-container i18n>目前無考勤異常資料</ng-container>
        </div>
        <div *ngIf="errorEmpSendForm.state">
          {{errorEmpSendForm.errorEmpID}}
          <ng-container i18n>此員工無申請表單權限，如需申請表單請洽單位行政設定</ng-container>
        </div>
      </div>
      <!--考勤資訊-->
      <div *ngFor="let Attend of AttendCard" class="row cardBlock">
        <div class="col-md-11 col-xs-11 row" style="margin: 0px ;padding: 0px">
          <div id="iDateInf" class="col-md-3 col-xs-12 row P_paddingZ" style="margin: 0;">
            <div class="col-md-6  col-xs-6 P_paddingAllZ">
              <span style="color: #028fcf">{{Attend.AttendDate}}</span>
            </div>
            <div class="col-md-6  col-xs-6">
              <div *ngIf="Attend.IsAbsent">
                <div *ngIf="Attend.EliminateAbsent;else nonEliminateAbsent" class="tagBlueLineThrough">
                  <ng-container i18n>未刷卡</ng-container>
                </div>
                <ng-template #nonEliminateAbsent>
                  <div class="tag_red">
                    <ng-container i18n>未刷卡</ng-container>
                  </div>
                </ng-template>
              </div>
              <div *ngIf="Attend.LateMins">
                <div *ngIf="Attend.EliminateLate;else nonEliminateLate" class="tagBlueLineThrough">
                  <ng-container i18n>遲到</ng-container>
                </div>
                <ng-template #nonEliminateLate>
                  <div class="tag_red">
                    <ng-container i18n>遲到</ng-container>
                  </div>
                </ng-template>
              </div>
              <div *ngIf="Attend.OnBeforeMins">
                <div *ngIf="Attend.EliminateOnBefore;else nonEliminateOnBefore" class="tagBlueLineThrough">
                  <ng-container i18n>早到</ng-container>
                </div>
                <ng-template #nonEliminateOnBefore>
                  <div class="tag_red">
                    <ng-container i18n>早到</ng-container>
                  </div>
                </ng-template>
              </div>
              <div *ngIf="Attend.EarlyMins">
                <div *ngIf="Attend.EliminateEarly;else nonEliminateEarly" class="tagBlueLineThrough">
                  <ng-container i18n>早退</ng-container>
                </div>
                <ng-template #nonEliminateEarly>
                  <div class="tag_red">
                    <ng-container i18n>早退</ng-container>
                  </div>
                </ng-template>
              </div>
              <div *ngIf="Attend.OffAfterMins">
                <div *ngIf="Attend.EliminateOffAfter;else nonEliminateOffAfter" class="tagBlueLineThrough">
                  <ng-container i18n>晚退</ng-container>
                </div>
                <ng-template #nonEliminateOffAfter>
                  <div class="tag_red">
                    <ng-container i18n>晚退</ng-container>
                  </div>
                </ng-template>
              </div>
              <div>
                <div class="tagBlue"
                  *ngIf="(!Attend.LateMins &&
                                            !Attend.EarlyMins &&
                                            !Attend.IsAbsent &&
                                            ( !Attend.OnBeforeMins) &&
                                            ( !Attend.OffAfterMins))
                                            && Attend.ActualRote_WorkHours > 0">
                  <ng-container i18n>正常</ng-container>
                </div>
                <div class="tagBlue" *ngIf="Attend.IsAbnormal">
                  <ng-container i18n>不判斷</ng-container>
                </div>
              </div>
            </div>
          </div>
          <div id="iRoteInf" class="col-md-3 col-xs-12 row P_bottomLine">
            <div class="col-md-4 col-xs-12 P_bottomTen">
              <div style="color: rgb(150, 149, 148);">
                <ng-container i18n>班型</ng-container>
              </div>
              <div class="RoteLink" (click)="bt_Show_RoteInfo(Attend.RoteID)">{{Attend.RoteNameC}}</div>
            </div>
            <div class="col-md-4 col-xs-6" style="padding: 0;">
              <div style="color: rgb(150, 149, 148)">
                <ng-container i18n>應上班時間</ng-container>
              </div>
              <div>{{Attend.ActualRote_OnTime}}</div>
            </div>
            <div class="col-md-4 col-xs-6" style="padding: 0;">
              <div style="color: rgb(150, 149, 148);">
                <ng-container i18n>應下班時間</ng-container>
              </div>
              <div style="display: inline-block;">{{Attend.ActualRote_OffTime}}</div>
              <div *ngIf="Attend.ActualRote_calCrossDay" style="display: inline-block;
                  height: 20px;
                  font-size: 13px;
                  width: 40px;
                  text-align: center;
                  color: #fff;
                  background-color: #408cb6;
                  border: 1px solid;
                  border-radius: 15px;">+1<ng-container i18n>日</ng-container>
              </div>
            </div>
          </div>
          <div id="iAttendInf" class="col-md-3 col-xs-12 row P_paddingTop P_bottomLine">
            <div class="col-md-6 col-xs-6 P_paddingAllZ">
              <div [style.color]="Attend.UiAttendColor.RAttendOnTimeTitle">
                <ng-container i18n>到勤時間</ng-container>
              </div>
              <div [style.color]="Attend.UiAttendColor.RAttendOnTimeContent" style="display: inline-block;">
                <div *ngIf="Attend.AttendCard_OnTime.length>0" style="display: inline-block;">
                  {{Attend.AttendCard_OnTime}}
                </div>
                <div *ngIf="Attend.AttendCard_OnTime.length==0">
                  <ng-container i18n>無</ng-container>
                </div>
              </div>
              <div *ngIf="Attend.AttendCard_OnTime_calCrossDay" style="display: inline-block;
                    height: 20px;
                    font-size: 13px;
                    width: 40px;
                    text-align: center;
                    color: #fff;
                    background-color: #408cb6;
                    border: 1px solid;
                    border-radius: 15px;">+1
                <ng-container i18n>日</ng-container>
              </div>
            </div>
            <div class="col-md-6 col-xs-6 P_paddingEndTimeAllZ">
              <div [style.color]="Attend.UiAttendColor.ROffTimeTitle">
                <ng-container i18n>離勤時間</ng-container>
              </div>
              <div>
                <div [style.color]="Attend.UiAttendColor.ROffTimeContent" style="display: inline-block;">
                  <div *ngIf="Attend.AttendCard_OffTime.length>0" style="display: inline-block;padding-right: 10px">
                    {{Attend.AttendCard_OffTime}}</div>
                  <div *ngIf="Attend.AttendCard_OffTime.length==0" style="display: inline-block;">
                    <ng-container i18n>無</ng-container>
                  </div>
                </div>
                <div *ngIf="Attend.AttendCard_OffTime_calCrossDay" style="display: inline-block;
                    height: 20px;
                    font-size: 13px;
                    width: 40px;
                    text-align: center;
                    color: #fff;
                    background-color: #408cb6;
                    border: 1px solid;
                    border-radius: 15px;">+1<ng-container i18n>日</ng-container>
                </div>
              </div>
            </div>
          </div>
          <div id="iEmpInf" class="col-md-3 col-xs-12 row P_paddingTop" style="margin: 0;">
            <div class="col-md-4 col-xs-6" style="padding:0">
              <div style="color: rgb(150, 149, 148);">
                <ng-container i18n>請假單</ng-container>
              </div>
              <div>
                <span *ngIf="!Attend.IsAbs">無</span>
                <a *ngIf="Attend.IsAbs" (click)="vaClick(Attend.AttendDate,Attend.forget_man_code)">查閱</a>
              </div>
            </div>
            <div class="col-md-4 col-xs-6" style="padding:0">
              <div style="color: rgb(150, 149, 148)">
                <ng-container i18n>加班單</ng-container>
              </div>
              <div>
                <span *ngIf="!Attend.IsOt">無</span>
                <a *ngIf="Attend.IsOt" (click)="otClick(Attend.AttendDate,Attend.forget_man_code)">查閱</a>
              </div>
            </div>
            <div class="col-md-4 col-xs-12 P_topTen">
              <div style="color: rgb(150, 149, 148);">
                <ng-container i18n>車誤</ng-container>
              </div>
              <div *ngIf="Attend.Behind">
                <div *ngIf="Attend.Behind.IsDelay">
                  <span>{{Attend.Behind.ArriveTime}}</span>
                </div>
                <div *ngIf="!Attend.Behind.IsDelay">
                  <span>無</span>
                </div>
              </div>
              <div *ngIf="!Attend.Behind">
                <span>無</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1 col-xs-1 row" style="margin: 0px ;padding: 0px">
          <div class="P_lineHeight">
            <a style="cursor: pointer;text-decoration:underline" (click)="onGoWriteForm(Attend)">
              <span class="P_textNotshow">
                <ng-container i18n>填寫</ng-container>
              </span>
              <img src="./assets/images-template/icon-arrow.png" style=" transform:rotate(-90deg);" />
            </a>
          </div>
        </div>
      </div>
      <!--考勤資訊-->


    </div>
  </div>

</div>


<app-rm-card-form-write *ngIf="isWriteforgetform" (outputWriteforgetformChange)="onisWriteforgetformChange()"
  [getAttendCard]="selectAttendCard"></app-rm-card-form-write>



<div class="modal" id="chooseEmpdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <app-choosebase-ma (saveEmptoView)="onSaveEmptoView($event)" [IsTop]="true"></app-choosebase-ma>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>取消</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog選擇員工-->


<div class="modal" id="RoteInf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <!-- <h4 class="modal-title" id="mySmallModalLabel">{{showSearchEmp.EmpCode}} 出勤班表</h4> -->
          <h4 class="modal-title" id="mySmallModalLabel">
            <ng-container i18n>班型資訊</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <app-rote-inf [GetRoteInfo$]="Ob_setGetRoteInfo$"></app-rote-inf>
          <div style="text-align: center">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              <ng-container i18n>確定</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog班表期間-->


<div class="modal" id="RecentHoliday" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <div style="text-align: center">
            <h3 style="margin: 0px">{{SearchAttendDate}} <ng-container i18n>請假資訊</ng-container>
            </h3>
          </div>
        </div>
        <div class="modal-body" style="padding: 25px;padding-top: 15px;">
          <div class="row P_div" *ngFor="let oneVaData of ShowVa ; let i = index">
            <div class="row col-md-2 col-xs-12 P_padding" style="margin: 0px">
              <div class="col-md-12   col-xs-6 P_left" style="color: #028fcf;padding:0px;
                  margin-bottom: 10px;">
                <ng-container i18n>請假明細</ng-container><span>{{showDay(i)}}</span>
              </div>
              <div class="col-md-12   col-xs-6" style="padding: 0;text-align: right;">
                <div class="tag_blue" *ngIf="oneVaData.State=='1'">
                  <ng-container i18n>呈核中</ng-container>
                </div>
                <div class="tag_skyblue" *ngIf="oneVaData.State=='3'">
                  <ng-container i18n>已核准</ng-container>
                </div>
                <div class="tag_redCircle" *ngIf="oneVaData.State=='2'">
                  <ng-container i18n>重擬</ng-container>
                </div>
                <div class="tag_gray" *ngIf="oneVaData.State=='7'">
                  <ng-container i18n>已抽單</ng-container>
                </div>
              </div>
            </div>
            <div class="row col-md-7 col-xs-10" style="margin: 0px;padding: 0">
              <div class="col-md-12 col-xs-12" style="margin: 0px;color:#6f6f6f;padding: 0;
                  margin-bottom: 10px;">
                <div class="row" style="margin: 0;padding-bottom: 5px;">
                  <div class="col-md-6 col-xs-12" style="padding: 0">
                    <span style="color: #969696">
                      <ng-container i18n>起始</ng-container>：
                    </span>
                    {{oneVaData.showDateB}} {{oneVaData.showTimeB}}
                  </div>
                  <div class="col-md-6 col-xs-12" style="padding: 0">
                    <span style="color: #969696">
                      <ng-container i18n>結束</ng-container>：
                    </span>
                    {{oneVaData.showDateE}} {{oneVaData.showTimeE}}
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-xs-12" style="margin: 0px;color:#6f6f6f;padding: 0">
                <div class="row" style="margin: 0;padding-bottom: 5px;">
                  <div *ngIf="!oneVaData.showSignDate" class="col-md-6 col-xs-12" style="padding: 0">
                    <span style="color: #969696">
                      <ng-container i18n>批核</ng-container>：
                    </span>
                    <ng-container i18n>尚未批核</ng-container>
                  </div>
                  <div *ngIf="oneVaData.showSignDate" class="col-md-6 col-xs-12" style="padding: 0">
                    <span style="color: #969696">
                      <ng-container i18n>批核</ng-container>：
                    </span>
                    {{oneVaData.showSignDate}} {{oneVaData.showSignTime}}
                  </div>
                  <div class="col-md-6 col-xs-12" style="padding: 0">
                    <span style="color: #969696">
                      <ng-container i18n>假別</ng-container>：
                    </span>
                    {{oneVaData.HoliDayNameC}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12" style="padding: 0">
              <div class="P_All">
                <ng-container i18n>共計</ng-container>
                {{oneVaData.day}}
                <ng-container i18n> 日 </ng-container>
                {{oneVaData.hour}}
                <ng-container i18n> 時 </ng-container>
                {{oneVaData.minute}}
                <ng-container i18n> 分 </ng-container>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <div style="text-align: center">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <ng-container i18n>關閉</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog查閱請假單-->


<div class="modal" id="OtDataDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <div style="text-align: center">
            <h3 style="margin: 0px">{{SearchAttendDate}} <ng-container i18n>加班資訊</ng-container>
            </h3>
          </div>
        </div>
        <div class="modal-body" style="padding: 25px;padding-top: 15px;">
          <div class="row P_div" *ngFor="let oneOtData of ShowOt ; let i = index">
            <div class="row col-md-2 col-xs-12 P_padding" style="margin: 0px">
              <div class="col-md-12   col-xs-6 P_left" style="color: #028fcf;padding:0px;
                  margin-bottom: 10px;">
                <ng-container i18n>加班明細</ng-container><span>{{showDay(i)}}</span>
              </div>
              <div class="col-md-12   col-xs-6" style="padding: 0;text-align: right;">
                <div class="tag_blue" *ngIf="oneOtData.State=='1'">
                  <ng-container i18n>呈核中</ng-container>
                </div>
                <div class="tag_skyblue" *ngIf="oneOtData.State=='3'">
                  <ng-container i18n>已核准</ng-container>
                </div>
                <div class="tag_redCircle" *ngIf="oneOtData.State=='2'">
                  <ng-container i18n>重擬</ng-container>
                </div>
                <div class="tag_gray" *ngIf="oneOtData.State=='7'">
                  <ng-container i18n>已抽單</ng-container>
                </div>
              </div>
            </div>
            <div class="row col-md-7 col-xs-10" style="margin: 0px;padding: 0">
              <div class="col-md-12 col-xs-12" style="margin: 0px;color:#6f6f6f;padding: 0;
                  margin-bottom: 10px;">
                <div class="row" style="margin: 0;padding-bottom: 5px;">
                  <div class="col-md-6 col-xs-12" style="padding: 0">
                    <span style="color: #969696">
                      <ng-container i18n>起始</ng-container>：
                    </span>
                    <!--2019/01/18 08:00-->{{oneOtData.DateTimeB}}
                  </div>
                  <div class="col-md-6 col-xs-12" style="padding: 0">
                    <span style="color: #969696">
                      <ng-container i18n>結束</ng-container>：
                    </span>
                    <!--2019/01/18 12:00-->{{oneOtData.DateTimeE}}
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-xs-12" style="margin: 0px;color:#6f6f6f;padding: 0">
                <div class="row" style="margin: 0;padding-bottom: 5px;">
                  <div *ngIf="!oneOtData.ApproveDate" class="col-md-6 col-xs-12" style="padding: 0">
                    <span style="color: #969696">
                      <ng-container i18n>批核</ng-container>：
                    </span>
                    <!--2019/01/18 08:00-->
                    <ng-container i18n>尚未批核</ng-container>
                  </div>
                  <div *ngIf="oneOtData.ApproveDate" class="col-md-6 col-xs-12" style="padding: 0">
                    <span style="color: #969696">
                      <ng-container i18n>批核</ng-container>：
                    </span>
                    <!--2019/01/18 08:00-->{{oneOtData.ApproveDate}}
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-3 col-xs-12" style="padding: 0">
            //   <div class="P_All">
            //     <ng-container i18n>共計</ng-container>
            //     {{oneOtData.day}}
            //     <ng-container i18n> 日 </ng-container>
            //     {{oneOtData.hour}}
            //     <ng-container i18n> 時 </ng-container>
            //     {{oneOtData.minute}}
            //     <ng-container i18n> 分 </ng-container>
            //   </div>
            // </div>-->
          </div>

        </div>
        <div class="modal-footer">
          <div style="text-align: center">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <ng-container i18n>關閉</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog查閱加班單-->