<div class="a-block" *ngIf="showBlockIsAssistant">
  <div class="a-block-body  a-block-container">
    <div class="row" style="margin: 0px;margin-bottom: 15px;">
      <h3 style="margin:0px">行政區塊</h3>
      <div class="col-md-6 col-xs-12  P_dashed">
        <label class="col-md-4 control-label" style="padding-left: 0px;text-align: right;padding-top: 6px;">
          <span class="form-must-fill">*</span>員工
        </label>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6 col-xs-6" style="padding: 0;">
              <input id="Assistant_ChooseEmpCode" type="text" class="form-control" placeholder="員工號"
                [(ngModel)]="EmpBase.EmpCode" maxlength="6" (blur)="chooseEmp()">
              <div *ngIf="errorEmp.state" style="color: #e60012">{{errorEmp.errorString}}</div>
            </div>
            <div class="col-md-2 col-xs-3" style="height: 23px;padding: 0px;padding-left: 2px;text-align: center;">
              <button data-toggle="modal" data-target="#chooseEmpdialog"
                style="cursor: pointer;border: 0;background: 0">
                <img src="./assets/images-template/icon-person.png" style="cursor: pointer;padding-top: 5px" />
              </button>
            </div>

            <div class="col-md-4 col-xs-3"
              style="height: 23px;padding: 0px;padding-left: 2px;text-align: center;padding-top: 6px;">
              {{EmpBase.Name}}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12  P_dashed">
        <div class="col-md-3 col-xs-12  P_textLeft">
          <label class="control-label">填寫人</label>
        </div>
        <div class="col-md-9  col-xs-12 P_paddingLRZ">
          <label class="control-label" style="font-weight: normal;padding-top: 6px;">{{writeEmpMan.EmpCode}}
            {{writeEmpMan.EmpNameC}}</label>
        </div>
      </div>
    </div>
    <div class="row" style="margin: 0px">
      <div class="col-md-6 firstinone-form-group">
        <label class="col-md-4 control-label" style="padding-left: 0px;text-align: right;padding-top: 6px;">
          <span class="form-must-fill">*</span>起始日期
        </label>
        <div class="col-md-8">
          <div class="row writerow">
            <div class="col-md-6 col-xs-10" style="padding: 0px">
              <input [matDatepicker]="StartDatePicker" id="id_ipt_startday" [(ngModel)]="searchDateB" type="text"
                class="form-control" style="background-color: #ffffff;" placeholder="年/月/日"
                (blur)="SerchStartDateChange()" (dateChange)="SerchStartDateChange()" />
              <div *ngIf="errorStartDate.state" style="color: #e60012">{{errorStartDate.errorString}}</div>

              <mat-datepicker #StartDatePicker touchUi [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
            </div>
            <!--  -->
            <div class="col-md-2 col-xs-2" style="padding: 0px">
              <input (click)="StartDatePicker.open()" data-modal="true" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                                    cursor: pointer;
                                    color: transparent;
                                    border: 1px solid transparent;
                                    width: 50px;
                                    height: 40px;
                                    margin-left: 3px;">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 firstintwo-form-group">
        <label class="col-md-3 control-label" style="padding: 0px;text-align: right;padding-top: 6px;">
          <span class="form-must-fill">*</span>結束日期
        </label>
        <div class="col-md-8">
          <div class="row ">
            <div class="col-md-6 col-xs-10 P_paddingLRZ">
              <input [matDatepicker]="EndDatePicker" id="id_ipt_endday" type="text" [(ngModel)]="searchDateE"
                class="form-control" style="background-color: #ffffff;" placeholder="年/月/日" (blur)="blurEndDate()"
                (dateChange)="blurEndDate()" />
              <div *ngIf="errorEndDate.state" style="color: #e60012">{{errorEndDate.errorString}}</div>

              <mat-datepicker #EndDatePicker touchUi [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
            </div>
            <!--  -->
            <div class="col-md-2 col-xs-2" style="padding: 0px">
              <input (click)="EndDatePicker.open()" data-modal="true" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                                      cursor: pointer;
                                      color: transparent;
                                      border: 1px solid transparent;
                                      width: 50px;
                                      height: 40px;
                                      margin-left: 3px;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin: 0px">
      <div class="col-md-6">
        <div class="col-md-4 col-md-offset-4" style="padding: 0">
          <button class="btn btn-primary" (click)="onSearch()">查詢</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="a-block" *ngIf="alldelformpeople.length>0">
  <div class="a-block-body  a-block-container">
    <h2>選擇銷假時間</h2>
    <section class="form-horizontal  form-style01">

      <div class="form-group ">
        <div class="col-md-6 ">
          <label class="col-md-4 control-label" style="padding-left: 0px">
            員工
          </label>
          <div class="col-md-8" style="padding: 0;padding-top: 7px">
            <label style="font-weight: normal;">{{searchEmpCode}} {{searchEmpName}}</label>
          </div>
        </div>
      </div>
      <!-- form-group end -->
      <div style="border-bottom: 1px dashed #dcdcdc;padding-top: 20px">

        <!-- <button  id="accordion_show">全部展開</button>
        <button  id="accordion_hide">全部收合</button> -->
        <div class="panel-group" id="del_accordion" *ngFor="let alldelformpeople of alldelformpeople">
          <div class="panel panel-default" style="border: 1px #028fcf solid;">
            <div class="panel-heading row"
              style="padding: 20px;background-color: #f3f8fc;border-bottom: 1px #028fcf solid;margin: 0px">

              <div class="col-md-1 col-xs-12 P_CtextLeft" style="padding: 0px;">
                <mat-checkbox class="delcheckbox" [(ngModel)]="alldelformpeople.checkedstate"
                  style="margin-right: 5px;margin-bottom: 5px" (click)="checkAll(alldelformpeople)"
                  [disabled]="disabled_checkAll(alldelformpeople)"></mat-checkbox>
                <span class="showAllText">選取此時段所有時間</span>
              </div>
              <div class="col-md-11 col-xs-12  row" (click)="onCheckCollapseIn(alldelformpeople._id)"
                style="margin: 0px;padding: 0px;cursor: pointer;" data-toggle="collapse"
                [attr.data-target]="alldelformpeople._idherf">
                <!-- <div class="col-md-8 row" style="margin: 0px;padding: 0px"> -->

                <div class="col-md-11 col-xs-12" style="margin: 0px;padding: 0px">
                  <div *ngIf="!alldelformpeople.everyday" class="col-md-6 col-xs-12 row" style="margin:0;padding: 0px">
                    <div class="col-md-6 col-xs-12 P_startday" style="padding: 0px;">
                      <span style="color: #7e7e7e">起始：</span>
                      {{alldelformpeople.startdate}} <span>{{alldelformpeople.starttime}}</span>
                    </div>
                    <div class="col-md-6 col-xs-12" style="padding: 0px">
                      <span style="color: #7e7e7e">結束：</span>
                      {{alldelformpeople.enddate}} <span>{{alldelformpeople.endtime}}</span>
                    </div>
                    <div *ngIf="alldelformpeople.eventDate">
                      <span style="color: #7e7e7e">事件發生日：</span>
                      {{alldelformpeople.eventDate}}
                    </div>
                    <div *ngIf="alldelformpeople.keyName">
                      <span style="color: #7e7e7e">稱謂：</span>
                      {{alldelformpeople.keyName}}
                    </div>
                  </div>
                  <div *ngIf="alldelformpeople.everyday" class="col-md-6 col-xs-12 row" style="margin:0;padding: 0px">
                    <div class="col-md-6 col-xs-12 P_startday" style="padding: 0px;">
                      <span style="color: #7e7e7e">起始：</span>
                      {{alldelformpeople.startdate}}
                    </div>
                    <div class="col-md-6 col-xs-12" style="padding: 0px">
                      <span style="color: #7e7e7e">結束：</span>
                      {{alldelformpeople.enddate}}
                    </div>
                    <div *ngIf="alldelformpeople.everyday">
                      <span style="color: #7e7e7e">每日循環時段：</span>{{alldelformpeople.starttime}} - {{alldelformpeople.endtime}}
                    </div>
                    <div *ngIf="alldelformpeople.eventDate">
                      <span style="color: #7e7e7e">事件發生日：</span>
                      {{alldelformpeople.eventDate}}
                    </div>
                    <div *ngIf="alldelformpeople.keyName">
                      <span style="color: #7e7e7e">稱謂：</span>
                      {{alldelformpeople.keyName}}
                    </div>
                  </div>

                  <div class="col-md-6 col-xs-12 row" style="margin:0;padding: 0px">
                    <div class="col-md-6 col-xs-12" style="padding: 0px;">
                      共計：
                      <span style="margin-right:5px">{{alldelformpeople.calday}}</span>
                      <span style="margin-right:5px">日</span>
                      <span style="margin-right:5px">{{alldelformpeople.calhour}}</span>
                      <span style="margin-right:5px">時</span>
                      <span style="margin-right:5px">{{alldelformpeople.calminute}}</span>
                      <span style="margin-right:5px">分</span>
                    </div>
                    <div class="col-md-6 col-xs-12" style="padding: 0px;">
                      <div>
                        <span style="color: #7e7e7e">原始單號：</span>
                        {{alldelformpeople.ProcessID}}
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 col-xs-12" style="margin: 0px;padding:0px">
                    <div style="color: #d0021b"
                      *ngIf="alldelformpeople.selectDetailSeveral != '0' && !alldelformpeople.checkedstate">
                      (已選{{alldelformpeople.selectDetailSeveral}}段時間)
                    </div>
                    <div style="margin:0;padding: 8px 0px">
                      {{alldelformpeople.holiday.name}}
                    </div>
                  </div>
                </div>
                <!-- </div> -->
                <div class="col-md-1 col-xs-12" style="padding: 0px">
                  <a>
                    <span [id]="textid(alldelformpeople._id)">收合</span>
                    <img [id]="imgid(alldelformpeople._id)" src="./assets/images-template/icon-arrow.png"
                      style=" transform:rotate(-180deg);height: 20px;width: 20px;" />
                  </a>
                </div>
              </div>

            </div>
            <div [id]="alldelformpeople._id" class="panel-collapse collapse in active">
              <div class="panelBody">
                <div *ngFor="let detail_vaform of alldelformpeople.detail_vaform">
                  <div *ngIf="detail_vaform.state == '2'" class="row" style="padding: 10px 0px;margin: 0px">
                    <div class="col-md-1 col-xs-2" style="padding: 0px;text-align: right;">
                      <mat-checkbox class="delcheckbox" [(ngModel)]="detail_vaform.checkState"
                        style="margin-right: 5px;margin-bottom: 5px" disabled='true'></mat-checkbox>
                    </div>
                    <div class="col-md-10 col-xs-10" style="padding: 0">
                      <div class="col-md-6 col-xs-12" style="padding: 0px">
                        <span>{{detail_vaform.startdate}}</span>
                        <span style="padding-left: 20px">{{detail_vaform.starttime}} - {{detail_vaform.endtime}}</span>
                      </div>
                      <div class="col-md-6 col-xs-12" style="padding: 0px;color: #a9a9a9">
                        共計：{{detail_vaform.calday}}日{{detail_vaform.calhour}}時{{detail_vaform.calminute}}分
                        (已銷假)</div>
                    </div>
                  </div>
                  <!-- (2已銷假) -->
                  <div *ngIf="detail_vaform.state == '3'" class="row" style="padding: 10px 0px;margin: 0px">
                    <div class="col-md-1 col-xs-2" style="padding: 0px;text-align: right;">
                      <mat-checkbox class="delcheckbox" [(ngModel)]="detail_vaform.checkState"
                        style="margin-right: 5px;margin-bottom: 5px" (change)="checkIsALL(alldelformpeople)">
                      </mat-checkbox>
                    </div>
                    <div class="col-md-10 col-xs-10" style="padding: 0">
                      <div class="col-md-6 col-xs-12" style="padding: 0px">
                        <span>{{detail_vaform.startdate}}</span>
                        <span style="padding-left: 20px">{{detail_vaform.starttime}} - {{detail_vaform.endtime}}</span>
                      </div>
                      <div class="col-md-6 col-xs-12" style="padding: 0px">
                        共計：{{detail_vaform.calday}}日{{detail_vaform.calhour}}時{{detail_vaform.calminute}}分</div>
                    </div>
                  </div>
                  <!-- (3可以銷假) -->
                  <div *ngIf="detail_vaform.state == '1'" class="row" style="padding: 10px 0px;margin: 0px">
                    <div class="col-md-1 col-xs-2" style="padding: 0px;text-align: right;">
                      <mat-checkbox class="delcheckbox" [(ngModel)]="detail_vaform.checkState"
                        style="margin-right: 5px;margin-bottom: 5px" disabled='true'></mat-checkbox>
                    </div>
                    <div class="col-md-10 col-xs-10" style="padding: 0">
                      <div class="col-md-6 col-xs-12" style="padding: 0px">
                        <span>{{detail_vaform.startdate}}</span>
                        <span style="padding-left: 20px">{{detail_vaform.starttime}} - {{detail_vaform.endtime}}</span>
                      </div>
                      <div class="col-md-6 col-xs-12" style="padding: 0px;color: #a9a9a9">
                        共計：{{detail_vaform.calday}}日{{detail_vaform.calhour}}時{{detail_vaform.calminute}}分
                        (銷假呈核中)</div>
                    </div>
                  </div>
                  <!-- (1銷假呈核中) -->
                  <div *ngIf="detail_vaform.state == '7'" class="row" style="padding: 10px 0px;margin: 0px">
                    <div class="col-md-1 col-xs-2" style="padding: 0px;text-align: right;">
                      <mat-checkbox class="delcheckbox" [(ngModel)]="detail_vaform.checkState"
                        style="margin-right: 5px;margin-bottom: 5px" disabled='true'></mat-checkbox>
                    </div>
                    <div class="col-md-10 col-xs-10" style="padding: 0">
                      <div class="col-md-6 col-xs-12" style="padding: 0px">
                        <span>{{detail_vaform.startdate}}</span>
                        <span style="padding-left: 20px">{{detail_vaform.starttime}} - {{detail_vaform.endtime}}</span>
                      </div>
                      <div class="col-md-6 col-xs-12" style="padding: 0px;color: #a9a9a9">
                        共計：{{detail_vaform.calday}}日{{detail_vaform.calhour}}時{{detail_vaform.calminute}}分
                        (7天限制)</div>
                    </div>
                  </div>
                  <!-- (7天限制) -->

                </div>
              </div>
            </div>
          </div>

        </div>


      </div>
      <!-- form-group end -->
      <div class="form-group  formgroup_modify" style="border-bottom: 1px dashed #dcdcdc">
        <div>
          <div class="col-md-2" style="padding-left: 0px">
            <label class="control-label" style="padding-left: 0px;padding-right: 15px;">
              <span class="form-must-fill">*</span> 銷假事由</label>
          </div>
          <div class="col-md-8">
            <textarea [(ngModel)]="NoteText" class="inputTextarea" style="color:#020202;overflow-y: auto;height: 83px;"
              placeholder="請輸入銷假事由"></textarea>
          </div>
        </div>
      </div>
      <!-- form-group end -->
      <div class="form-group  formgroup_modify">
        <div>
          <div class="col-md-2" style="padding-left: 0px">
            <label class="control-label" style="padding-left: 0px;padding-right: 15px;">
              <span class="form-must-fill">*</span> 簽核人員</label>
          </div>
          <div class="col-md-10 row" style="margin:0px;">
            <app-select-signer (selectBaseChange)="chooseBase($event)" [sysEmp$]="onChangeSingMan$"></app-select-signer>
          </div>
        </div>
      </div>
      <!-- form-group end -->

      <div class="form-group  formgroup_modify">
        <div>
          <div class="col-md-2" style="padding-left: 0px">
          </div>
          <div class="col-md-8 row" style="margin:0px;padding: 0px">
            <div class="col-md-6">
              <button class="btn btn-primary" data-toggle="modal" (click)="checkError()">送出申請單</button>
            </div>
            <div class="col-md-6">
            </div>
          </div>
        </div>
      </div>
      <!-- form-group end -->
      <div class="form-group  formgroup_modify">

        <div style="border-top: 1px dashed #dcdcdc;padding: 15px 0px;margin-top: 20px;margin-bottom: 20px">
          <div style="border:1px solid #d9edf7;">
            <div style="background-color: #d9edf7;padding-left: 10px;padding-top: 5px;">
              <label style="color: 
                  #31708f">人力處提醒您</label>
            </div>
            <div style="height: 50px;overflow-y: auto;padding: 10px 10px;">
              {{showNote}}
            </div>
          </div>
        </div>
      </div>
      <!-- form-group end -->

    </section>
  </div>
</div>



<div class="a-block" *ngIf="showdataIsEmpty && !errorEmpSendForm.state">
  <div class="a-block-body  a-block-container">
    <div *ngIf="alldelformpeople.length==0 && showdataIsEmpty">
      沒有可填寫的銷假單
    </div>
  </div>
</div>

<div class="a-block" *ngIf="errorEmpSendForm.state">
  <div class="a-block-body  a-block-container">
    <div>
      {{errorEmpSendForm.errorEmpID}}此員工無申請表單權限，如需申請表單請洽單位行政設定
    </div>
  </div>
</div>



<div class="modal" id="checksenddialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="mySmallModalLabel" style="text-align: center">確認送出?</h4>
        </div>
        <div class="modal-body">
          『提醒您，此張假單依銷假規定，將由{{showSendTree}}級主管批核。』
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
            (click)="sendandSaveDelform()">送出</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog確認送出 -->
<div class="modal" id="sussesdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <!-- <span aria-hidden="true">×</span> -->
          </button>
          <h4 class="modal-title" style="text-align: center">申請完成</h4>
        </div>
        <div class="modal-body">
          <div style="text-align: center;margin-bottom: 10px">
            <img src="./assets/images-template/icon-success.png" />
          </div>
          <div style="text-align: center">
            表單送出完成!
          </div>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-primary" data-dismiss="modal" [routerLink]='["../home"]'>確定</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog送出成功 -->



<div class="modal" id="chooseEmpdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <app-choosebase-ma (saveEmptoView)="onSaveEmptoView($event)" [IsTop]="true"></app-choosebase-ma>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog選擇員工-->