<div class="a-block">
  <div class="a-block-body  a-block-container">
    <h3>
      <ng-container i18n>填寫請假簽核權限表</ng-container>
    </h3>
    <div style="margin: 5px" class="row">
      <span class="col-md-1 col-xs-3" style="padding: 0px;padding-top: 5px;text-align: right;">
        <ng-container i18n>假別代碼</ng-container>:
      </span>
      <div class="col-md-8 col-xs-9">
        <ngx-select [formControl]="selectControl" [items]="NgxBaseSelectBox" optionValueField="HoliDayCode"
          optionTextField="HoliDayNameC" placeholder="請選擇請假類別">
        </ngx-select>
      </div>
    </div>
    <div style="margin: 5px" class="row">
      <span class="col-md-1 col-xs-3" style="padding: 0px;padding-top: 5px;text-align: right;">
        <ng-container i18n>假別代碼</ng-container>:
      </span>
      <div class="col-md-8 col-xs-9">
        <select class="form-control" (change)="selectLevel($event)">
          <option [value]='1'>
            <ng-container i18n>一級主管</ng-container>
          </option>
          <option [value]='2'>
            <ng-container i18n>二級主管</ng-container>
          </option>
          <option [value]='3'>
            <ng-container i18n>三級主管</ng-container>
          </option>
        </select>
      </div>
    </div>
    <div style="margin: 5px" class="row">
      <span class="col-md-1 col-xs-3" style="padding: 0px;padding-top: 2px;text-align: right;">
        <ng-container i18n>修改天數</ng-container>:
      </span>
      <div class="col-md-2 col-xs-3">
        <input type="number" [(ngModel)]="SaveHoliDayFlowCondition.AbsUseDay" style="padding-left: 12px;
        width: 100%;">
      </div>
      <div class="col-md-9 col-xs-6" style="color: blue;padding-top: 5px">
        <span>
          <ng-container i18n>說明</ng-container>:『
          <ng-container i18n>可批核小於等於</ng-container>
          <ng-container i18n>天</ng-container>』
          {{SaveHoliDayFlowCondition.AbsUseDay}}
        </span>
      </div>
    </div>
    <div style="margin: 5px" class="row">
      <div class="col-md-1 col-xs-3"></div>
      <div class="col-md-8 col-xs-9">
        <!-- <button *ngIf='bt_Edit' class="btn btn-primary" (click)="onSubmit()" [disabled]="disable_submit()">修改</button> -->
        <button class="btn btn-primary" (click)="onSubmit()">
          <ng-container i18n>儲存</ng-container>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="a-block">
  <div class="a-block-body  a-block-container">
    <h3>
      <ng-container i18n>請假簽核權限表</ng-container>
    </h3>
    <table class="table table-bordered table-striped table-hover table-content-center table-style01">
      <thead>
        <tr>
          <th style="background-image: unset;cursor: unset">
            <ng-container i18n>假別代碼</ng-container>
          </th>
          <th>
            <ng-container i18n>假別名稱</ng-container>
          </th>
          <th>
            <ng-container i18n>一級主管</ng-container>
          </th>
          <th>
            <ng-container i18n>二級主管</ng-container>
          </th>
          <th>
            <ng-container i18n>三級主管</ng-container>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let HoliDayFlowConditionView of HoliDayFlowConditionView">
          <td>{{HoliDayFlowConditionView.HoliDayCode}}</td>
          <td style="text-align: left">{{HoliDayFlowConditionView.HoliDayNameC}}</td>
          <td>{{HoliDayFlowConditionView.Max1}}</td>
          <td>{{HoliDayFlowConditionView.Max2}}</td>
          <td>{{HoliDayFlowConditionView.Max3}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>