<div class="a-block">
  <div class="a-block-body  a-block-container">
    <div class="form-group first-form-group" style="border: 1px solid #979797;">
      <div class="row" style="margin:0px;    padding: 20px 0px 20px 0px;">
        <div class="col-md-2 col-xs-12">
          <h3 style="margin:0px">
            <ng-container i18n>選擇查詢類型</ng-container>
          </h3>
        </div>
        <div class="col-md-8 col-xs-12 P_radio">
          <!-- <div style="display: inline-block;margin-right:15px " *ngFor="let oneRadio of radiogroup">
            <input type="radio" name="chooseRadio" [(ngModel)]="chooseRadio" [value]="oneRadio.id">{{oneRadio.name}}
          </div> -->
          <div style="display: inline-block;margin-right:15px ">
            <input type="radio" name="chooseRadio" [(ngModel)]="chooseRadio" [value]="1">
            <ng-container i18n>查詢單一員工</ng-container>
          </div>
          <div style="display: inline-block;margin-right:15px ">
            <input type="radio" name="chooseRadio" [(ngModel)]="chooseRadio" [value]="2">
            <ng-container i18n>查詢單位</ng-container>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="chooseRadio == 1" class="form-group first-form-group" style="border-bottom: 1px dashed #dcdcdc;">
      <div class="row" style="padding-bottom: 15px;margin:0px">
        <div class="col-md-2 col-xs-12 P_title" style="margin-top: 7px;">
          <span class="form-must-fill">*</span>
          <label class=" control-label">
            <ng-container i18n>員工</ng-container>
          </label>
        </div>
        <div class="col-md-10  col-xs-12 row" style="padding:0px;margin: 0px">
          <div class="col-md-2 col-xs-6" style="padding:0px">
            <input id="leavejobid" type="text" class="form-control" placeholder="員工號" [(ngModel)]="EmpBase.EmpCode"
              (blur)="blurEmpCode()" maxlength="6">

            <div *ngIf="errorLeavemanState.state" style="color: #e60012">{{errorLeavemanState.errorString}}</div>
          </div>
          <div class="col-md-1 col-xs-2">
            <button data-toggle="modal" (click)="bt_ShowDialog_chooseEmpdialog()"
              style="cursor: pointer;border: 0;background: 0">
              <img src="./assets/images-template/icon-person.png" style="cursor: pointer;padding-top: 5px" />
            </button>
          </div>
          <div class="col-md-9 col-xs-4" style="padding-top: 8px;">
            {{EmpBase.Name}}
          </div>

        </div>
      </div>
    </div>
    <div *ngIf="chooseRadio == 2" class="form-group first-form-group" style="border-bottom: 1px dashed #dcdcdc;">
      <div class="row" style="padding-bottom: 15px;margin:0px">
        <div class="col-md-2 col-xs-12 P_title" style="margin-top: 7px;">
          <label class=" control-label">
            <ng-container i18n>單位</ng-container>
          </label>
        </div>
        <div class="col-md-6 col-xs-12 row" style="margin:0px;padding: 0px">
          <div class="col-md-1  col-xs-2 row" style="padding:0px;margin: 0px;">
            <button data-toggle="modal" (click)="bt_ShowDialog_chooseDeptdialog()"
              style="cursor: pointer;border: 0;background: 0">
              <img src="./assets/images-template/icon-persongroup.png" style="cursor: pointer;padding-top: 5px" />
            </button>
          </div>
          <div class="col-md-11  col-xs-10 row" style="padding: 0; margin: 0;margin-top: 8px;">
            {{chooseDeptName}}
          </div>

        </div>

      </div>
      <div class="row" style="margin:0px;margin-bottom: 10px">
        <div class="col-md-2 col-xs-12 P_title">
          <label class=" control-label">
            <ng-container i18n>向下所有單位</ng-container>
          </label>
        </div>
        <div class="col-md-3  col-xs-12" style="padding:0px;">
          <input type="checkbox" [(ngModel)]='downDept' />
        </div>
      </div>
    </div>

    <div class="form-group first-form-group">
      <div class="row" style="margin:0px">
        <div class="col-md-6 col-xs-12" style="margin: 0px ; padding: 0px">
          <div class="col-md-4 col-xs-12 P_title" style="margin-top: 8px;">
            <label class=" control-label">
              <span class="form-must-fill">*</span>
              <ng-container i18n>起始日期</ng-container>
            </label>
          </div>
          <div class="col-md-6 col-xs-10" style="padding:0px">
            <input [matDatepicker]="StartDatePicker" [(ngModel)]="dateB" id="id_ipt_startday" type="text"
              class="form-control" style="background-color: #ffffff;margin-top: 4px" placeholder="年/月/日"
              (blur)="SerchStartDateChange_OneEmp()" (dateChange)="SerchStartDateChange_OneEmp()" />
            <div *ngIf="errorStartDateState.state" style="color: #e60012">{{errorStartDateState.errorString}}</div>

            <mat-datepicker #StartDatePicker touchUi [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
          </div>
          <div class="col-md-2 col-xs-2" style="padding:0px">
            <input (click)="StartDatePicker.open()" data-modal="true" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                  cursor: pointer;
                  color: transparent;
                  border: 1px solid transparent;
                  width: 50px;
                  height: 40px;
                  ">
          </div>
        </div>
        <div class="col-md-6 col-xs-12" style="margin: 0px ; padding: 0px">
          <div class="col-md-4 col-xs-12 P_title" style="margin-top: 8px;">
            <label class=" control-label">
              <span class="form-must-fill">*</span>
              <ng-container i18n>結束日期</ng-container>
            </label>
          </div>
          <div class="col-md-6  col-xs-10" style="padding:0px">
            <input [matDatepicker]="EndDatePicker" [(ngModel)]="dateE" id="id_ipt_endday" type="text"
              class="form-control" style="background-color: #ffffff;margin-top: 4px" placeholder="年/月/日"
              (blur)="blurEndDate()" (dateChange)="blurEndDate()" />
            <div *ngIf="errorEndtDateState.state" style="color: #e60012">{{errorEndtDateState.errorString}}</div>
            <mat-datepicker #EndDatePicker touchUi [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
          </div>
          <div class="col-md-2  col-xs-2" style="padding:0px">
            <input (click)="EndDatePicker.open()" data-modal="true" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                    cursor: pointer;
                    color: transparent;
                    border: 1px solid transparent;
                    width: 50px;
                    height: 40px;
                    ">
          </div>
        </div>
      </div>
    </div>

    <div class="form-group first-form-group">
      <div class="row" style="margin:0px">
        <div class="col-md-2 col-xs-12 P_title" style="margin-top: 5px">
          <label class=" control-label">
            <ng-container i18n>查詢條件</ng-container>
          </label>
        </div>
        <div class="col-md-3  col-xs-12" style="padding:0px;">
          <select [(ngModel)]="selectDisplay" class="form-control" (change)="onSearchChange($event)">
            <option value="1">
              <ng-container i18n>全部</ng-container>
            </option>
            <option value="2">
              <ng-container i18n>正常出勤</ng-container>
            </option>
            <option value="3">
              <ng-container i18n>異常出勤</ng-container>
            </option>
          </select>
        </div>
        <div *ngIf="showSearchCheckbok" class="col-md-7  col-xs-12" style="margin-top: 10px">
          <mat-checkbox [(ngModel)]="LateMins" style="margin-right: 15px;margin-bottom: 5px;font-weight: unset">
            <ng-container i18n>遲到</ng-container>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="EarlyMins" style="margin-right: 15px;margin-bottom: 5px">
            <ng-container i18n>早退</ng-container>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="IsAbsent" style="margin-right: 15px;margin-bottom: 5px">
            <ng-container i18n>未刷卡</ng-container>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="IsEarlyCome" style="margin-right: 15px;margin-bottom: 5px">
            <ng-container i18n>早到</ng-container>
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="IsLateBack" style="margin-right: 15px;margin-bottom: 5px">
            <ng-container i18n>晚退</ng-container>
          </mat-checkbox>
        </div>
      </div>
    </div>

    <div *ngIf="chooseRadio == 1" class="form-group first-form-group">
      <div class="row" style="margin:0px">
        <div class="col-md-2 ">
        </div>
        <div class="col-md-3  col-xs-12" style="padding:0px">
          <button type="button" class="btn btn-primary" (click)="onSearchClick()">
            <ng-container i18n>查詢</ng-container>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="chooseRadio == 2" class="form-group first-form-group">
      <div class="row" style="margin:0px">
        <div class="col-md-2 ">
        </div>
        <div class="col-md-3  col-xs-12" style="padding:0px">
          <button type="button" class="btn btn-primary" (click)="onSearchDeptClick()">
            <ng-container i18n>查詢</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="AttendanceApiData">
  <div class="a-block" *ngIf="AttendanceApiData.length>0">
    <div class="a-block-body  a-block-container">
      <h3>
        <ng-container i18n>考勤資訊</ng-container>
      </h3>
      <app-search-attendance [searchAttendanceApiData]='Ob_AttendanceApiData$'></app-search-attendance>
      <button *ngIf="chooseRadio == 2" (click)="LoadNextDeptAttendData()">
        <ng-container i18n>載入更多資料</ng-container>
      </button>
    </div>
  </div>
  <div class="a-block" *ngIf="AttendanceApiData.length==0">
    <div class="a-block-body  a-block-container">
      <ng-container i18n>此查詢區間無資料</ng-container>
    </div>
  </div>
</div>

<div class="modal" id="chooseEmpdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <div *ngIf="SearhMan">
            <app-choosebase-ma *ngIf="chooseEmpdialog_ShowDialog" (saveEmptoView)="onSaveEmptoView($event)"
              [IsTop]="true" [SearchEmpID]="SearhMan.EmpCode">
            </app-choosebase-ma>
          </div>
          <!-- <app-choosebase (saveEmptoView)="onSaveEmptoView($event)"></app-choosebase> -->
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>取消</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog選擇請假員工-->
<div class="modal" id="chooseDeptdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <div *ngIf="SearhMan">
            <app-choosedept-ma *ngIf="chooseDeptdialog_ShowDialog" [IsTop]="true" [SearchEmpID]="SearhMan.EmpCode"
              (saveDepttoView)="onSaveDepttoView_KeyDept($event)"></app-choosedept-ma>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>確認</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog選擇請假部門-->