<div class="a-block" *ngIf="getAttendUnusualSearchFlowSign.length!=0 && !showAttendUnusualDataDetail">
  <div class="a-block-body  a-block-container">
    <h3>
      <ng-container i18n>查詢結果</ng-container>
    </h3>
    <div class="row P_div" *ngFor="let oneforgetData of getAttendUnusualSearchFlowSign">
      <div class="row col-md-3 col-xs-12 P_borderBottom">
        <div class="col-md-6   col-xs-7  col-md-push-5" style="color: #326299;padding:3px 0px;">
          <div>
            <!-- 0000020110 -->{{oneforgetData.showProcessFlowID}}
          </div>
          <div>
            <ng-container i18n>考勤異常簽認單</ng-container>
            <a style="cursor: pointer;" data-toggle="modal" data-target="#Cancelformdialog"
              (click)="takeForm = oneforgetData">
              <span *ngIf="oneforgetData.Take && getShowTake">
                (<ng-container i18n>抽單</ng-container>)
              </span>
            </a>
            <a style="cursor: pointer;" data-toggle="modal" (click)="checkTransSignForm(oneforgetData)">
              <span *ngIf="oneforgetData.TransSign && getShowTransSign">
                (<ng-container i18n>轉呈</ng-container>)
              </span>
            </a>
          </div>

        </div>
        <div class="col-md-4   col-xs-5  col-md-pull-5" style="padding: 0;text-align: center;
          padding-top: 10px;">
          <div class="tag_blue" *ngIf="oneforgetData.State=='1'">
            <ng-container i18n>呈核中</ng-container>
          </div>
          <div class="tag_skyblue" *ngIf="oneforgetData.State=='3'">
            <ng-container i18n>已核准</ng-container>
          </div>
          <div class="tag_red" *ngIf="oneforgetData.State=='2'">
            <ng-container i18n>重擬</ng-container>
          </div>
          <div class="tag_gray" *ngIf="oneforgetData.State=='7'">
            <ng-container i18n>已抽單</ng-container>
          </div>
          <div class="tag_gray" *ngIf="oneforgetData.Handle">
            <ng-container i18n>處理中</ng-container>
          </div>
        </div>
      </div>
      <div class="row col-md-8 col-xs-10" style="margin: 0px;padding: 0">
        <div class="col-md-9 col-xs-12" style="margin: 0px;color:#6f6f6f;padding: 0">
          <div class="row" style="margin: 0;padding-bottom: 5px;">
            <div class="col-md-4 col-xs-12" style="padding: 0">
              <!-- 643345 李大仁 --> {{oneforgetData.EmpID}} {{oneforgetData.EmpName}}<span
                *ngIf="oneforgetData.checkProxy" style="color: blue">
                (<ng-container i18n>代</ng-container>)
              </span>
            </div>
            <div class="col-md-8 col-xs-12" style="padding: 0">
              <!-- 計劃發展部 --> {{oneforgetData.AppDeptName}}
            </div>
          </div>
          <div class="row" style="margin: 0;padding-bottom: 5px;">
            <div class="col-md-4 col-xs-12" style="padding: 0">
              <span style="color: #969696">
                <ng-container i18n>日期</ng-container>：
              </span>
              <!--2019/01/18-->{{oneforgetData.Date}}
            </div>
            <div class="col-md-4 col-xs-12" style="padding: 0">
              <span style="color: #969696">
                <ng-container i18n>班型</ng-container>：
              </span>
              <!--040A_02-->{{oneforgetData.RoteNameC}}
            </div>
            <div class="col-md-4 col-xs-12" style="padding: 0">
              <span style="color: #969696">
                <ng-container i18n>異常狀態</ng-container>：
              </span>
              <span *ngIf="oneforgetData.EliminateEarly" style="margin-right: 5px;">
                <ng-container i18n>早退</ng-container>
              </span>
              <span *ngIf="oneforgetData.EliminateLate" style="margin-right: 5px;">
                <ng-container i18n>遲到</ng-container>
              </span>
              <span *ngIf="oneforgetData.EliminateAbsent" style="margin-right: 5px;">
                <ng-container i18n>未刷卡</ng-container>
              </span>
              <span *ngIf="oneforgetData.EliminateOnBefore" style="margin-right: 5px;">
                <ng-container i18n>早來</ng-container>
              </span>
              <span *ngIf="oneforgetData.EliminateOffAfter" style="margin-right: 5px;">
                <ng-container i18n>晚走</ng-container>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12" style="padding: 0">
          <div class="P_height"></div>
          <div *ngIf="oneforgetData.ManageEmpName && oneforgetData.State=='1'">
            {{oneforgetData.ManageEmpName}}
            <ng-container i18n> 簽核中 </ng-container>
          </div>
        </div>
      </div>
      <div class="row col-md-1 col-xs-2 P_ptop">
        <a style="cursor: pointer;text-decoration:underline" (click)="nextShowDetail(oneforgetData)">
          <img src="./assets/images-template/icon-arrow.png" style=" transform:rotate(-90deg);" />
        </a>
      </div>
    </div>
    <div>
      <button *ngIf="CanSerchMore" (click)="MoreOnSearchForm()">
        <ng-container i18n>載入更多資料</ng-container>
      </button>
    </div>
  </div>
</div>

<div class="a-block" *ngIf="getFlowSignAttendUnusualApiData.length==0">
  <div class="a-block-body  a-block-container">
    <ng-container i18n>此查詢條件查無資料</ng-container>
  </div>
</div>


<app-search-attend-unusual-form-detail *ngIf="showAttendUnusualDataDetail" [getAttendUnusualDataTitle]="setToNextAttendUnusualDataTitle"
  [getShowTakeDetail]="getShowTake" [getShowTransSignDetail]="getShowTransSign" (goback)="onGoBackFunction()">
</app-search-attend-unusual-form-detail>


<div class="modal" id="Cancelformdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="mySmallModalLabel" style="text-align: center">
            <ng-container i18n>確認抽單?</ng-container>
          </h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
            (click)="Cancelform_Click()">
            <ng-container i18n>送出</ng-container>
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>取消</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog核准確認送出 -->
<div class="modal" id="sussesdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <!-- <span aria-hidden="true">×</span> -->
          </button>
          <h4 class="modal-title" style="text-align: center">
            <ng-container i18n>抽單完成</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <div style="text-align: center;margin-bottom: 10px">
            <img src="./assets/images-template/icon-success.png" />
          </div>
          <div style="text-align: center">
            <ng-container i18n>已成功抽單</ng-container>
          </div>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <ng-container i18n>確定</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog送出成功 -->
<div class="modal" id="TransSignformdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-md vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="mySmallModalLabel" style="text-align: center">
            <ng-container i18n>確認轉呈?</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <div>
            <p>
              <ng-container i18n>簽核人員</ng-container>
            </p>
            <app-select-signer (selectBaseChange)="chooseBase($event)" [sysEmp$]="onChangeReviewMan$">
            </app-select-signer>
          </div>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
            (click)="TransSignform_Click()">
            <ng-container i18n>送出</ng-container>
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>取消</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog轉呈確認送出 -->
<div class="modal" id="TransSignformSussesdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <!-- <span aria-hidden="true">×</span> -->
          </button>
          <h4 class="modal-title" style="text-align: center">
            <ng-container i18n>轉呈完成</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <div style="text-align: center;margin-bottom: 10px">
            <img src="./assets/images-template/icon-success.png" />
          </div>
          <div style="text-align: center">
            <ng-container i18n>已成功轉呈</ng-container>
          </div>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <ng-container i18n>確定</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog轉呈送出成功 -->