<div *ngIf="WriteformPage">
  <section class="a-block stateblock">
    <div class="a-block-body  a-block-container">
      <ol class="steps-indicator row">
        <li class="col-sm-3  active">
          <ng-container i18n>填寫請假單</ng-container>
        </li>
        <li class="col-sm-3">
          <ng-container i18n>請假明細確認</ng-container>
        </li>
        <li class="col-sm-3">
          <ng-container i18n>請假完成</ng-container>
        </li>
      </ol>
    </div>
    <!-- a-block-body End -->
  </section>
  <div class="a-block">
    <div class="a-block-body  a-block-container">
      <div>
        <div style="display: inline-block">
          <h3 style="display: inline-block;margin-top:0px;margin-right: 10px;">
            <ng-container i18n>填寫假單資訊</ng-container>
          </h3>
        </div>
      </div>
      <section class="form-horizontal  form-style01">
        <div class="form-group first-form-group">
          <div class="col-md-6 firstinone-form-group">
            <label class="col-md-4 control-label" style="padding-left: 0px">
              <span class="form-must-fill">*</span>
              <ng-container i18n>員工</ng-container>
            </label>
            <div class="col-md-8">
              <div class="row writerow">
                <div class="col-md-6 col-xs-6" style="padding: 0;">
                  <input id="leavejobid" type="text" class="form-control" placeholder="員工號"
                    [(ngModel)]='writevaform.leaveman_jobid' (blur)="blurEmpCode()" [disabled]="disable_leavejobid()">
                  <div *ngIf="errorLeavemanState.state" style="color: #e60012">{{errorLeavemanState.errorString}}</div>

                </div>
                <div class="col-md-2 col-xs-3" style="height: 23px;padding: 0px;padding-left: 2px;text-align: center;">
                  <button data-toggle="modal" data-target="#chooseEmpdialog" (click)="bt_Show_chooseEmpdialog()"
                    style="cursor: pointer;border: 0;background: 0" [disabled]="disable_leavejobid()">
                    <img src="./assets/images-template/icon-person.png" style="cursor: pointer;padding-top: 5px" />
                  </button>
                </div>
                <div class="col-md-4 col-xs-3" style="padding: 0;padding-top: 7px">
                  <label style="font-weight: normal;">{{writevaform.leaveman_name}}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 firstintwo-form-group">
            <div class="col-md-3 oneintwotitle" style="padding: 0px;">
              <label class="control-label">
                <ng-container i18n>填寫人</ng-container>
              </label>
            </div>
            <div class="col-md-9 oneintwocontent">
              <label class="control-label" style="font-weight: normal;">{{writevaform.wirteman_jobid}}
                {{writevaform.wirteman_name}}</label>
            </div>
          </div>
        </div>
        <!-- form-group end -->
        <div *ngFor="let uisendvaform of sendvaform" class="form-group"
          style="border:1px solid #028fcf;border-left-width: 10px;margin-top: 20px">
          <div class="col-md-2 D_right col-xs-10">
            <label style="color: #028fcf;margin-bottom: 10px">{{uisendvaform.ui_title}}</label>
            <div *ngIf="uisendvaform.todayCheck" style="display: inline-block;padding-left: 10px;">
              <span style="color: #028fcf;border:#028fcf 1px solid;
                border-radius: 5px;padding: 6px">
                <ng-container i18n>當日請假</ng-container>
              </span>
            </div>
          </div>
          <div class="col-md-1 col-md-push-9 col-xs-2" style="padding:0px;">
            <a (click)="btn_del(uisendvaform)" style="margin-right: 10px;cursor: pointer;">
              <ng-container i18n>刪除</ng-container>
            </a>
          </div>
          <div class="col-md-9 col-md-pull-1 col-xs-12">
            <div class="row" style="margin: 0px ;padding: 0px">
              <div class="col-md-7" style="padding: 0px;">
                <div class="row" style="margin: 0px;padding: 0px;margin-bottom: 10px;">
                  <div class="col-md-6 col-xs-12" style="padding: 0px">
                    <span style="color: #969696">
                      <ng-container i18n>起始</ng-container>：
                    </span>{{uisendvaform.startday}}
                    <span *ngIf="!uisendvaform.everydayloop">{{uisendvaform.starttime}}</span>
                  </div>
                  <div class="col-md-6 col-xs-12" style="padding: 0px">
                    <span style="color: #969696">
                      <ng-container i18n>結束</ng-container>：
                    </span>{{uisendvaform.endday}}
                    <span *ngIf="!uisendvaform.everydayloop">{{uisendvaform.endtime}}</span>
                  </div>
                </div>
                <div *ngIf="uisendvaform.everydayloop" style="margin-bottom: 10px;">
                  <span style="color: #969696">
                    <ng-container i18n>每日循環時段</ng-container>：
                  </span>{{uisendvaform.starttime}} - {{uisendvaform.endtime}}
                </div>
                <div style="margin-bottom: 10px;">
                  <span style="color: #969696">
                    <ng-container i18n>假別</ng-container>：
                  </span>{{uisendvaform.vacategrory.HoliDayNameC}}
                </div>
                <div *ngIf="uisendvaform.keyname" style="margin-bottom: 10px;">
                  <span style="color: #969696">
                    <ng-container i18n>稱謂</ng-container>：
                  </span>{{uisendvaform.keyname}}
                </div>
                <div *ngIf="uisendvaform.eventdate" style="margin-bottom: 10px;">
                  <span style="color: #969696">
                    <ng-container i18n>事件發生日</ng-container>：
                  </span>{{uisendvaform.eventdate}}
                </div>
              </div>
              <div class="col-md-2" style="padding: 0px;" *ngIf="uisendvaform.proxyman_name">
                <ng-container i18n>代理人</ng-container>
                {{uisendvaform.proxyman_name}}
              </div>
              <div class="col-md-2" style="padding: 0px;" *ngIf="!uisendvaform.proxyman_name">
                <ng-container i18n>代理人</ng-container>
                <ng-container i18n>無</ng-container>
              </div>


              <div class="col-md-3 D_center" style="padding: 0px;margin-bottom: 15px;">共計
                <span style="color:#d0021b;font-weight: bold;">{{uisendvaform.ui_day}}</span>
                <ng-container i18n> 日 </ng-container>
                <span style="color:#d0021b;font-weight: bold;">{{uisendvaform.ui_hour}}</span>
                <ng-container i18n> 時 </ng-container>
                <span style="color:#d0021b;font-weight: bold;">{{uisendvaform.ui_minute}}</span>
                <ng-container i18n> 分 </ng-container>
              </div>

              <div class="col-md-12" style="margin-bottom: 10px;padding: 0px;
              word-wrap: break-word;">
                <span style="color: #969696">
                  <ng-container i18n>事由</ng-container>：
                </span>
                {{uisendvaform.cause}}
              </div>
              <div class="col-md-12 col-xs-12 row" style="padding: 0px;margin: 0px">
                <div class="col-md-3 col-xs-12" *ngFor='let upload of uisendvaform.upload'>
                  <a style="margin-right: 25px;cursor: pointer;word-break: break-all;" (click)="base64(upload)">
                    <img src="./assets/images-template/attach@2x.png" height='16px' width="12px"
                      style="margin-right: 5px" />
                    {{upload.UploadName}}
                    <br class="P_show" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- form-group end -->
        <div id="NowIsWirteFormTop"></div>

        <div *ngIf="NowIsWirteForm" appSpyngif>
          <div class="form-group" style="border: 0px">
            <!-- 手機顯示 -->
            <div *ngIf="firstnotshow" class="col-md-2 D_right" style="margin-top: 10px;padding-right: 5px;">
              <label style="color: #028fcf;border-left: 3px solid #028fcf;padding-left: 5px;">{{newtitle}}</label>
              <a class="P_button" style="padding-top: 2px;cursor: pointer;" (click)="hideWriteform()">刪除</a>
            </div>
          </div>
          <div class="form-group" style="border: 0px;padding: 0;">
            <div class="col-md-6 ">
              <label class="col-md-4 control-label" style="padding-left: 0px">
                <span class="form-must-fill">*</span>
                <ng-container i18n>起始日期</ng-container>
              </label>
              <div class="col-md-8 ">
                <div class="row writerow">
                  <div class="col-md-10 col-xs-10" style="padding: 0px">
                    <input [(ngModel)]="dateS" [matDatepicker]="StartDatePicker" id="id_ipt_startday" type="text"
                      class="form-control" style="background-color: #ffffff;" placeholder="年/月/日"
                      (blur)="changeStartDateView()" (dateChange)="changeStartDateView()" />
                    <mat-datepicker #StartDatePicker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                    <div *ngIf="errorDateAndTime.state" style="color: #e60012">{{errorDateAndTime.errorString}}</div>
                  </div>
                  <!--  -->
                  <div class="col-md-2 col-xs-2" style="padding: 0px">
                    <input (click)="StartDatePicker.open()" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                          cursor: pointer;
                          color: transparent;
                          border: 1px solid transparent;
                          width: 50px;
                          height: 33px;
                          ">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="col-md-3 oneintwotitle" style="padding: 0px">
                <label class="control-label">
                  <span class="form-must-fill">*</span>
                  <ng-container i18n>時間</ng-container>
                </label>
              </div>
              <div class="col-md-9 oneintwocontent">
                <div class="col-md-6 col-xs-10" style="padding: 0px">
                  <input id="id_ipt_starttime" [(ngModel)]="dateTimeS" type="text" class="form-control"
                    style="background-color: #ffffff" (blur)="blurDateAndTime()" [textMask]="starttimeMask()">
                  <div *ngIf="errorDateAndTime.state" style="color: #e60012">{{errorDateAndTime.errorString}}</div>

                </div>
                <!--  -->
                <div class="col-md-4 col-xs-2" style="padding: 0px">
                  <input #StartTimeView id="id_bt_starttime" (click)="changeStartTimeView()" type="button" style="background: #fff url(./assets/images-template/icon-clock.png) center center no-repeat;
                        cursor: pointer;
                        color: transparent;
                        border: 1px solid transparent;
                        width: 50px;
                        height: 33px;
                        padding: 0px;
                        ">
                </div>
              </div>
            </div>
          </div>
          <!-- form-group end -->
          <div class="form-group" style="border: 0px;padding: 0;padding-top: 10px;">
            <div class="col-md-6 ">
              <label class="col-md-4 control-label" style="padding-left: 0px">
                <span class="form-must-fill">*</span>
                <ng-container i18n>結束日期</ng-container>
              </label>
              <div class="col-md-8">
                <div class="row writerow">
                  <div class="col-md-10 col-xs-10" style="padding: 0px">
                    <input [(ngModel)]="dateE" [matDatepicker]="EndDatePicker" id="id_ipt_endday" type="text"
                      class="form-control" style="background-color: #ffffff" (blur)="changeEndDateView()"
                      (dateChange)="changeEndDateView()" placeholder="年/月/日">
                    <div *ngIf="errorDateAndTime.state" style="color: #e60012">{{errorDateAndTime.errorString}}</div>
                    <mat-datepicker #EndDatePicker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                  </div>
                  <div class="col-md-2 col-xs-2" style="padding: 0px">
                    <input (click)="EndDatePicker.open()" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                              cursor: pointer;
                              color: transparent;
                              border: 1px solid transparent;
                              width: 50px;
                              height: 33px;
                              ">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="col-md-3 oneintwotitle" style="padding: 0px">
                <label class="control-label">
                  <span class="form-must-fill">*</span>
                  <ng-container i18n>時間</ng-container>
                </label>
              </div>
              <div class="col-md-9 oneintwocontent">
                <!--  -->
                <div class="col-md-6 col-xs-10" style="padding: 0px">
                  <input type="text" id="id_ipt_endtime" [(ngModel)]="dateTimeE" class="form-control"
                    style="background-color: #ffffff" [textMask]="endtimeMask()" (blur)="blurDateAndTime()">
                  <div *ngIf="errorDateAndTime.state" style="color: #e60012">{{errorDateAndTime.errorString}}</div>
                </div>
                <!--  -->
                <div class="col-md-4 col-xs-2" style="padding: 0px">
                  <input #EndTimeView type="button" id="id_bt_endtime" (click)="changeEndTimeView()"
                    (blur)="changeEndTimeView()" type="button" style="background: #fff url(./assets/images-template/icon-clock.png) center center no-repeat;
                          cursor: pointer;
                          color: transparent;
                          border: 1px solid transparent;
                          width: 50px;
                          height: 33px;
                          padding: 0px;
                          ">
                </div>
              </div>
            </div>
          </div>
          <!-- form-group end -->
          <div class="form-group" style="border: 0px;padding: 0;">
            <div class="col-md-6">
              <div class="col-md-4">
              </div>
              <div class="col-md-8">
                <div class="row writerow">
                  <button data-toggle="modal" (click)="bt_Show_DayRote()" class="btn btn-default"
                    style="padding: 2px 10px;">
                    <ng-container i18n>請假期間班型</ng-container>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <!-- form-group end -->
          <div class="form-group" style="border: 0px;padding: 0;padding-top: 10px;">
            <div class="col-md-6 " style="margin-bottom: 5px;">
              <label class="col-md-4 control-label" style="padding-left: 0px">
                <span class="form-must-fill">*</span>
                <ng-container i18n>請假類別</ng-container>
              </label>
              <div class="col-md-8">
                <div class="row writerow">
                  <select class="form-control" (change)="onChange_vacategrory()" [(ngModel)]="writeHoliday">
                    <ng-container *ngFor="let holiDay of showHoliDay">
                      <option [ngValue]="holiDay">{{holiDay.HoliDayNameC}}</option>
                    </ng-container>
                  </select>
                  <span *ngIf="errorVaSelect.state" style="color: #e60012">{{errorVaSelect.errorString}}</span>
                  <div *ngIf="promptVaStirng.state" style="padding: 10px 0px 0px 0px;color: blue;
                  font-size: 12px;">
                    <ng-container i18n>提示</ng-container>:
                    {{promptVaStirng.promptString}}

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="col-md-3 oneintwotitle" style="padding: 0px">
                <label class="control-label">
                  <ng-container i18n>代理人</ng-container>
                </label>
              </div>
              <div class="col-md-9 oneintwocontent">
                <div class="col-md-6 col-xs-6" style="padding: 0;">
                  <input id="proxymanjobid" type="text" class="form-control" placeholder="員工號"
                    [(ngModel)]='writevaform.proxyman_jobid' (blur)="blurProxyEmpCode()">
                  <div *ngIf="errorProxymanState.state" style="color: #e60012">{{errorProxymanState.errorString}}</div>

                </div>
                <div class="col-md-2 col-xs-3" style="height: 23px;padding: 0px;padding-left: 2px;text-align: center;">
                  <button data-toggle="modal" data-target="#chooseProxyEmpdialog"
                    (click)="bt_Show_chooseProxyEmpdialog()" style="cursor: pointer;border: 0;background: 0">
                    <img src="./assets/images-template/icon-person.png" style="cursor: pointer;padding-top: 5px" />
                  </button>
                </div>
                <div class="col-md-4 col-xs-3" style="padding: 0;padding-top: 7px">
                  <label style="font-weight: normal;">{{writevaform.proxyman_name}}</label>
                </div>
              </div>
            </div>
          </div>
          <!-- form-group end -->
          <div *ngIf="showKeyNameState" class="form-group" style="border: 0px;padding: 0;padding-top: 10px;">
            <div class="col-md-6 col-xs-12">
              <label class="col-md-4 control-label" style="padding-left: 0px">
                <span class="form-must-fill">*</span>
                <ng-container i18n>稱謂</ng-container>
              </label>
              <div class="col-md-8">
                <div class="row writerow">
                  <input id="ipt_keyname" type="text" class="form-control" (blur)="blurKeyName()" />
                  <div *ngIf="errorKeyNameState.state" style="color: #e60012">{{errorKeyNameState.errorString}}</div>
                </div>
              </div>
            </div>
          </div>
          <!-- form-group end -->
          <div *ngIf="showEventDate" class="form-group" style="border: 0px;padding: 0;padding-top: 10px;">
            <div class="col-md-6 col-xs-12 row" style="margin: 0">
              <label class="col-md-4 control-label" style="padding-left: 0px">
                <span class="form-must-fill">*</span>
                <ng-container i18n>事件發生日</ng-container>
              </label>
              <div class="col-md-8 radiobt" style="padding:0;padding-top: 7px">
                <div class="writerow" style="margin-bottom: 5px;">
                  <div style="display: inline-block;margin-right:15px " *ngFor="let oneRadio of radiogroup">
                    <input type="radio" name="chooseRadio" [(ngModel)]="chooseRadio" [value]="oneRadio.id"
                      [disabled]="oneRadio.disabled">{{oneRadio.name}}
                  </div>
                </div>
                <div class="writerow">
                  <div *ngIf="chooseRadio==1">
                    <select class="form-control" [(ngModel)]="selectEventDate" [disabled]="disableEventData">
                      <ng-container *ngFor="let oneEventData of GetEventDateData">
                        <option [ngValue]="oneEventData">{{oneEventData.EventDate}}
                          ({{oneEventData.BalanceDayHourMinute.Day}}
                          <ng-container i18n> 日 </ng-container>
                          {{oneEventData.BalanceDayHourMinute.Hour}}
                          <ng-container i18n> 時 </ng-container>
                          {{oneEventData.BalanceDayHourMinute.Minute}}
                          <ng-container i18n> 分 </ng-container>)</option>
                      </ng-container>
                    </select>
                  </div>
                  <div *ngIf="chooseRadio==2">
                    <div class="col-md-10 col-xs-10" style="padding: 0px">
                      <input [matDatepicker]="EventDatePicker" [(ngModel)]="eventDate" id="id_ipt_eventday" type="text"
                        (blur)="blurEventDate()" (dateChange)="blurEventDate()" class="form-control"
                        style="background-color: #ffffff;" placeholder="年/月/日" />
                      <div *ngIf="errorEventDateState.state" style="color: #e60012">{{errorEventDateState.errorString}}
                      </div>
                      <mat-datepicker #EventDatePicker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                    </div>
                    <!--  -->
                    <div class="col-md-2 col-xs-2" style="padding: 0px">
                      <input (click)="EventDatePicker.open()" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                                    cursor: pointer;
                                    color: transparent;
                                    border: 1px solid transparent;
                                    width: 50px;
                                    height: 33px;
                                    ">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- form-group end -->
          <div class="form-group" style="border: 0px;padding: 0;padding-top: 10px;">
            <div class="row" style="margin: 0px">
              <label class="col-md-2 control-label" style="padding-right: 10px">
                <ng-container i18n>上傳附件</ng-container>
              </label>
              <div class="col-md-10 oneLineWrite">
                <!-- <button class="btn btn-default" style="padding: 5px 15px;" data-toggle="modal" data-target="#uploadfiledialog">瀏覽...</button> -->

                <app-fileuploadbutton (fileChange)="onSaveFile($event)"></app-fileuploadbutton>

                <br class="br_phone" />

                <!-- <button (click)="qlog()">checkfile</button> -->
              </div>
            </div>
            <div class="col-md-6">

            </div>
          </div>
          <!-- form-group end -->
          <div class="form-group" style="border: 0px;padding: 0;padding-top: 10px;">
            <div class="row" style="margin:0px">
              <label class="col-md-2 control-label" style="padding-right: 10px">
                <span class="form-must-fill">*</span>
                <ng-container i18n>請假事由</ng-container>
              </label>
              <div class="col-md-8 oneLineWrite">
                <!-- <button class="btn btn-default" style="padding: 5px 15px;">瀏覽...</button> -->
                <textarea id="cause" [(ngModel)]='writevaform.cause' (blur)="blurCause()" class="inputTextarea"
                  style="overflow-y: auto" placeholder="請輸入事由或代理資訊" maxlength="1000"></textarea>
                <div *ngIf="errorCauseState.state" style="color: #e60012">{{errorCauseState.errorString}}</div>
              </div>
            </div>
          </div>
          <!-- form-group end -->
          <div class="form-group"
            style="border: 0px;padding: 0;padding-top: 10px;padding-bottom: 20px;border-bottom: 1px dashed #dcdcdc;">
            <div class="row" style="margin:0px">
              <div class="col-md-2 control-label" style="padding-left: 0px">
              </div>
              <div class="col-md-6 col-xs-5 oneLineWrite">
                <button type="button" class="btn btn-primary" (click)='addsendvaform()'
                  [disabled]="disableSendvaform()">
                  <ng-container i18n>確認</ng-container>
                </button>
              </div>
              <div *ngIf="firstnotshow" class="col-md-2 col-xs-7 D_button" style="padding-right: 0px;text-align: right">
                <div style="margin-bottom: 20px">
                  <div style="display: inline-block;">
                    <img src="./assets/images-template/icon-delete.png"
                      style="cursor: pointer;padding-top: 5px;height: 30px;" />
                  </div>
                  <div style="display: inline-block;vertical-align: bottom;">
                    <a style="cursor: pointer;padding-top: 5px;padding-left: 10px;" (click)="hideWriteform()">刪除本時段</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- form-group end -->
        </div>

        <div *ngIf="!NowIsWirteForm">
          <div class="form-group" style="border: 0px;padding: 0;padding-top: 20px;">
            <div class="col-md-12 col-xs-12">
              <div class="col-md-2 control-label" style="padding-left: 0px">
              </div>
              <div class="col-md-8 writerow">
                <div style="margin-bottom: 10px">
                  <div (click)="showWriteform()" style="display: inline-block;vertical-align: bottom;cursor: pointer">
                    <img src="./assets/images-template/icon-add.png" />
                    <a style="padding-top: 5px;padding-left: 10px;">
                      <ng-container i18n>新增更多請假時段</ng-container>
                    </a>
                  </div>
                </div>
                <div style="margin-bottom: 10px">
                  <button type="button" class="btn btn-primary  m-r-xs   m-b-s--screen-xs" (click)="nextpage()">
                    <ng-container i18n>下一步</ng-container>
                  </button>
                </div>
                <!-- <div>此假單將送到簽核層級:{{showSendTree}} (此功能修正中)</div> -->
              </div>
            </div>
          </div>
          <!-- form-group end -->
        </div>
      </section>
    </div>

  </div>
</div>




<div class="modal" id="informationdialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="mySmallModalLabel">
            <ng-container i18n>循環請假填寫方式</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <div class="D_img">
            <img src="./assets/images-template/D_inf_T.png" />
          </div>
          <div class="D_img" style="margin-bottom: 20px">
            <img src="./assets/images-template/D_inf_D.png" />
          </div>
          <div class="P_img" style="margin-bottom: 20px">
            <img src="./assets/images-template/P_inf.png" />
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>關閉</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog循環假單提示 -->

<div *ngIf="Show_chooseEmpdialog" class="modal" id="chooseEmpdialog" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="mySmallModalLabel">選擇請假人</h4>
        </div> -->
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <app-choosebaselevel (saveEmptoView)="onSaveEmptoView($event)"></app-choosebaselevel>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>取消</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog選擇請假人-->
<div *ngIf="Show_chooseProxyEmpdialog" class="modal" id="chooseProxyEmpdialog" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <app-choosebaselevel (saveEmptoView)="onSaveProxyEmptoView($event)"
            [proxyLockID]='writevaform.leaveman_jobid'></app-choosebaselevel>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>取消</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog選擇代理人-->

<div *ngIf="Show_signDay" class="modal" id="signDay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="mySmallModalLabel">
            <ng-container i18n>請假簽核權限表</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <app-canapprovidday></app-canapprovidday>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>關閉</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog請假簽核權限表-->

<div id="holidayInfo" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <!-- <div class="vertical-alignment-helper"> -->
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="mySmallModalLabel">
          <ng-container i18n>餘假資訊</ng-container>
        </h4>
      </div>
      <div class="modal-body">

        <div class="row" style="padding-bottom: 10px;margin:0px">
          <div class="col-md-6 col-xs-6" style="padding: 0">
            <div class="col-md-2 col-xs-12 P_textLeft" style="padding-left: 0;">
              <label class=" control-label">
                <ng-container i18n>員工</ng-container>
              </label>
            </div>
            <div class="col-md-10  col-xs-12" style="padding:0px">
              {{SearchMan.EmpCode}} {{SearchMan.EmpNameC}}
            </div>
          </div>
          <div class="col-md-6 col-xs-6" style="padding: 0px">
            <div class="col-md-6 col-xs-12 P_textLeft" style="padding-left: 0;">
              <label class=" control-label">
                <ng-container i18n>年度特休基準日</ng-container>
              </label>
            </div>
            <div class="col-md-6  col-xs-12" style="padding:0px">
              {{showBnftDate}}
            </div>
          </div>
        </div>

        <div *ngIf="showSurplusLeaveAbsDeduction.length > 0" class="table-responsive">
          <table class="table table-bordered  table-striped table-hover table-content-center table-style01">
            <thead>
              <tr>
                <th style="background-image: unset;cursor: unset;width: 40%">
                  <ng-container i18n>假別</ng-container>
                </th>
                <th style="width:20%">
                  <ng-container i18n>結餘</ng-container>
                </th>
                <th style="width:20%">
                  <ng-container i18n>呈核中</ng-container>
                </th>
                <th style="width:20%">
                  <ng-container i18n>已請</ng-container>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let surplusLeave of showSurplusLeaveAbsDeduction">
                <td>
                  {{surplusLeave.HoliDayKindNameC}}
                </td>
                <td>
                  <!-- 結餘 -->
                  <div *ngIf="surplusLeave.BalanceDayHourMin != null">
                    <div class="showDayHourMin">{{surplusLeave.BalanceDayHourMin.Day}}</div>
                    <ng-container i18n>日</ng-container>
                    <div class="showDayHourMin">{{surplusLeave.BalanceDayHourMin.Hour}}</div>
                    <ng-container i18n>時</ng-container>
                    <div class="showDayHourMin">{{surplusLeave.BalanceDayHourMin.Minute}}</div>
                    <ng-container i18n>分</ng-container>
                  </div>
                </td>
                <td>
                  <!-- 呈核中 -->
                  <div *ngIf="surplusLeave.FlowUseDayHourMin != null">
                    <div class="showDayHourMin">{{surplusLeave.FlowUseDayHourMin.Day}}</div>
                    <ng-container i18n>日</ng-container>
                    <div class="showDayHourMin">{{surplusLeave.FlowUseDayHourMin.Hour}}</div>
                    <ng-container i18n>時</ng-container>
                    <div class="showDayHourMin">{{surplusLeave.FlowUseDayHourMin.Minute}}</div>
                    <ng-container i18n>分</ng-container>
                  </div>
                </td>
                <td>
                  <!-- 已請 -->
                  <div *ngIf="surplusLeave.UseDayHourMin != null">
                    <div class="showDayHourMin">{{surplusLeave.UseDayHourMin.Day}}</div>
                    <ng-container i18n>日</ng-container>
                    <div class="showDayHourMin">{{surplusLeave.UseDayHourMin.Hour}}</div>
                    <ng-container i18n>時</ng-container>
                    <div class="showDayHourMin">{{surplusLeave.UseDayHourMin.Minute}}</div>
                    <ng-container i18n>分</ng-container>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <!--table day 1 end -->
        </div>
        <div style="text-align: center">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>關閉</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
<!--dialog餘假資訊-->

<div class="modal" id="DayRote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="mySmallModalLabel">
            {{showSearchEmp.EmpCode}}
            <ng-container i18n>出勤班表</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <app-day-rote [GetAttendInfo$]="Ob_setGetAttendInfo$"></app-day-rote>
          <div style="text-align: center">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              <ng-container i18n>確定</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog班表期間-->

<div *ngIf="!WriteformPage">
  <app-vaformdetail (counterChange)="onCounterChange()" [getsendvaform]='sendvaform' [getwrite_Emp]="setWriteEmp()"
    [getshowSendTree]="showSendTree"></app-vaformdetail>
</div>