<section class="a-block stateblock">
  <div class="a-block-body  a-block-container">
    <ol class="steps-indicator row">
      <li class="col-sm-3">
        <ng-container i18n>選擇欲填寫之補卡單</ng-container>
      </li>
      <li class="col-sm-3 active">
        <ng-container i18n>填寫補卡單</ng-container>
      </li>
      <li class="col-sm-3">
        <ng-container i18n>送出申請單</ng-container>
      </li>
    </ol>
  </div>
  <!-- a-block-body End -->
</section>

<div class="a-block">
  <div class="a-block-body  a-block-container ">
    <h3>
      <ng-container i18n>考勤資訊</ng-container>
    </h3>
    <!-- 考勤異常人 -->
    <div style="border-bottom: 1px dashed #dcdcdc;padding: 15px 0px;margin: 0px;margin-bottom: 10px" class="row">
      <label class="col-md-2 col-xs-12 control-label P_textLeft">
        <ng-container i18n>員工</ng-container>
      </label>
      <div class="col-md-4  col-xs-12  P_dashed ">
        <span>
          {{getAttendCard.forget_man_code}} {{getAttendCard.forget_man_name}}
        </span>
      </div>
      <label class="col-md-2  col-xs-12  control-label P_textTopLeft">
        <ng-container i18n>填寫人</ng-container>
      </label>
      <div class="col-md-4  col-xs-12 ">
        <span>
          {{getAttendCard.write_man_code}} {{getAttendCard.write_man_name}}
        </span>
      </div>
    </div>
    <!-- 考勤異常人 -->
    <!--考勤資訊-->
    <div class="row cardBlock">
      <div class="row" style="margin: 0px ;padding: 0px">
        <div id="iDateInf" class="col-md-3 col-xs-12 row P_paddingZ" style="margin: 0;">
          <div class="col-md-6  col-xs-6 P_paddingAllZ">
            <span style="color: #028fcf">{{getAttendCard.AttendDate}}</span>
          </div>
          <div class="col-md-6  col-xs-6">
            <div *ngIf="getAttendCard.LateMins">
              <div *ngIf="getAttendCard.EliminateLate;else nonEliminateLate" class="tagBlueLineThrough">
                <ng-container i18n>遲到</ng-container>
              </div>
              <ng-template #nonEliminateLate>
                <div class="tag_red">
                  <ng-container i18n>遲到</ng-container>
                </div>
              </ng-template>
            </div>
            <div *ngIf="getAttendCard.EarlyMins">
              <div *ngIf="getAttendCard.EliminateEarly;else nonEliminateEarly" class="tagBlueLineThrough">
                <ng-container i18n>早退</ng-container>
              </div>
              <ng-template #nonEliminateEarly>
                <div class="tag_red">
                  <ng-container i18n>早退</ng-container>
                </div>
              </ng-template>
            </div>
            <div *ngIf="getAttendCard.IsAbsent">
              <div *ngIf="getAttendCard.EliminateAbsent;else nonEliminateAbsent" class="tagBlueLineThrough">
                <ng-container i18n>未刷卡</ng-container>
              </div>
              <ng-template #nonEliminateAbsent>
                <div class="tag_red">
                  <ng-container i18n>未刷卡</ng-container>
                </div>
              </ng-template>
            </div>
            <div *ngIf="getAttendCard.OnBeforeMins">
              <div *ngIf="getAttendCard.EliminateOnBefore;else nonEliminateOnBefore" class="tagBlueLineThrough">
                <ng-container i18n>早到</ng-container>
              </div>
              <ng-template #nonEliminateOnBefore>
                <div class="tag_red">
                  <ng-container i18n>早到</ng-container>
                </div>
              </ng-template>
            </div>
            <div *ngIf="getAttendCard.OffAfterMins">
              <div *ngIf="getAttendCard.EliminateOffAfter;else nonEliminateOffAfter" class="tagBlueLineThrough">
                <ng-container i18n>晚退</ng-container>
              </div>
              <ng-template #nonEliminateOffAfter>
                <div class="tag_red">
                  <ng-container i18n>晚退</ng-container>
                </div>
              </ng-template>
            </div>
            <div>
              <div class="tagBlue"
                *ngIf="!getAttendCard.LateMins &&
                                          !getAttendCard.EarlyMins &&
                                          !getAttendCard.IsAbsent &&
                                          ( !getAttendCard.OnBeforeMins || (getAttendCard.OnBeforeMins && getAttendCard.EliminateOnBefore) ) &&
                                          ( !getAttendCard.OffAfterMins || (getAttendCard.OffAfterMins && getAttendCard.EliminateOffAfter) )">
                <ng-container i18n>正常</ng-container>
              </div>
              <div class="tagBlue" *ngIf="getAttendCard.IsAbnormal">
                <ng-container i18n>不判斷</ng-container>
              </div>
            </div>
          </div>
        </div>
        <div id="iRoteInf" class="col-md-3 col-xs-12 row P_bottomLine">
          <div class="col-md-4 col-xs-12 P_bottomTen">
            <div style="color: rgb(150, 149, 148);">
              <ng-container i18n>班型</ng-container>
            </div>
            <div class="RoteLink" (click)="bt_Show_RoteInfo(getAttendCard.RoteID)">{{getAttendCard.RoteNameC}}</div>
          </div>
          <div class="col-md-4 col-xs-6" style="padding: 0;">
            <div style="color: rgb(150, 149, 148)">
              <ng-container i18n>應上班時間</ng-container>
            </div>
            <div>{{getAttendCard.ActualRote_OnTime}}</div>
          </div>
          <div class="col-md-4 col-xs-6" style="padding: 0;">
            <div style="color: rgb(150, 149, 148);">
              <ng-container i18n>應下班時間</ng-container>
            </div>
            <div style="display: inline-block;padding-right: 10px">{{getAttendCard.ActualRote_OffTime}}</div>
            <div *ngIf="getAttendCard.ActualRote_calCrossDay" style="display: inline-block;
                height: 20px;
                font-size: 13px;
                width: 40px;
                text-align: center;
                color: #fff;
                background-color: #408cb6;
                border: 1px solid;
                border-radius: 15px;">+1<ng-container i18n>日</ng-container>
            </div>
          </div>
        </div>
        <div id="iAttendInf" class="col-md-3 col-xs-12 row P_paddingTop P_bottomLine">
          <div class="col-md-6 col-xs-6 P_paddingAllZ">
            <div [style.color]="getAttendCard.UiAttendColor.RAttendOnTimeTitle">
              <ng-container i18n>到勤時間</ng-container>
            </div>
            <div [style.color]="getAttendCard.UiAttendColor.RAttendOnTimeContent" style="display: inline-block;">
              <div *ngIf="getAttendCard.AttendCard_OnTime.length>0" style="display: inline-block;padding-right: 10px">
                {{getAttendCard.AttendCard_OnTime}}
              </div>
              <div *ngIf="getAttendCard.AttendCard_OnTime.length==0">
                <ng-container i18n>無</ng-container>
              </div>
            </div>
            <div *ngIf="getAttendCard.AttendCard_OnTime_calCrossDay" style="display: inline-block;
                  height: 20px;
                  font-size: 13px;
                  width: 40px;
                  text-align: center;
                  color: #fff;
                  background-color: #408cb6;
                  border: 1px solid;
                  border-radius: 15px;">+1
              <ng-container i18n>日</ng-container>
            </div>
          </div>
          <div class="col-md-6 col-xs-6 P_paddingEndTimeAllZ">
            <div [style.color]="getAttendCard.UiAttendColor.ROffTimeTitle">
              <ng-container i18n>離勤時間</ng-container>
            </div>
            <div>
              <div [style.color]="getAttendCard.UiAttendColor.ROffTimeContent" style="display: inline-block;">
                <div *ngIf="getAttendCard.AttendCard_OffTime.length>0"
                  style="display: inline-block;padding-right: 10px">
                  {{getAttendCard.AttendCard_OffTime}}</div>
                <div *ngIf="getAttendCard.AttendCard_OffTime.length==0"
                  style="display: inline-block;padding-right: 10px">
                  <ng-container i18n>無</ng-container>
                </div>
              </div>
              <div *ngIf="getAttendCard.AttendCard_OffTime_calCrossDay" style="display: inline-block;
                  height: 20px;
                  font-size: 13px;
                  width: 40px;
                  text-align: center;
                  color: #fff;
                  background-color: #408cb6;
                  border: 1px solid;
                  border-radius: 15px;">+1<ng-container i18n>日</ng-container>
              </div>
            </div>
          </div>
        </div>
        <div id="iEmpInf" class="col-md-3 col-xs-12 row P_paddingTop" style="margin: 0;">
          <div class="col-md-4 col-xs-6" style="padding:0">
            <div style="color: rgb(150, 149, 148);">
              <ng-container i18n>請假單</ng-container>
            </div>
            <div><a>查閱</a></div>
          </div>
          <div class="col-md-4 col-xs-6" style="padding:0">
            <div style="color: rgb(150, 149, 148)">
              <ng-container i18n>加班單</ng-container>
            </div>
            <div><a>查閱</a></div>
          </div>
          <div class="col-md-4 col-xs-12 P_topTen">
            <div style="color: rgb(150, 149, 148);">
              <ng-container i18n>車誤</ng-container>
            </div>
            <div>08:00</div>
          </div>
        </div>
      </div>
    </div>
    <!--考勤資訊-->
    <!-- 正常、未刷卡-->
    <div *ngIf="(
      !getAttendCard.LateMins && !getAttendCard.EarlyMins &&
    ( !getAttendCard.OnBeforeMins || (getAttendCard.OnBeforeMins && getAttendCard.EliminateOnBefore) ) &&
    ( !getAttendCard.OffAfterMins || (getAttendCard.OffAfterMins && getAttendCard.EliminateOffAfter) )
    )
    || getAttendCard.IsAbsent">

      <h3>
        <ng-container i18n>欲補卡時間</ng-container>
      </h3>

      <app-card-form-temp (formChange)="CardForm($event)" [getAttendCard]="getAttendCard"
        [UiTemp]="'OnCardTemp'">
      </app-card-form-temp>
      <!-- 簽核人員 -->
      <div class="row" class="row" style="border:0px;padding: 20px 0px;margin: 0;">
        <label class="col-md-2 col-xs-12 control-label P_textLeft">
          <span class="form-must-fill">*</span>
          <ng-container i18n>簽核人員</ng-container>
        </label>
        <div class="col-md-10 col-xs-12">
          <app-select-signer (selectBaseChange)="chooseBase($event)" [sysEmp$]="onChangeSingMan$">
          </app-select-signer>
        </div>

      </div>
      <!-- 簽核人員 -->
      <!-- 調換班需求 -->
      <div class="row" style="border:0px;margin: 0;">
        <label class="col-md-2 col-xs-12 control-label P_textLeft">
        </label>
        <div class="col-md-10 col-xs-12">
          <span>若有調換班需求，請至調換班相關功能申請。</span>
        </div>

      </div>
      <!-- 調換班需求 -->
      <!-- 返回，呈核按鈕 -->
      <div class="P_smallpadding row" style="border:0px">
        <div class="col-md-2 col-xs-12">
        </div>
        <div class="col-md-10 col-xs-12">
          <div class="featuresBlock">
            <div class="btSend">
              <button class="btn btn-primary" data-toggle="modal"  (click)="checkError()"
              [disabled]="checkCardFormDisable()">
                <ng-container i18n>送出表單</ng-container>
              </button>
              <!-- 送出申請單 -->
            </div>
            <div class="btCancel">
              <button class="btn btn-default" (click)="onpreviousForm()">
                <ng-container i18n>返回修改</ng-container>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- 返回，呈核按鈕 -->
    </div>
    <!-- 正常、未刷卡-->

    <!-- 遲到、早退、早到、晚退-->
    <div *ngIf="getAttendCard.LateMins ||
    getAttendCard.EarlyMins ||
    (this.getAttendCard.OnBeforeMins && !this.getAttendCard.EliminateOnBefore) ||
    (this.getAttendCard.OffAfterMins && !this.getAttendCard.EliminateOffAfter)">
      <div class="row" style="margin:0">
        <div>
          <!-- 早到-->
          <div *ngIf="
          (getAttendCard.OnBeforeMins && !getAttendCard.EliminateOnBefore)">
            <div>
              <h3>
                <span *ngIf="getAttendCard.OnBeforeMins">早到</span>
                <span>修正</span>
              </h3>
            </div>
            <div class="row" style="padding: 15px 0px;margin: 0px;margin-bottom: 10px;">
              <div class="col-md-2 col-xs-12">
                <div style="text-align: right;">
                  <label>
                    <span>原因</span>
                  </label>
                </div>
              </div>
              <div class="col-md-10 col-xs-12">
                <div>
                  <input type="radio" name="cR_OnBeforeMins" [(ngModel)]="cR_OnBeforeMins" [value]='1'
                    (click)="disOnBeforeRadio(cR_OnBeforeMins,1)">個人因素
                  <span *ngIf="cR_OnBeforeMins == 1" style="color: rgb(150, 149, 148);">(將自行核准，不會呈核。)</span>
                </div>
                <div class="row" style="margin:0;">
                  <div class="col-md-5 col-xs-12" style="padding:0">
                    <input type="radio" name="cR_OnBeforeMins" [(ngModel)]="cR_OnBeforeMins" [value]='2'
                      (click)="disOnBeforeRadio(cR_OnBeforeMins,2)">加班
                    <span *ngIf="cR_OnBeforeMins == 2" style="color: rgb(150, 149, 148);">(毋須填寫本異常單。)</span>
                  </div>
                  <div class="col-md-7 col-xs-12" style="padding:0">
                    <a *ngIf="cR_OnBeforeMins == 2" style="cursor:pointer">前往加班單系統 ></a>
                  </div>
                </div>
                <div>
                  <input type="radio" name="cR_OnBeforeMins" [(ngModel)]="cR_OnBeforeMins" [value]='3'
                    (click)="disOnBeforeRadio(cR_OnBeforeMins,3)">加班需補卡
                </div>
              </div>
            </div>
            <div *ngIf="cR_OnBeforeMins == 3">
              <app-rm-card-form-temp (formChange)="OnBeforeMinsForm($event)" [getAttendCard]="getAttendCard"
                [UiTemp]="'OnBeforeMinsTemp'">
              </app-rm-card-form-temp>
            </div>
          </div>
          <!-- 早到-->
          <!-- 晚退-->
          <div *ngIf="
          (getAttendCard.OffAfterMins && !getAttendCard.EliminateOffAfter)">
            <div>
              <h3>
                <span *ngIf="getAttendCard.OffAfterMins">晚退</span>
                <span>修正</span>
              </h3>
            </div>
            <div class="row" style="padding: 15px 0px;margin: 0px;margin-bottom: 10px;">
              <div class="col-md-2 col-xs-12">
                <div style="text-align: right;">
                  <label>
                    <span>原因</span>
                  </label>
                </div>
              </div>
              <div class="col-md-10 col-xs-12">
                <div>
                  <input type="radio" name="cR_OffAfterMins" [(ngModel)]="cR_OffAfterMins" [value]='1'
                    (click)="disOffAfterRadio(cR_OffAfterMins,1)">個人因素
                  <span *ngIf="cR_OffAfterMins == 1" style="color: rgb(150, 149, 148);">(將自行核准，不會呈核。)</span>
                </div>
                <div class="row" style="margin:0;">
                  <div class="col-md-5 col-xs-12" style="padding:0">
                    <input type="radio" name="cR_OffAfterMins" [(ngModel)]="cR_OffAfterMins" [value]='2'
                      (click)="disOffAfterRadio(cR_OffAfterMins,2)">加班
                    <span *ngIf="cR_OffAfterMins == 2" style="color: rgb(150, 149, 148);">(毋須填寫本異常單。)</span>
                  </div>
                  <div class="col-md-7 col-xs-12" style="padding:0">
                    <a *ngIf="cR_OffAfterMins == 2" style="cursor:pointer">前往加班單系統 ></a>
                  </div>
                </div>
                <div>
                  <input type="radio" name="cR_OffAfterMins" [(ngModel)]="cR_OffAfterMins" [value]='3'
                    (click)="disOffAfterRadio(cR_OffAfterMins,3)">加班需補卡
                </div>
              </div>
            </div>
            <div *ngIf="cR_OffAfterMins == 3">
              <app-rm-card-form-temp (formChange)="OffAfterMinsForm($event)" [getAttendCard]="getAttendCard"
                [UiTemp]="'OffAfterMinsTemp'">
              </app-rm-card-form-temp>
            </div>
          </div>
          <!-- 晚退-->

          <!-- 早退-->
          <div *ngIf="getAttendCard.EarlyMins">
            <div>
              <h3>
                <span *ngIf="getAttendCard.EarlyMins">早退</span>
                <span>修正</span>
              </h3>
            </div>
            <div class="row" style="padding: 15px 0px;margin: 0px;">
              <div class="col-md-2 col-xs-12">
                <div style="text-align: right;">
                  <label>修正方式</label>
                </div>
              </div>
              <div class="col-md-10 col-xs-12">
                <div class="row" style="margin:0">
                  <div class="col-md-5 col-xs-12" style="padding:0">
                    <input type="radio" name="cR_EarlyMins" [(ngModel)]="cR_EarlyMins" [value]='1'
                      (click)="disEarlyRadio(cR_EarlyMins,1)">我要填請假單
                    <span *ngIf="cR_EarlyMins == 1" style="color: rgb(150, 149, 148);">(毋須填寫本異常單。)</span>
                  </div>
                  <div class="col-md-7 col-xs-12" style="padding:0">
                    <a *ngIf="cR_EarlyMins == 1" style="cursor:pointer">填寫請假單 ></a>
                  </div>
                </div>
                <div>
                  <input type="radio" name="cR_EarlyMins" [(ngModel)]="cR_EarlyMins" [value]='2'
                    (click)="disEarlyRadio(cR_EarlyMins,2)">我要填補卡單
                </div>
              </div>
            </div>
            <div *ngIf="cR_EarlyMins == 2">
              <app-rm-card-form-temp (formChange)="EarlyMinsForm($event)" [getAttendCard]="getAttendCard"
                [UiTemp]="'EarlyMinsTemp'">
              </app-rm-card-form-temp>
            </div>
          </div>
          <!-- 早退-->
          <!-- 遲到-->
          <div *ngIf="getAttendCard.LateMins">
            <div>
              <h3>
                <span *ngIf="getAttendCard.LateMins">遲到</span>
                <span>修正</span>
              </h3>
            </div>
            <div class="row" style="padding: 15px 0px;margin: 0px;">
              <div class="col-md-2 col-xs-12">
                <div style="text-align: right;">
                  <label>修正方式</label>
                </div>
              </div>
              <div class="col-md-10 col-xs-12">
                <div class="row" style="margin:0">
                  <div class="col-md-5 col-xs-12" style="padding:0">
                    <input type="radio" name="cR_LateMins" [(ngModel)]="cR_LateMins" [value]='1'
                      (click)="disLateRadio(cR_LateMins,1)">我要填請假單
                    <span *ngIf="cR_LateMins == 1" style="color: rgb(150, 149, 148);">(毋須填寫本異常單。)</span>
                  </div>
                  <div class="col-md-7 col-xs-12" style="padding:0">
                    <a *ngIf="cR_LateMins == 1" style="cursor:pointer">填寫請假單 ></a>
                  </div>
                </div>
                <div>
                  <input type="radio" name="cR_LateMins" [(ngModel)]="cR_LateMins" [value]='2'
                    (click)="disLateRadio(cR_LateMins,2)">我要填補卡單
                </div>
              </div>
            </div>
            <div *ngIf="cR_LateMins == 2">
              <app-rm-card-form-temp (formChange)="LateMinsForm($event)" [getAttendCard]="getAttendCard"
                [UiTemp]="'LateMinsTemp'">
              </app-rm-card-form-temp>
            </div>
          </div>
          <!-- 遲到-->
          <!-- 簽核人員 -->
          <div *ngIf="cR_LateMins == 2 || cR_EarlyMins == 2 || cR_OnBeforeMins == 3  || cR_OffAfterMins == 3"
            class="row" class="row" style="border:0px;padding: 20px 0px;margin: 0;">
            <label class="col-md-2 col-xs-12 control-label P_textLeft">
              <span class="form-must-fill">*</span>
              <ng-container i18n>簽核人員</ng-container>
            </label>
            <div class="col-md-10 col-xs-12">
              <app-select-signer (selectBaseChange)="chooseBase($event)" [sysEmp$]="onChangeSingMan$">
              </app-select-signer>
            </div>
          </div>
          <!-- 簽核人員 -->
          <!-- 調換班需求 -->
          <div class="row" style="border:0px;margin: 0;">
            <label class="col-md-2 col-xs-12 control-label P_textLeft">
            </label>
            <div class="col-md-10 col-xs-12">
              <span>若有調換班需求，請至調換班相關功能申請。</span>
            </div>

          </div>
          <!-- 調換班需求 -->
        </div>
      </div>

      <!-- 返回，呈核按鈕 -->
      <div class="row" style="border:0px;padding: 20px 0px;margin: 0;">
        <div class="col-md-2 col-xs-12">
        </div>
        <div class="col-md-10 col-xs-12">
          <div class="featuresBlock">
            <div class="btSend">
              <button class="btn btn-primary" data-toggle="modal" (click)="checkStateSubmit()"
                [disabled]="checkdisable()">
                <ng-container i18n>送出表單</ng-container>
              </button>
              <!-- 送出申請單 -->
            </div>
            <div class="btCancel">
              <button class="btn btn-default" (click)="onpreviousForm()">
                <ng-container i18n>返回修改</ng-container>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- 返回，呈核按鈕 -->

    </div>
    <!-- 遲到、早退、早到、晚退-->


  </div>
</div>




<div class="modal" id="errStateCheckDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="mySmallModalLabel" style="text-align: center">
            <ng-container i18n>確認送出?</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <li style="margin-bottom: 5px"
            *ngIf="(this.getAttendCard.OffAfterMins && !this.getAttendCard.EliminateOffAfter) && cR_OffAfterMins == 1">
            晚退修正 : 自行核准晚退
          </li>
          <li style="margin-bottom: 5px"
            *ngIf="(this.getAttendCard.OnBeforeMins && !this.getAttendCard.EliminateOnBefore) && cR_OnBeforeMins == 1">
            早到修正 : 自行核准早到
          </li>
          <li style="margin-bottom: 5px"
            *ngIf="(this.getAttendCard.OffAfterMins && !this.getAttendCard.EliminateOffAfter) && cR_OffAfterMins == 3">
            晚退修正 : 呈核補卡單
          </li>
          <li style="margin-bottom: 5px"
            *ngIf="(this.getAttendCard.OnBeforeMins && !this.getAttendCard.EliminateOnBefore) && cR_OnBeforeMins == 3">
            早到修正 : 呈核補卡單
          </li>
          <li style="margin-bottom: 5px"
            *ngIf="(this.getAttendCard.LateMins && !this.getAttendCard.EliminateLate) && cR_LateMins == 2">
            遲到修正 : 呈核補卡單
          </li>
          <li style="margin-bottom: 5px"
            *ngIf="(this.getAttendCard.EarlyMins && !this.getAttendCard.EliminateEarly) && cR_EarlyMins == 2">
            早退修正 : 呈核補卡單
          </li>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
            (click)="onStateSubmit()">
            <ng-container i18n>送出</ng-container>
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>取消</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog確認送出 -->

<div class="modal" id="checksenddialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="mySmallModalLabel" style="text-align: center">
            <ng-container i18n>確認送出?</ng-container>
          </h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" (click)="onSubmit()">
            <ng-container i18n>送出</ng-container>
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>取消</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog確認送出 -->
<div class="modal" id="sussesdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <!-- <span aria-hidden="true">×</span> -->
          </button>
          <h4 class="modal-title" style="text-align: center">
            <ng-container i18n>申請完成</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <div style="text-align: center;margin-bottom: 10px">
            <img src="./assets/images-template/icon-success.png" />
          </div>
          <div style="text-align: center">
            <ng-container i18n>表單送出完成</ng-container>!
          </div>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-primary" data-dismiss="modal" [routerLink]='["../home"]'>
            <ng-container i18n>確定</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog送出成功 -->
<div class="modal" id="RoteInf_write" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <!-- <h4 class="modal-title" id="mySmallModalLabel">{{showSearchEmp.EmpCode}} 出勤班表</h4> -->
          <h4 class="modal-title" id="mySmallModalLabel">
            <ng-container i18n>班型資訊</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <app-rote-inf [GetRoteInfo$]="Ob_setGetRoteInfo$"></app-rote-inf>
          <div style="text-align: center">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              <ng-container i18n>確定</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog班表期間-->