<div class="a-block">
  <div class="a-block-body  a-block-container">
    <div
      style="background-color: #fafafa;width: 100%;border: 1px solid #cccccc;padding: 2px 15px;padding-bottom: 5px;margin-bottom: 30px;">
      <div style="display: inline-block;padding-top: 5px;">
        <ng-container i18n>目前審核身份</ng-container>：
        <span style="color:#028fcf;font-size: 18px"></span>
      </div>

    </div>

    <!-- 表單編號、表單狀態-->
    <div class="row InfoRow">
      <div class="col-md-6 col-xs-12 row tInfoRow">
        <label class="col-md-4 col-xs-12 control-label labelTitle">
          <ng-container i18n>表單編號</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <span style="color: #028fcf">123456</span>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 row tInfoRow">
        <label class="col-md-4 col-xs-12 control-label labelTitle">
          <ng-container i18n>表單狀態</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <label style="color: #d0021b">
            <ng-container i18n>簽核中</ng-container>
          </label>
        </div>
      </div>
    </div>
    <!-- 表單編號、表單狀態-->
    <!--員工-->
    <div class="row InfoRow">
      <div class="col-md-6  col-xs-12 row tInfoRow">
        <label class="col-md-4 col-xs-12 control-label  labelTitle">
          <ng-container i18n>員工</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <span>12334
            測試人員
          </span>
        </div>
      </div>
    </div>
    <!--員工-->
    <!--異常狀態、消除異常狀態-->
    <div class="row InfoRow">
      <div class="col-md-6  col-xs-12 row tInfoRow">
        <label class="col-md-4 col-xs-12 control-label  labelTitle">
          <ng-container i18n>異常狀態</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <div>
            <div style="margin-right:  5px;display: inline-block;">
              <ng-container i18n>遲到</ng-container>
            </div>
            <div style="margin-right:  5px;display: inline-block;">
              <ng-container i18n>早退</ng-container>
            </div>
            <div style="margin-right:  5px;display: inline-block;">
              <ng-container i18n>未刷卡</ng-container>
            </div>
            <div style="margin-right:  5px;display: inline-block;">
              <ng-container i18n>正常</ng-container>
            </div>
            <div style="margin-right:  5px;display: inline-block;">
              <ng-container i18n>晚退</ng-container>
            </div>
            <div style="margin-right:  5px;display: inline-block;">
              <ng-container i18n>早到</ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6  col-xs-12 row tInfoRow">
        <label class="col-md-4  col-xs-12 control-label labelTitle">
          <ng-container i18n>消除異常狀態</ng-container>
        </label>
        <div class="col-md-8  col-xs-12">
          <div style="margin-right:  5px;display: inline-block;">
            <ng-container i18n>遲到</ng-container>
          </div>
          <div style="margin-right:  5px;display: inline-block;">
            <ng-container i18n>早退</ng-container>
          </div>
          <div style="margin-right:  5px;display: inline-block;">
            <ng-container i18n>未刷卡</ng-container>
          </div>
          <div style="margin-right:  5px;display: inline-block;">
            <ng-container i18n>正常</ng-container>
          </div>
          <div style="margin-right:  5px;display: inline-block;">
            <ng-container i18n>晚退</ng-container>
          </div>
          <div style="margin-right:  5px;display: inline-block;">
            <ng-container i18n>早到</ng-container>
          </div>
        </div>
      </div>
    </div>
    <!--異常狀態、消除異常狀態-->
    <!-- 工作日、班型-->
    <div class="row InfoRow">
      <div class="col-md-6  col-xs-12 row tInfoRow">
        <label class="col-md-4 control-label labelTitle">
          <ng-container i18n>工作日</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <span>2020/01/01</span>
        </div>
      </div>
      <div class="col-md-6  col-xs-12 row tInfoRow">
        <label class="col-md-4  col-xs-12 control-label labelTitle">
          <ng-container i18n>班型</ng-container>
        </label>
        <div class="col-md-8  col-xs-12">
          <span>2030A</span>
        </div>
      </div>
    </div>
    <!-- 工作日、班型-->
    <!-- 應到勤時間、應離勤時間 -->
    <div class="row InfoRow">
      <div class="col-md-6 col-xs-12 row tInfoRow">
        <label class="col-md-4 col-xs-12 control-label labelTitle">
          <ng-container i18n>應到勤時間</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <span>22:00</span>
        </div>
      </div>
      <div class="col-md-6  col-xs-12 row tInfoRow">
        <label class="col-md-4  col-xs-12 control-label labelTitle">
          <ng-container i18n>應離勤時間</ng-container>
        </label>
        <div class="col-md-8  col-xs-12">
          <span>08:00</span>
          <div style="display: inline-block;
        height: 20px;
        font-size: 13px;
        width: 40px;
        text-align: center;
        color: #fff;
        background-color: #408cb6;
        border: 1px solid;
        border-radius: 15px;
        margin: 0px 10px;">+1日</div>
        </div>
      </div>
    </div>
    <!-- 應到勤時間、應離勤時間 -->
    <!-- 原始到勤時間、原始離勤時間 -->
    <div class="row InfoRow">
      <div class="col-md-6 col-xs-12 row tInfoRow">
        <label class="col-md-4 control-label labelTitle">
          <ng-container i18n>原始到勤時間</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <span>22:00</span>
        </div>
      </div>

      <div class="col-md-6 col-xs-12 row tInfoRow">
        <label class="col-md-4 col-xs-12 control-label labelTitle">
          <ng-container i18n>原始離勤時間</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <span>08:00</span>
          <div style="display: inline-block;
            height: 20px;
            font-size: 13px;
            width: 40px;
            text-align: center;
            color: #fff;
            background-color: #408cb6;
            border: 1px solid;
            border-radius: 15px;
            margin: 0px 10px;">+1<ng-container i18n>日</ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- 原始到勤時間、原始離勤時間 -->
    <!-- 補到勤時間、補離勤時間 -->
    <div class="row InfoRow">
      <div class="col-md-6 col-xs-12 row tInfoRow">
        <label class="col-md-4 col-xs-12 control-label labelTitle">
          <ng-container i18n>補到勤時間</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <span>
            22:00
          </span>
        </div>
      </div>
      <div class="col-md-6  col-xs-12 row tInfoRow">
        <label class="col-md-4  col-xs-12 control-label labelTitle">
          <ng-container i18n>補離勤時間</ng-container>
        </label>
        <div class="col-md-8  col-xs-12">
          <span>
            08:00
          </span>
          <div style="display: inline-block;
              height: 20px;
              font-size: 13px;
              width: 40px;
              text-align: center;
              color: #fff;
              background-color: #408cb6;
              border: 1px solid;
              border-radius: 15px;
              margin: 0px 10px;">+1<ng-container i18n>日</ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- 補到勤時間、補離勤時間 -->
    <!-- 異常原因、填寫人 -->
    <div class="row InfoRow">
      <div class="col-md-6 col-xs-12 row tInfoRow">
        <label class="col-md-4 col-xs-12 control-label labelTitle">
          <ng-container i18n>異常原因</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <span>
            刷卡機異常
          </span>
        </div>
      </div>

      <div class="col-md-6  col-xs-12 row tInfoRow">
        <label class="col-md-4  col-xs-12 control-label labelTitle">
          <ng-container i18n>填寫人</ng-container>
        </label>
        <div class="col-md-8  col-xs-12">
          <span>12345
            測試人員</span>
        </div>
      </div>
    </div>
    <!-- 異常原因、填寫人 -->
    <!-- 上傳附件-->
    <div class="row InfoRow">
      <label class="col-md-2 col-xs-12 control-label labelTitle">
        <ng-container i18n>上傳附件</ng-container>
      </label>
      <div class="col-md-10 col-xs-12 row">
        <div class="col-md-3 col-xs-3" style="padding: 0px;word-break: break-all;">
          <img src="./assets/images-template/attach@2x.png" height='16px' width="12px" style="margin-right: 5px" />
          <a style="cursor:pointer">123.JPG</a>
        </div>
        <span>
          <ng-container i18n>無</ng-container>
        </span>
      </div>
    </div>
    <!-- 上傳附件-->
    <div class="row InfoRow">
      <label class="col-md-2 col-xs-12 control-label labelTitle">
        <ng-container i18n>補充說明</ng-container>
      </label>
      <div class="col-md-10 col-xs-12">
        <span>
          說明拉</span>
      </div>
    </div>
    <!--歷程主管意見-->
    <app-from-sign [getProcessFlowID]="'99457'"></app-from-sign>
    <!--歷程主管意見-->
    <!--簽核意見-->
    <div class="row InfoRow">
      <label class="col-md-2 col-xs-12 control-label labelTitle">
        <ng-container i18n>簽核意見</ng-container>
      </label>
      <div class="col-md-10 col-xs-12">
        <textarea class="inputTextarea" style="overflow-y: auto" maxlength="1000"></textarea>
      </div>
    </div>
    <!--簽核意見-->
  </div>
</div>