<div class="a-block">
  <div class="a-block-body  a-block-container">
    <div class="row" style="margin: 0px">
      <div class="col-md-1 col-xs-12" style="padding: 0px">
        <label class="control-label" style="padding-left: 0px">
          差假日期
        </label>
      </div>
      <div class="col-md-10 col-xs-12 row" style="margin: 0px;padding: 0px">
        <div class="col-md-6 " style="margin-bottom: 10px">
          <label class="col-md-2 control-label" style="padding-left: 0px;
          padding-top: 5px;">
            起始日
          </label>
          <div class="col-md-8 ">
            <div class="row writerow">
              <div class="col-md-10 col-xs-10" style="padding: 0px">
                <input id="id_ipt_startday" type="text" class="form-control" style="background-color: #ffffff;"
                  placeholder="年/月/日" />
              </div>
              <!--  -->
              <div class="col-md-2 col-xs-2" style="padding: 0px">
                <input #StartDateView id="id_bt_startday" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                                cursor: pointer;
                                color: transparent;
                                border: 1px solid transparent;
                                width: 50px;
                                height: 40px;
                                ">
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-6 " style="margin-bottom: 10px">
            <label class="col-md-2 control-label" style="padding-left: 0px;
            padding-top: 5px;">
              結束日
            </label>
            <div class="col-md-8">
              <div class="row writerow">
                <div class="col-md-10 col-xs-10" style="padding: 0px">
                  <input id="id_ipt_endday" type="text" class="form-control" style="background-color: #ffffff"
                    placeholder="年/月/日">
                </div>
                <div class="col-md-2 col-xs-2" style="padding: 0px">
                  <input id="id_bt_endday" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                                    cursor: pointer;
                                    color: transparent;
                                    border: 1px solid transparent;
                                    width: 50px;
                                    height: 40px;
                                    ">
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>


    <div class="row" style="margin: 0px;margin-bottom: 20px;">
      <div class="col-md-1 col-xs-12 " style="padding: 0px">
        <label class=" control-label">
          篩選條件
        </label>
      </div>
      <div class="col-md-2  col-xs-12" style="padding:0px;">
        <select class="form-control">
          <option>全部</option>
        </select>
      </div>
    </div>
    <div class="row" style="margin: 0px">
      <div class="col-md-1 col-xs-12 " style="padding: 0px">
      </div>
      <div class="col-md-2  col-xs-12" style="padding:0px;">
          <div>
              <button type="button" class="btn btn-primary">查詢</button>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="a-block">
    <div class="a-block-body  a-block-container">
    <table class="table table-bordered table-striped table-hover table-content-center table-style01">
      <thead>
        <tr>
          <th></th>
          <th>單位</th>
          <th>差假人</th>
          <th>差假期間</th>
          <th>種類</th>
          <th>假別</th>
          <th>日</th>
          <th>時</th>
          <th>狀態</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a>點選</a></td>
          <td>廈門太古起落架維修服務有限公司</td>
          <td>李大仁</td>
          <td>2018/08/01~2018/10/01</td>
          <td>差假單</td>
          <td>二個月以上未滿三個月妊娠流產假</td>
          <td>60</td>
          <td>2</td>
          <td>已核准</td>
        </tr>
        <tr>
          <td><a>點選</a></td>
          <td>廈門太古起落架維修服務有限公司</td>
          <td>李大仁</td>
          <td>2018/10/01~2018/10/03</td>
          <td>差假單</td>
          <td>特休</td>
          <td>10</td>
          <td>0</td>
          <td>已核准</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>