<form [formGroup]="rmCardTempForm">

  <div class="P_smallpadding row">

    <!-- 欲補卡日期 -->
    <div style="border-bottom: 1px dashed #dcdcdc;padding: 15px 0px;margin: 0px" class="row">
      <label class="col-md-2 control-label" style="text-align: right;padding-top: 7px">
        <ng-container i18n>欲補卡日期</ng-container>
      </label>
      <div class="col-md-4">
        <div>
          <select class="form-control" formControlName="rcFirstCardDate">
            <option *ngFor="let oneOffWork of selectOffWorkArray">
              {{oneOffWork}}
            </option>
          </select>
        </div>
      </div>
      <label class="col-md-2 col-xs-12 control-label P_textLeft" style="padding-top: 7px">
        <ng-container i18n>時間</ng-container>
      </label>
      <div class="col-md-4 col-xs-12 ">
        <div class="col-md-10 col-xs-10 P_paddingZ">
          <input [id]="id_ipt_endtime"  type="text" class="form-control" formControlName="rcFirstCardTime"
            [textMask]="EndTimeMask()" placeholder="範例:08:00" autocomplete="off">
        </div>
        <div class="col-md-2 col-xs-2" style="padding: 0px">
          <input #EndTimeView [id]="id_bt_endtime" (click)="changeEndTimeView()" type="button" style="background: #fff url(./assets/images-template/icon-clock.png) center center no-repeat;
                                    cursor: pointer;
                                    color: transparent;
                                    border: 1px solid transparent;
                                    width: 50px;
                                    height: 40px;
                                    padding: 0px;
                                    " class="bt_disable">
        </div>
      </div>
    </div>
    <!-- 欲補卡日期 -->
    <!-- 異常原因 -->
    <div style="border-bottom: 1px dashed #dcdcdc;padding: 15px 0px;margin: 0px" class="row">
      <label class="col-md-2 col-xs-12 control-label P_textLeft" style="padding-top: 6px">
        <span class="form-must-fill">*</span>
        <ng-container i18n>異常原因</ng-container>
      </label>
      <div class="col-md-4 col-xs-12">
        <select class="form-control" formControlName="rcCause">
          <option *ngFor="let Cause of Cause" [value]="Cause.CauseID">{{Cause.CauseNameC}}</option>
        </select>
      </div>
    </div>
    <!-- 異常原因 -->
    <!-- 上傳附件 -->
    <div style="border-bottom: 1px dashed #dcdcdc;padding: 15px 0px;margin: 0px" class="row">
      <label class="col-md-2 col-xs-12 control-label P_textLeft" style="padding-top: 6px">
        <ng-container i18n>上傳附件</ng-container>
      </label>
      <div class="col-md-10 col-xs-12">
        <app-fileuploadbutton (fileChange)="onSaveFile($event)"></app-fileuploadbutton>
      </div>
    </div>
    <!-- 上傳附件 -->


    <!-- 補充說明 -->
    <div style="border-bottom: 1px dashed #dcdcdc;padding: 15px 0px;margin: 0px" class="row">
      <label class="col-md-2 col-xs-12 control-label P_textLeft" style="padding-top: 6px">
        <ng-container i18n>補充說明</ng-container>
      </label>
      <div class="col-md-8  col-xs-12">
        <textarea class="inputTextarea" formControlName="rcNote" style="overflow-y: auto" placeholder="請輸入說明"
          maxlength="1000"></textarea>

      </div>
    </div>
    <!-- 補充說明 -->
  </div>
</form>