<!-- <a data-toggle="modal" data-target="#FirstStPwDialog" style="cursor: pointer;">
  初次登入
</a> /
<a data-toggle="modal" data-target="#FirstStPwSussesDialog" style="cursor: pointer;">
  完成密碼設定
</a> /
<a data-toggle="modal" data-target="#LoginDialog" style="cursor: pointer;">
  登入
</a> -->

<div class="a-block">
  <div class="a-block-body  a-block-container">
    <div class="info">
      <div class="row empInfoBlock">
        <div class="col-md-4 col-md-push-8 col-xs-12" style="text-align: right;padding:0px;">
          <div style="color: #8b8484;margin-bottom: 10px;">
            2019/11/06 15:20
          </div>
          <div class="row oneLine reTimeBlock">
            <div class="col-md-8 col-xs-6 reTime">
              <span style="color: #fc0202;padding-right: 5px;">
                <span>
                  {{time}}
                </span>
                秒後自動登出
              </span>
            </div>
            <div class="col-md-4 col-xs-6" style="padding: 0;">
              <a (click)="resetTime()" style="cursor: pointer;padding-right: 5px;">重新計時
                <img src="./assets/jbIcon/icon_restart.png" width="20px" height="20px" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-md-pull-4 col-xs-12" style="padding:0px;">
          <div class="infoblock">
            <div class="oneLine empIdText">
              <div style="display: inline-block;">員工：</div>
              <div style="display: inline-block;">0082520 李大白</div>
            </div>
            <div class="oneLine">
              <div style="display: inline-block;">入帳帳號：</div>
              <div style="display: inline-block;">台灣銀行 (004 ) 1234567890123456</div>
            </div>
            <div>
              <div style="display: inline-block;">部門：</div>
              <div style="display: inline-block;">財務系統部</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row selectSearchBlock">
        <div class="col-md-2 col-xs-12" style="padding:0;font-size: 17px;color: #8b8484;font-weight: 500;">
          選擇薪資單期間
        </div>
        <div class="col-md-8 col-xs-12" style="padding:0;">
          <div class="col-md-4 col-xs-4" style="padding: 0px 2px;">
            <select class="form-control" style="text-align-last: center;padding:0">
              <option>2019年</option>
            </select>
          </div>
          <div class="col-md-4 col-xs-3" style="padding: 0px 2px;">
            <select class="form-control" style="text-align-last: center;padding:0">
              <option>11月</option>
            </select>
          </div>
          <div class="col-md-4 col-xs-5" style="padding: 0px 2px;">
            <select class="form-control" style="text-align-last: center;padding:0">
              <option>本期(第二期)</option>
            </select>
          </div>
        </div>
        <div class="col-md-2 col-xs-12 btnSelectSearch">
          <button class="btn btn-info" style="padding: 5px 20px;" (click)="bt_Search()">確定</button>
        </div>
      </div>
      <div id="goPageChange"></div>
      <div appShowSearchSalary *ngIf="showSarly" class="salaryInfoBlock">
        <!-- <div class="iconBlock">
          <button style="background:0;border:0">
            <img src="./assets/jbIcon/icon_email.png" width="25px" height="23px" />
          </button> 
         <button  style="background:0;border:0">
            <img src="./assets/jbIcon/icon_down.png" width="25px" height="23px" />
          </button>
          <button style="background:0;border:0" [styleSheetFile]="styleFileHref+','+styleFileHrefPage"
            [useExistingCss]="true" [printSectionId]="printSectionId" ngxPrint>
            <img src="./assets/jbIcon/icon_print.png" width="25px" height="23px" />
          </button>
        </div> -->
        <div id="contentPDF8Test" class="salaryDetailBlock">
          <div class="row" class="row DetailTitleBlock">
            <div class="col-md-4  col-md-push-8 col-xs-12" style="text-align: right;">
              <button class="btPrint" style="background:0;border:0"
                [styleSheetFile]="styleFileHref+','+styleFileHrefPage" [useExistingCss]="true"
                printSectionId="contentPDF8Test" ngxPrint>
                <img src="./assets/jbIcon/icon_print.png" width="25px" height="23px" />
              </button>
            </div>
            <div class="col-md-4  col-xs-12">
              <div class="oneLine" class="DetailTitleText">
                <!-- OOOOO公司10月薪資單 -->
                {{showSarly.Title}}
              </div>
            </div>
            <div class="col-md-4 col-md-pull-8 col-xs-12 DetailSiteTitleText">
              <div class="oneLine">
                <!-- 區間：2019/10/01-2019/10/31 -->
                {{showSarly.DateIntervalTitle}}
              </div>
              <div class="oneLine">
                <!-- 轉帳日期：2019/11/05 -->
                {{showSarly.TransferTitle}}
              </div>
            </div>
          </div>
          <div class="row" style="margin:0;margin-bottom: 15px;">
            <div class="col-md-3 col-xs-12">
              <div *ngIf="showSarly.oneBlockClass" class="groupInfo">
                <div class="groupTitleInfo">
                  <div class="groupTitleText">
                    <!-- 實發薪資 -->
                    {{showSarly.oneBlockClass.title}}
                  </div>
                </div>
                <div class="groupDetailInfo">
                  <div *ngFor="let oneBlockDetail of  showSarly.oneBlockClass.blockDetail" class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 應稅薪資 -->
                      {{oneBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 23,100 -->
                      {{oneBlockDetail.number}}
                      {{oneBlockDetail.init}}
                    </div>
                  </div>
                </div>
                <div *ngIf="showSarly.oneBlockClass.OtherblockDetail" class="groupDetailInfo groupDetailSumBlock">
                  <div *ngFor="let oneOtherBlockDetail of showSarly.oneBlockClass.OtherblockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 小計(B) -->
                      {{oneOtherBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 25,485 -->
                      {{oneOtherBlockDetail.number}}
                      {{oneOtherBlockDetail.init}}
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="showSarly.twoBlockClass" class="groupInfo">
                <div class="groupTitleInfo">
                  <div class="groupTitleText">
                    <!-- 勞退新制 -->
                    {{showSarly.twoBlockClass.title}}
                  </div>
                </div>
                <div class="groupDetailInfo">
                  <div *ngFor="let twoBlockDetail of  showSarly.twoBlockClass.blockDetail" class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 公司提撥 -->
                      {{twoBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 1,386 -->
                      {{twoBlockDetail.number}}
                      {{twoBlockDetail.init}}
                    </div>
                  </div>
                </div>
                <div *ngIf="showSarly.twoBlockClass.OtherblockDetail" class="groupDetailInfo groupDetailSumBlock">
                  <div *ngFor="let twoOtherBlockDetail of showSarly.twoBlockClass.OtherblockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 小計(B) -->
                      {{twoOtherBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 25,485 -->
                      {{twoOtherBlockDetail.number}}
                      {{twoOtherBlockDetail.init}}
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="showSarly.threeBlockClass" class="groupInfo">
                <div class="groupTitleInfo">
                  <div class="groupTitleText">
                    <!-- 剩餘時數 -->
                    {{showSarly.threeBlockClass.title}}
                  </div>
                </div>
                <div class="groupDetailInfo">
                  <div *ngFor="let threeBlockDetail of showSarly.threeBlockClass.blockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 特休剩餘 -->
                      {{threeBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 4.00小時 -->
                      {{threeBlockDetail.number}}
                      {{threeBlockDetail.init}}
                    </div>
                  </div>
                </div>
                <div *ngIf="showSarly.threeBlockClass.OtherblockDetail" class="groupDetailInfo groupDetailSumBlock">
                  <div *ngFor="let threeOtherBlockDetail of showSarly.threeBlockClass.OtherblockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 小計(B) -->
                      {{threeOtherBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 25,485 -->
                      {{threeOtherBlockDetail.number}}
                      {{threeOtherBlockDetail.init}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div *ngIf="showSarly.fourBlockClass" class="groupInfo">
                <div class="groupTitleInfo">
                  <div class="groupTitleText">
                    <!-- 本月所得 -->
                    {{showSarly.fourBlockClass.title}}
                  </div>
                </div>
                <div class="groupDetailInfo">
                  <div *ngFor="let fourBlockDetail of showSarly.fourBlockClass.blockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 本俸 -->
                      {{fourBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 23,100 -->
                      {{fourBlockDetail.number}}
                      {{fourBlockDetail.init}}
                    </div>
                  </div>
                </div>
                <div *ngIf="showSarly.fourBlockClass.OtherblockDetail" class="groupDetailInfo groupDetailSumBlock">
                  <div *ngFor="let fourOtherBlockDetail of showSarly.fourBlockClass.OtherblockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 小計(B) -->
                      {{fourOtherBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 25,485 -->
                      {{fourOtherBlockDetail.number}}
                      {{fourOtherBlockDetail.init}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div *ngIf="showSarly.fiveBlockClass" class="groupInfo">
                <div class="groupTitleInfo">
                  <div class="groupTitleText">
                    <!-- 本月扣款 -->
                    {{showSarly.fiveBlockClass.title}}
                  </div>
                </div>
                <div class="groupDetailInfo">
                  <div *ngFor="let fiveBlockDetail of showSarly.fiveBlockClass.blockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 勞保費 -->
                      {{fiveBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 508 -->
                      {{fiveBlockDetail.number}}
                      {{fiveBlockDetail.init}}
                    </div>
                  </div>
                </div>
                <div *ngIf="showSarly.fiveBlockClass.OtherblockDetail" class="groupDetailInfo groupDetailSumBlock">
                  <div *ngFor="let fiveOtherBlockDetail of showSarly.fiveBlockClass.OtherblockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 小計(C) -->
                      {{fiveOtherBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 966 -->
                      {{fiveOtherBlockDetail.number}}
                      {{fiveOtherBlockDetail.init}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div *ngIf="showSarly.sixBlockClass" class="groupInfo">
                <div class="groupTitleInfo">
                  <div class="groupTitleText">
                    <!-- 本月出勤 -->
                    {{showSarly.sixBlockClass.title}}
                  </div>
                </div>
                <div class="groupDetailInfo">
                  <div *ngFor="let sixBlockDetail of showSarly.sixBlockClass.blockDetail" class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 調休 -->
                      {{sixBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 2.5小時 -->
                      {{sixBlockDetail.number}}
                      {{sixBlockDetail.init}}
                    </div>
                  </div>
                </div>
                <div *ngIf="showSarly.sixBlockClass.OtherblockDetail" class="groupDetailInfo groupDetailSumBlock">
                  <div *ngFor="let sixOtherBlockDetail of showSarly.sixBlockClass.OtherblockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 小計(C) -->
                      {{sixOtherBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 966 -->
                      {{sixOtherBlockDetail.number}}
                      {{sixOtherBlockDetail.init}}
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="showSarly.sevenBlockClass" class="groupInfo">
                <div class="groupTitleInfo">
                  <div class="groupTitleText">
                    <!-- 加班時數 -->
                    {{showSarly.sevenBlockClass.title}}
                  </div>
                </div>
                <div class="groupDetailInfo">
                  <div *ngFor="let sevenBlockDetail of showSarly.sevenBlockClass.blockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 平日加班費 -->
                      {{sevenBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 4.00小時 -->
                      {{sevenBlockDetail.number}}
                      {{sevenBlockDetail.init}}
                    </div>
                  </div>
                </div>
                <div *ngIf="showSarly.sevenBlockClass.OtherblockDetail" class="groupDetailInfo groupDetailSumBlock">
                  <div *ngFor="let sevenOtherBlockDetail of showSarly.sevenBlockClass.OtherblockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 小計(C) -->
                      {{sevenOtherBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 966 -->
                      {{sevenOtherBlockDetail.number}}
                      {{sevenOtherBlockDetail.init}}
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="showSarly.eightBlockClass" class="groupInfo">
                <div class="groupTitleInfo">
                  <div class="groupTitleText">
                    <!-- 加班倍率 -->
                    {{showSarly.eightBlockClass.title}}
                  </div>
                </div>
                <div class="groupDetailInfo">
                  <div *ngFor="let eightBlockDetail of showSarly.eightBlockClass.blockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 1倍 -->
                      {{eightBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 0 -->
                      {{eightBlockDetail.number}}
                      {{eightBlockDetail.init}}
                    </div>
                  </div>
                </div>
                <div *ngIf="showSarly.eightBlockClass.OtherblockDetail" class="groupDetailInfo groupDetailSumBlock">
                  <div *ngFor="let eightOtherBlockDetail of showSarly.eightBlockClass.OtherblockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 小計(C) -->
                      {{eightOtherBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 966 -->
                      {{eightOtherBlockDetail.number}}
                      {{eightOtherBlockDetail.init}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin: 0;">
            <div *ngIf="showSarly.NoteBloc" class="col-md-12 col-xs-12 noteText">
              <!-- 備註:無 -->
              {{showSarly.NoteBloc}}
            </div>
          </div>
        </div>
        <div id="contentPDF4" class="salaryDetailBlock">
          <div class="row" class="row DetailTitleBlock">
            <div class="col-md-4  col-md-push-8 col-xs-12" style="text-align: right;">
              <button class="btPrint" style="background:0;border:0"
                [styleSheetFile]="styleFileHref+','+styleFileHrefPage" [useExistingCss]="true"
                printSectionId="contentPDF4" ngxPrint>
                <img src="./assets/jbIcon/icon_print.png" width="25px" height="23px" />
              </button>
            </div>
            <div class="col-md-4  col-xs-12">
              <div class="oneLine" class="DetailTitleText">
                <!-- OOOOO公司10月薪資單 -->
                {{showSarly.Title}}
              </div>
            </div>
            <div class="col-md-4 col-md-pull-8 col-xs-12 DetailSiteTitleText">
              <div class="oneLine">
                <!-- 區間：2019/10/01-2019/10/31 -->
                {{showSarly.DateIntervalTitle}}
              </div>
              <div class="oneLine">
                <!-- 轉帳日期：2019/11/05 -->
                {{showSarly.TransferTitle}}
              </div>
            </div>
          </div>
          <div class="row" style="margin:0;margin-bottom: 15px;">
            <div class="col-md-3 col-xs-12">
              <div *ngIf="showSarly.oneBlockClass" class="groupInfo">
                <div class="groupTitleInfo">
                  <div class="groupTitleText">
                    <!-- 實發薪資 -->
                    {{showSarly.oneBlockClass.title}}
                  </div>
                </div>
                <div class="groupDetailInfo">
                  <div *ngFor="let oneBlockDetail of  showSarly.oneBlockClass.blockDetail" class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 應稅薪資 -->
                      {{oneBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 23,100 -->
                      {{oneBlockDetail.number}}
                      {{oneBlockDetail.init}}
                    </div>
                  </div>
                </div>
                <div *ngIf="showSarly.oneBlockClass.OtherblockDetail" class="groupDetailInfo groupDetailSumBlock">
                  <div *ngFor="let oneOtherBlockDetail of showSarly.oneBlockClass.OtherblockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 小計(B) -->
                      {{oneOtherBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 25,485 -->
                      {{oneOtherBlockDetail.number}}
                      {{oneOtherBlockDetail.init}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div *ngIf="showSarly.twoBlockClass" class="groupInfo">
                <div class="groupTitleInfo">
                  <div class="groupTitleText">
                    <!-- 勞退新制 -->
                    {{showSarly.twoBlockClass.title}}
                  </div>
                </div>
                <div class="groupDetailInfo">
                  <div *ngFor="let twoBlockDetail of  showSarly.twoBlockClass.blockDetail" class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 公司提撥 -->
                      {{twoBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 1,386 -->
                      {{twoBlockDetail.number}}
                      {{twoBlockDetail.init}}
                    </div>
                  </div>
                </div>
                <div *ngIf="showSarly.twoBlockClass.OtherblockDetail" class="groupDetailInfo groupDetailSumBlock">
                  <div *ngFor="let twoOtherBlockDetail of showSarly.twoBlockClass.OtherblockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 小計(B) -->
                      {{twoOtherBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 25,485 -->
                      {{twoOtherBlockDetail.number}}
                      {{twoOtherBlockDetail.init}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div *ngIf="showSarly.threeBlockClass" class="groupInfo">
                <div class="groupTitleInfo">
                  <div class="groupTitleText">
                    <!-- 剩餘時數 -->
                    {{showSarly.threeBlockClass.title}}
                  </div>
                </div>
                <div class="groupDetailInfo">
                  <div *ngFor="let threeBlockDetail of showSarly.threeBlockClass.blockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 特休剩餘 -->
                      {{threeBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 4.00小時 -->
                      {{threeBlockDetail.number}}
                      {{threeBlockDetail.init}}
                    </div>
                  </div>
                </div>
                <div *ngIf="showSarly.threeBlockClass.OtherblockDetail" class="groupDetailInfo groupDetailSumBlock">
                  <div *ngFor="let threeOtherBlockDetail of showSarly.threeBlockClass.OtherblockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 小計(B) -->
                      {{threeOtherBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 25,485 -->
                      {{threeOtherBlockDetail.number}}
                      {{threeOtherBlockDetail.init}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div *ngIf="showSarly.fourBlockClass" class="groupInfo">
                <div class="groupTitleInfo">
                  <div class="groupTitleText">
                    <!-- 本月所得 -->
                    {{showSarly.fourBlockClass.title}}
                  </div>
                </div>
                <div class="groupDetailInfo">
                  <div *ngFor="let fourBlockDetail of showSarly.fourBlockClass.blockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 本俸 -->
                      {{fourBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 23,100 -->
                      {{fourBlockDetail.number}}
                      {{fourBlockDetail.init}}
                    </div>
                  </div>
                </div>
                <div *ngIf="showSarly.fourBlockClass.OtherblockDetail" class="groupDetailInfo groupDetailSumBlock">
                  <div *ngFor="let fourOtherBlockDetail of showSarly.fourBlockClass.OtherblockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 小計(B) -->
                      {{fourOtherBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 25,485 -->
                      {{fourOtherBlockDetail.number}}
                      {{fourOtherBlockDetail.init}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin: 0;">
            <div *ngIf="showSarly.NoteBloc" class="col-md-12 col-xs-12 noteText">
              <!-- 備註:無 -->
              {{showSarly.NoteBloc}}
            </div>
          </div>
        </div>
        <div id="contentPDF2" class="salaryDetailBlock">
          <div class="row" class="row DetailTitleBlock">
            <div class="col-md-4  col-md-push-8 col-xs-12" style="text-align: right;">
              <button class="btPrint" style="background:0;border:0"
                [styleSheetFile]="styleFileHref+','+styleFileHrefPage" [useExistingCss]="true"
                printSectionId="contentPDF2" ngxPrint>
                <img src="./assets/jbIcon/icon_print.png" width="25px" height="23px" />
              </button>
            </div>
            <div class="col-md-4  col-xs-12">
              <div class="oneLine" class="DetailTitleText">
                <!-- OOOOO公司10月薪資單 -->
                {{showSarly.Title}}
              </div>
            </div>
            <div class="col-md-4 col-md-pull-8 col-xs-12 DetailSiteTitleText">
              <div class="oneLine">
                <!-- 區間：2019/10/01-2019/10/31 -->
                {{showSarly.DateIntervalTitle}}
              </div>
              <div class="oneLine">
                <!-- 轉帳日期：2019/11/05 -->
                {{showSarly.TransferTitle}}
              </div>
            </div>
          </div>
          <div class="row" style="margin:0;margin-bottom: 15px;">
            <div class="col-md-3 col-xs-12">
            </div>
            <div class="col-md-3 col-xs-12">
              <div *ngIf="showSarly.oneBlockClass" class="groupInfo">
                <div class="groupTitleInfo">
                  <div class="groupTitleText">
                    <!-- 實發薪資 -->
                    {{showSarly.oneBlockClass.title}}
                  </div>
                </div>
                <div class="groupDetailInfo">
                  <div *ngFor="let oneBlockDetail of  showSarly.oneBlockClass.blockDetail" class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 應稅薪資 -->
                      {{oneBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 23,100 -->
                      {{oneBlockDetail.number}}
                      {{oneBlockDetail.init}}
                    </div>
                  </div>
                </div>
                <div *ngIf="showSarly.oneBlockClass.OtherblockDetail" class="groupDetailInfo groupDetailSumBlock">
                  <div *ngFor="let oneOtherBlockDetail of showSarly.oneBlockClass.OtherblockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 小計(B) -->
                      {{oneOtherBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 25,485 -->
                      {{oneOtherBlockDetail.number}}
                      {{oneOtherBlockDetail.init}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div *ngIf="showSarly.twoBlockClass" class="groupInfo">
                <div class="groupTitleInfo">
                  <div class="groupTitleText">
                    <!-- 勞退新制 -->
                    {{showSarly.twoBlockClass.title}}
                  </div>
                </div>
                <div class="groupDetailInfo">
                  <div *ngFor="let twoBlockDetail of  showSarly.twoBlockClass.blockDetail" class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 公司提撥 -->
                      {{twoBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 1,386 -->
                      {{twoBlockDetail.number}}
                      {{twoBlockDetail.init}}
                    </div>
                  </div>
                </div>
                <div *ngIf="showSarly.twoBlockClass.OtherblockDetail" class="groupDetailInfo groupDetailSumBlock">
                  <div *ngFor="let twoOtherBlockDetail of showSarly.twoBlockClass.OtherblockDetail"
                    class="row groupDetailBlock">
                    <div class="col-md-6 col-xs-6 groupDetailBlockTitle">
                      <!-- 小計(B) -->
                      {{twoOtherBlockDetail.title}}
                    </div>
                    <div class="col-md-6 col-xs-6 groupDetailBlockDetail">
                      <!-- 25,485 -->
                      {{twoOtherBlockDetail.number}}
                      {{twoOtherBlockDetail.init}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
            </div>
          </div>
          <div class="row" style="margin: 0;">
            <div *ngIf="showSarly.NoteBloc" class="col-md-12 col-xs-12 noteText">
              <!-- 備註:無 -->
              {{showSarly.NoteBloc}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal salaryDialog" id="FirstStPwDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" style="text-align: center;">
            <ng-container i18n>初次登入</ng-container>
            <br />
            <ng-container i18n>請設定薪資密碼</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="firstPwFromGroup" (ngSubmit)="submit()">
            <div>
              <span class="iptTitleBlock">
                <ng-container i18n>輸入工號</ng-container>
              </span>
            </div>
            <div class="iptBlock">
              <input class="form-control" type="text" formControlName="empID" autocomplete="off" />
            </div>
            <div>
              <span class="iptTitleBlock">
                <ng-container i18n>輸入薪資密碼</ng-container>
              </span>
            </div>
            <div class="iptBlock">
              <input class="form-control" type="text" formControlName="password" autocomplete="off" />
            </div>
            <div>
              <span class="iptTitleBlock">
                <ng-container i18n>確認薪資密碼</ng-container>
              </span>
            </div>
            <div class="iptBlock">
              <input class="form-control" type="text" formControlName="checkPassword" autocomplete="off" />
            </div>
            <!-- {{firstPwFromGroup.status}} -->
            <div style="text-align: center;margin: 10px 0px;">
              <button type="submit" class="btn btn-primary">設定密碼</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="FirstStPwSussesDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center" style="padding: 10px;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
          <h4 class="modal-title" style="text-align: center">
            <ng-container i18n>完成密碼設定</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <div style="text-align: center;margin-bottom: 10px">
            <img src="./assets/jbIcon/icon_check-circle.png" width="25%" height="25%" />
          </div>
          <div style="text-align: center">
            <ng-container i18n>請登入看薪資</ng-container>!
          </div>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <ng-container i18n>確定</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal salaryDialog" id="LoginDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" style="text-align: center;">
            <ng-container i18n>輸入定薪資密碼</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="firstPwFromGroup" (ngSubmit)="submit()">
            <div>
              <span class="iptTitleBlock">
                <ng-container i18n>輸入工號</ng-container>
              </span>
            </div>
            <div class="iptBlock">
              <input class="form-control" type="text" formControlName="empID" autocomplete="off" />
            </div>
            <div>
              <span class="iptTitleBlock">
                <ng-container i18n>輸入身分證字號</ng-container>
              </span>
            </div>
            <div class="iptBlock">
              <input class="form-control" type="text" formControlName="password" autocomplete="off" />
            </div>
            <div>
              <span class="iptTitleBlock">
                <ng-container i18n>輸入薪資密碼</ng-container>
              </span>
            </div>
            <div class="iptBlock">
              <input class="form-control" type="text" formControlName="checkPassword" autocomplete="off" />
            </div>
            <!-- {{firstPwFromGroup.status}} -->
            <div style="text-align: center;margin: 10px 0px;
            margin-bottom: 0px;">
              <button type="submit" class="btn btn-primary" style="
              margin-bottom: 10px;">登入看薪資</button>
              <!-- <div style="text-align: right;">
                <a style="cursor: pointer;">重設密碼</a>
                <a style="cursor: pointer;">
                  <img src="./assets/jbIcon/icon_restart.png" />
                </a>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>