<a data-toggle="modal" data-target="#FirstStPwDialog" style="cursor: pointer;">
  初次登入
</a> /
<a data-toggle="modal" data-target="#FirstStPwSussesDialog" style="cursor: pointer;">
  完成密碼設定
</a> /
<a data-toggle="modal" data-target="#LoginDialog" style="cursor: pointer;">
  登入
</a>

<div class="a-block">
  <div class="a-block-body  a-block-container">
    <div class="info">
      <div class="row empInfoBlock">
        <div class="col-md-4 col-md-push-8 col-xs-12" style="text-align: right;padding:0px;">
          <div style="color: #8b8484;margin-bottom: 10px;">
            2019/11/06 15:20
          </div>
          <div class="row oneLine reTimeBlock">
            <div class="col-md-8 col-xs-6 reTime">
              <span style="color: #fc0202;padding-right: 5px;">
                <span>
                  {{time}}
                </span>
                秒後自動登出
              </span>
            </div>
            <div class="col-md-4 col-xs-6" style="padding: 0;">
              <a (click)="resetTime()" style="cursor: pointer;padding-right: 5px;">重新計時</a>
              <img src="/assets/jbIcon/icon-restart.png" width="20px" height="20px" />
            </div>
          </div>
        </div>
        <div class="col-md-8 col-md-pull-4 col-xs-12" style="padding:0px;">
          <div class="infoblock">
            <div class="oneLine empIdText">
              <div style="display: inline-block;">員工：</div>
              <div style="display: inline-block;">0082520 李大白</div>
            </div>
            <div class="oneLine">
              <div style="display: inline-block;">入帳帳號：</div>
              <div style="display: inline-block;">台灣銀行 (004 ) 1234567890123456</div>
            </div>
            <div>
              <div style="display: inline-block;">部門：</div>
              <div style="display: inline-block;">財務系統部</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row selectSearchBlock">
        <div class="col-md-2 col-xs-12" style="padding:0;font-size: 17px;color: #8b8484;font-weight: 500;">
          選擇薪資單期間
        </div>
        <div class="col-md-8 col-xs-12" style="padding:0;">
          <div class="col-md-4 col-xs-3" style="padding: 0px 2px;">
            <select class="form-control" style="text-align-last: center;padding:0">
              <option>2019年</option>
            </select>
          </div>
          <div class="col-md-4 col-xs-3" style="padding: 0px 2px;">
            <select class="form-control" style="text-align-last: center;padding:0">
              <option>10月</option>
            </select>
          </div>
          <div class="col-md-4 col-xs-6" style="padding: 0px 2px;">
            <select class="form-control" style="text-align-last: center;padding:0">
              <option>本期(第二期)</option>
            </select>
          </div>
        </div>
        <div class="col-md-2 col-xs-12 btnSelectSearch">
          <button class="btn btn-info" style="padding: 5px 20px;">確定</button>
        </div>
      </div>
      <div class="salaryInfoBlock" style="margin: 0;display: flex;flex-flow: column;">
        <div class="iconBlock">
          <button style="background:0;border:0">
            <img src="/assets/jbIcon/icon-email.png" width="25px" height="23px" />
          </button>
          <button style="background:0;border:0">
            <img src="/assets/jbIcon/icon-down.png" width="25px" height="23px" />
          </button>
          <button style="background:0;border:0">
            <img src="/assets/jbIcon/icon-print.png" width="25px" height="23px" />
          </button>
        </div>
        <div class="salaryDetailBlock">
          <div class="oneLine" style="text-align: center;font-size: 22px;">
            薪資單
          </div>
          <div>
            <div class="oneLine">
              區間：2019/10/01-2019/10/31
            </div>
            <div class="oneLine">
              轉帳日期：2019/11/05
            </div>
          </div>
          <div class="row" style="margin:0">
            <div class="col-md-4 col-xs-12">
              <div style="border-bottom: 1px solid #028fcf;">
                <div style="font-size: 20px;background-color: #a9e2fb;padding:5px 20px;text-align: center;
                    margin: 20px;">
                  實發薪資
                </div>
              </div>
              <div style="padding:5px 20px">
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    應稅薪資
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    23,100
                  </div>
                </div>
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    應發薪資
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    24,519
                  </div>
                </div>
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    實發薪資
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    <span style="color: #14b2f6;">24,519</span>
                  </div>
                </div>
              </div>
              <div>

              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div style="border-bottom: 1px solid #028fcf;">
                <div style="font-size: 20px;background-color: #e7f8ff;padding:5px 20px;text-align: center;
                    margin: 20px;">
                  本月所得
                </div>
              </div>
              <div style="padding:5px 20px;padding-bottom:20px;border-bottom: 1px solid #028fcf;">
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    本俸
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    23,100
                  </div>
                </div>
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    職務加給
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    1000
                  </div>
                </div>
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    夜點費
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    1000
                  </div>
                </div>
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    全勤獎金
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    0
                  </div>
                </div>
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    免稅加班
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    382
                  </div>
                </div>
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    應稅加班
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    0
                  </div>
                </div>
              </div>
              <div style="padding:5px 20px;">
                <div class="row" style="padding: 5px;margin: 0;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    小計(B)
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    25,485元
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div style="border-bottom: 1px solid #028fcf;">
                <div style="font-size: 20px;background-color: #e7f8ff;padding:5px 20px;text-align: center;
                    margin: 20px;">
                  本月扣款
                </div>
              </div>
              <div style="padding:5px 20px;padding-bottom:20px;border-bottom: 1px solid #028fcf;">
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    勞保費
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    508
                  </div>
                </div>
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    健保費
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    325
                  </div>
                </div>
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    福利金
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    133
                  </div>
                </div>
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    事假
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    0
                  </div>
                </div>
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    病假
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    0
                  </div>
                </div>
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    伙食費
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    0
                  </div>
                </div>
              </div>
              <div style="padding:5px 20px;">
                <div class="row" style="padding: 5px;margin: 0;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    小計(C)
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    966元
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin:0">
            <div class="col-md-4 col-xs-12">
              <div style="border-bottom: 1px solid #028fcf;">
                <div style="font-size: 20px;background-color: #e7f8ff;padding:5px 20px;text-align: center;
                    margin: 20px;">
                  勞退新制
                </div>
              </div>
              <div style="padding:5px 20px">
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    公司提撥
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    1,386
                  </div>
                </div>
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    勞工自提
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    0
                  </div>
                </div>
              </div>
              <div>

              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div style="border-bottom: 1px solid #028fcf;">
                <div style="font-size: 20px;background-color: #e7f8ff;padding:5px 20px;text-align: center;
                    margin: 20px;">
                  本月加班
                </div>
              </div>
              <div style="padding:5px 20px">
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    平日加班費
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    4.00小時
                  </div>
                </div>
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    休假日加班費
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    0小時
                  </div>
                </div>
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    休息日加班費
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    0小時
                  </div>
                </div>
              </div>
              <div>

              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div style="border-bottom: 1px solid #028fcf;">
                <div style="font-size: 20px;background-color: #e7f8ff;padding:5px 20px;text-align: center;
                    margin: 20px;">
                  本月出勤
                </div>
              </div>
              <div style="padding:5px 20px">
                <div class="row" style="padding: 5px;margin: 0;border-bottom: 1px solid #c7c7c7;text-align: center;">
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    調休
                  </div>
                  <div class="col-md-6 col-xs-6" style="padding:0">
                    2.5小時
                  </div>
                </div>
              </div>
              <div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal salaryDialog" id="FirstStPwDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" style="text-align: center;">
            <ng-container i18n>初次登入</ng-container>
            <br />
            <ng-container i18n>請設定薪資密碼</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="firstPwFromGroup" (ngSubmit)="submit()">
            <div>
              <span class="iptTitleBlock">
                <ng-container i18n>輸入工號</ng-container>
              </span>
            </div>
            <div class="iptBlock">
              <input class="form-control" type="text" formControlName="empID" autocomplete="off" />
            </div>
            <div>
              <span class="iptTitleBlock">
                <ng-container i18n>輸入薪資密碼</ng-container>
              </span>
            </div>
            <div class="iptBlock">
              <input class="form-control" type="text" formControlName="password" autocomplete="off" />
            </div>
            <div>
              <span class="iptTitleBlock">
                <ng-container i18n>確認薪資密碼</ng-container>
              </span>
            </div>
            <div class="iptBlock">
              <input class="form-control" type="text" formControlName="checkPassword" autocomplete="off" />
            </div>
            <!-- {{firstPwFromGroup.status}} -->
            <div style="text-align: center;margin: 10px 0px;">
              <button type="submit" class="btn btn-primary">設定密碼</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="FirstStPwSussesDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center" style="padding: 10px;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
          <h4 class="modal-title" style="text-align: center">
            <ng-container i18n>完成密碼設定</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <div style="text-align: center;margin-bottom: 10px">
            <img src="./assets/images-template/icon-success.png" />
          </div>
          <div style="text-align: center">
            <ng-container i18n>請登入看薪資</ng-container>!
          </div>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <ng-container i18n>確定</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal salaryDialog" id="LoginDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" style="text-align: center;">
            <ng-container i18n>輸入定薪資密碼</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="firstPwFromGroup" (ngSubmit)="submit()">
            <div>
              <span class="iptTitleBlock">
                <ng-container i18n>輸入工號</ng-container>
              </span>
            </div>
            <div class="iptBlock">
              <input class="form-control" type="text" formControlName="empID" autocomplete="off" />
            </div>
            <div>
              <span class="iptTitleBlock">
                <ng-container i18n>輸入身分證字號</ng-container>
              </span>
            </div>
            <div class="iptBlock">
              <input class="form-control" type="text" formControlName="password" autocomplete="off" />
            </div>
            <div>
              <span class="iptTitleBlock">
                <ng-container i18n>輸入薪資密碼</ng-container>
              </span>
            </div>
            <div class="iptBlock">
              <input class="form-control" type="text" formControlName="checkPassword" autocomplete="off" />
            </div>
            <!-- {{firstPwFromGroup.status}} -->
            <div style="text-align: center;margin: 10px 0px;
            margin-bottom: 0px;">
              <button type="submit" class="btn btn-primary" style="
              margin-bottom: 10px;">登入看薪資</button>
              <div style="text-align: right;">
                <a style="cursor: pointer;">重設密碼</a>
                <a style="cursor: pointer;">
                  <img src="./assets/images-template/icon-question.png" />
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>