<div *ngIf="showAttendArray.length==0">
  <ng-container i18n>無班表時間</ng-container>
</div>
<div *ngFor="let showAttend of showAttendArray" class="row dayRoteClass">
  <div class="col-md-3 col-xs-12" style="margin-bottom: 5px;">
    <!-- <div style="color: #028fcf;font-weight: bold;
    margin-bottom: 5px;">{{showAttend.AttendDate}}</div> -->
    <div class="LeftBlock">
      <div style="display: inline-block;margin-right: 5px;">
        {{showAttend.RoteNameC}} </div>
      <div style="display: inline-block;">
        /
        {{showAttend.OnTime}}</div>
      <div *ngIf="showAttend.OnTime_calCrossDay" style="display: inline-block;
      height: 20px;
      font-size: 13px;
      width: 40px;
      text-align: center;
      color: #fff;
      background-color: #408cb6;
      border: 1px solid;
      border-radius: 15px;">+1日</div>- {{showAttend.OffTime}}
      <div *ngIf="showAttend.OffTime_calCrossDay" style="display: inline-block;
            height: 20px;
            font-size: 13px;
            width: 40px;
            text-align: center;
            color: #fff;
            background-color: #408cb6;
            border: 1px solid;
            border-radius: 15px;">+1<ng-container i18n>日</ng-container>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-xs-12 row P_grayLine">
    <div class="col-md-5 col-xs-12">
      <div class="graytitle">
        <ng-container i18n>休息時間</ng-container>
      </div>
      <div *ngFor="let rest of showAttend.RoteRest;let i = index " style="display: inline-block">
        <span>
          {{rest.TimeB}} - {{rest.TimeE}}
        </span>
        <span *ngIf="i != (showAttend.RoteRest.length-1)">、</span>
      </div>
    </div>
    <div class="col-md-3 col-xs-6">
      <div class="graytitle">
        <ng-container i18n>工時</ng-container>
      </div>
      <div>
        {{showAttend.uiWorkTime.Hour}}
        <ng-container i18n> 時 </ng-container>
        {{showAttend.uiWorkTime.Min}}
        <ng-container i18n> 分 </ng-container>
      </div>
    </div>
    <!-- <div class="col-md-4 col-xs-6">
      <div class="graytitle">
        <ng-container i18n>彈性</ng-container>
      </div>
      <div>
        <ng-container i18n>前</ng-container>
        {{showAttend.FlexibleMinuteForward}}
        <ng-container i18n>分/後</ng-container>
        {{showAttend.FlexibleMinuteBehind}}
        <ng-container i18n>分</ng-container>
      </div>
    </div> -->
  </div>
</div>