<div class="a-block">
  <div class="a-block-body  a-block-container">
    <div style="margin-bottom: 10px">
      <div style="width: 300px;
      display: inline-block;
      margin-right:10px">
        <select *ngIf="loading" class="form-control" [(ngModel)]="chooseFormCode" (change)="changeChooseFormCode()">
          <option value="">
            <ng-container i18n>全部</ng-container>
          </option>
          <option *ngFor="let GetFormInfo of GetFormInfos" [ngValue]="GetFormInfo.FormCode">
            <ng-container i18n>{{GetFormInfo.FormName}}</ng-container>
          </option>
        </select>
        <img *ngIf="!loading"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </div>

    <table class="table table-bordered table-striped table-hover table-content-center table-style01">
      <thead>
        <tr>
          <th style="width: 10%">
            <ng-container i18n>名稱</ng-container>
          </th>
          <th style="background-image: unset;cursor: unset;width: 20%">
            <ng-container i18n>代碼</ng-container>
          </th>
          <th style="width: 20%">
            <ng-container i18n>狀態</ng-container>
          </th>
          <th style="width: 10%">
            <ng-container i18n>登入者</ng-container>
          </th>
          <th style="width: 10%">
            <ng-container i18n>登入時間</ng-container>
          </th>
          <th style="width: 20%">
            <ng-container i18n>備註</ng-container>
          </th>
          <th style="width: 10%">
            <ng-container i18n>功能</ng-container>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let oneGetFormMail of GetFormMailDataArray">
          <td style="width: 10%">
            {{oneGetFormMail.FormName}}
          </td>
          <td style="width: 20%">
            {{oneGetFormMail.Code}}
          </td>
          <td style="width: 20%">
            {{oneGetFormMail.Name}}
          </td>
          <td style="width: 10%">
            {{oneGetFormMail.KeyMan}}
          </td>
          <td style="width: 10%">
            {{oneGetFormMail.KeyDate}}
          </td>
          <td style="width: 20%">
            {{oneGetFormMail.Note}}
          </td>
          <td style="width: 10%">
            <a style="cursor: pointer;padding-right: 5px" (click)="bt_editEmail(oneGetFormMail)">
              <ng-container i18n>編輯</ng-container>
            </a>
            <!-- <a style="cursor: pointer" (click)="bt_delEmail(oneGetFormMail)">刪除</a> -->
          </td>
      </tbody>
    </table>
  </div>
</div>




<div class="modal" id="delEmail_checksenddialog" tabindex="-1" role="dialog">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" style="text-align: center">
            <ng-container i18n>確認刪除?</ng-container>
          </h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <ng-container i18n>刪除</ng-container>
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>取消</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog確認刪除 -->
<div class="modal" id="editEmailDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <table class="table table-bordered table-striped table-hover table-content-center table-style01">
              <thead>
                <tr>
                  <th style="width: 10%">
                    <ng-container i18n>名稱</ng-container>
                  </th>
                  <th style="background-image: unset;cursor: unset;width: 20%">
                    <ng-container i18n>代碼</ng-container>
                  </th>
                  <th style="width: 20%">
                    <ng-container i18n>狀態</ng-container>
                  </th>
                  <th style="width: 20%">
                    <ng-container i18n>登入者</ng-container>
                  </th>
                  <th style="width: 20%">
                    <ng-container i18n>登入時間</ng-container>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="width: 10%">
                    {{editFormMailData.FormName}}
                  </td>
                  <td style="width: 20%">
                    {{editFormMailData.Code}}
                  </td>
                  <td style="width: 20%">
                    {{editFormMailData.Name}}
                  </td>
                  <td style="width: 20%">
                    {{editFormMailData.KeyMan}}
                  </td>
                  <td style="width: 20%">
                    {{editFormMailData.KeyDate}}
                  </td>
              </tbody>
            </table>
          </div>
          <div style="margin: 15px 0px">
            <div style="text-align: center">
              <ng-container i18n>主旨</ng-container>
            </div>
            <input class="form-control" type="text" [(ngModel)]="editFormMailData.Subject" />
          </div>
          <div style="margin: 15px 0px">
            <div style="text-align: center">
              <ng-container i18n>內文</ng-container>
            </div>
            <quill-editor [(ngModel)]="editFormMailData.Body" [modules]="config" [style]="{height: '350px'}"
              placeholder=''></quill-editor>
          </div>

          <div style="margin: 15px 0px">
            <div style="text-align: center">
              <ng-container i18n>備註</ng-container>
            </div>
            <input class="form-control" type="text" [(ngModel)]="editFormMailData.Note" />
          </div>
          <div style="text-align: center;margin: 15px 0px">
            <button (click)="bt_SaveFormMail(editFormMailData)" style="margin-right: 15px">
              <ng-container i18n>儲存</ng-container>
            </button>
            <button data-dismiss="modal">
              <ng-container i18n>取消</ng-container>
            </button>
          </div>
          <div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>
                    <ng-container i18n>代碼</ng-container>
                  </th>
                  <th>
                    <ng-container i18n>名稱</ng-container>
                  </th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let oneFormColumn of showFormColumns">
                  <ng-container *ngIf="oneFormColumn.FormCode == chooseFormCode">
                    <td>{{oneFormColumn.Code}}</td>
                    <td>{{oneFormColumn.Name}}</td>
                  </ng-container>
                  <ng-container *ngIf="chooseFormCode =='' ">
                    <td>{{oneFormColumn.Code}}</td>
                    <td>{{oneFormColumn.Name}}</td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog編輯信件內容-->