<div class="a-block">
  <div class="a-block-body  a-block-container">
    <h3>
      <ng-container i18n>補卡單明細</ng-container>
    </h3>
    <div class="row" style="border-bottom: 1px dashed #dcdcdc;padding: 0;margin: 0;padding-top: 20px;">
      <div class="col-md-6 col-xs-12" style="margin-bottom: 10px;padding-top: 2px">
        <label class="col-md-4 col-xs-12 control-label P_left">
          <ng-container i18n>表單編號</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <div class="row ">
            <div>
              <span style="color: #028fcf">
                <!-- 20180000000201104 -->
                {{getForgetDataTitle.showProcessFlowID}}
              </span>
              <a style="cursor: pointer;">
                <span *ngIf="getForgetDataTitle.Take && getShowTakeDetail" data-toggle="modal"
                  data-target="#Cancelformdialog">
                  (<ng-container i18n>抽單</ng-container>)
                </span>
              </a>
              <a style="cursor: pointer;" data-toggle="modal" (click)="checkTransSignForm(getForgetDataTitle)">
                <span *ngIf="getForgetDataTitle.TransSign && getShowTransSignDetail">
                  (<ng-container i18n>轉呈</ng-container>)
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6  col-xs-12" style="margin-bottom: 10px;">
        <div class="col-md-3 col-xs-12 P_state" style="padding-top:2px ">
          <label class="control-label">
            <ng-container i18n>表單狀態</ng-container>
          </label>
        </div>
        <div *ngIf="getForgetDataTitle.ManageEmpName && getForgetDataTitle.State =='1'"
          class="col-md-9 col-xs-12 P_leftZero" style="padding-right: 0px">
          <div class="tag_blue" style="margin-right: 5px">
            <label>
              <ng-container i18n>呈核中</ng-container>
            </label>
          </div>
          {{getForgetDataTitle.ManageEmpName}}
          <ng-container i18n> 審核中 </ng-container>
        </div>
        <div *ngIf="getForgetDataTitle.State == '3'" class="col-md-9 col-xs-12 P_leftZero " style="padding-right: 0px">
          <div>
            <label class="tag_skyblue" style="margin-right: 5px">
              <ng-container i18n>已核准</ng-container>
            </label>
            <span *ngIf="showAprovedName">{{showAprovedName}}
              <ng-container i18n> 核單</ng-container>
            </span>
          </div>
        </div>
        <div *ngIf="getForgetDataTitle.State == '2'" class="col-md-9 col-xs-12 P_leftZero " style="padding-right: 0px">
          <div class="tag_red">
            <label style="color: #d0021b">
              <ng-container i18n>重擬</ng-container>
            </label>
          </div>
        </div>
        <div *ngIf="getForgetDataTitle.State == '7'" class="col-md-9 col-xs-12 P_leftZero " style="padding-right: 0px">
          <div class="tag_gray">
            <label style="color: #9b9b9b">
              <ng-container i18n>已抽單</ng-container>
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- form-group end -->
    <div class="row" style="border-bottom: 1px dashed #dcdcdc;padding: 0;margin: 0;padding-top: 20px;">
      <div class="col-md-6  col-xs-12" style="margin-bottom: 10px">
        <label class="col-md-4 col-xs-12 control-label P_left">
          <ng-container i18n>員工</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <div class="row ">
            <div>
              <span>{{getForgetDataTitle.EmpCode}}
                {{getForgetDataTitle.EmpNameC}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6  col-xs-12" style="margin-bottom: 10px;">
        <div class="col-md-3  col-xs-12 P_left" style="padding: 0px">
          <label class="control-label ">
            <ng-container i18n>異常狀態</ng-container>
          </label>
        </div>
        <div *ngIf="getForgetDataTitle" class="col-md-7  col-xs-12 P_leftZero" style="padding-right: 0px">
          <div *ngIf="getForgetDataTitle.isLateMins" class="tag_red" style="margin: 0px">
            <ng-container i18n>遲到</ng-container>
          </div>
          <div *ngIf="getForgetDataTitle.isEarlyMins" class="tag_red" style="margin: 0px">
            <ng-container i18n>早退</ng-container>
          </div>
          <div *ngIf="getForgetDataTitle.isForgetCard" class="tag_red" style="margin: 0px">
            <ng-container i18n>未刷卡</ng-container>
          </div>
          <div *ngIf="getForgetDataTitle.isNormal" class="tag_blue" style="margin: 0px">
            <ng-container i18n>正常</ng-container>
          </div>
          <div *ngIf="getForgetDataTitle.isOffAfterMins" class="tag_red" style="margin: 0px">
            <ng-container i18n>晚退</ng-container>
          </div>
          <div *ngIf="getForgetDataTitle.isOnBeforeMins" class="tag_red" style="margin: 0px">
            <ng-container i18n>早到</ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- form-group end -->
    <div class="row" style="border-bottom: 1px dashed #dcdcdc;padding: 0;margin: 0;padding-top: 20px;">
      <div class="col-md-6  col-xs-12" style="margin-bottom: 10px">
        <label class="col-md-4 control-label" style="padding-left: 0px;text-align: right">
          <ng-container i18n>工作日</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <div class="row ">
            <div>
              <span>
                <!-- 2018/10/30 -->
                {{GetCardFlowAppsByProcessFlowIDData.Date}}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6  col-xs-12" style="margin-bottom: 10px;">
        <div class="col-md-3  col-xs-12 P_left" style="padding: 0px">
          <label class="control-label">
            <ng-container i18n>班型</ng-container>
          </label>
        </div>
        <div class="col-md-7  col-xs-12 P_leftZero" style="padding-right: 0px">
          <span>
            <!-- 0830_A -->
            {{getForgetDataTitle.RoteNameC}}
          </span>
        </div>
      </div>
    </div>
    <!-- form-group end -->
    <div class="row" style="border-bottom: 1px dashed #dcdcdc;padding: 0;margin: 0;    padding-top: 20px;">
      <div class="col-md-6  col-xs-12" style="margin-bottom: 10px">
        <label class="col-md-4 control-label" style="padding-left: 0px;text-align: right">
          <ng-container i18n>應到勤時間</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <div class="row ">
            <div>
              <span>
                <!-- 0800 -->
                {{RoteDateB}} {{RoteTimeB}}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6  col-xs-12" style="margin-bottom: 10px;">
        <div class="col-md-3  col-xs-12 P_left" style="padding: 0px">
          <label class="control-label">
            <ng-container i18n>應離勤時間</ng-container>
          </label>
        </div>
        <div class="col-md-7  col-xs-12 P_leftZero" style="padding-right: 0px">
          <span>
            <!-- 1700 -->
            {{RoteDateE}} {{RoteTimeE}}
          </span>
          <div *ngIf="getForgetDataTitle.ActualRote_calCrossDay" style="display: inline-block;
          height: 20px;
          font-size: 13px;
          width: 40px;
          text-align: center;
          color: #fff;
          background-color: #408cb6;
          border: 1px solid;
          border-radius: 15px;
          margin: 0px 10px;">+1<ng-container i18n>日</ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- form-group end -->
    <div class="row" style="border-bottom: 1px dashed #dcdcdc;padding: 0;margin: 0;    padding-top: 20px;">
      <div class="col-md-6  col-xs-12" style="margin-bottom: 10px" [style.color]="color_CardOnTime()">
        <label class="col-md-4 control-label" style="padding-left: 0px;text-align: right">
          <ng-container i18n>原始到勤時間</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <div class="row ">
            <div>
              <span>
                <!-- 0800 -->
                {{CardDateB}} {{CardTimeB}}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6  col-xs-12" style="margin-bottom: 10px;" [style.color]="color_CardOffTime()">
        <div class="col-md-3  col-xs-12 P_left" style="padding: 0px">
          <label class="control-label ">
            <ng-container i18n>原始離勤時間</ng-container>
          </label>
        </div>
        <div class="col-md-7  col-xs-12 P_leftZero" style="padding-right: 0px">
          <span>
            <!-- 1700 -->
            {{CardDateE}} {{CardTimeE}}
          </span>
          <div *ngIf="getForgetDataTitle.AttendCard_calCrossDay" style="display: inline-block;
              height: 20px;
              font-size: 13px;
              width: 40px;
              text-align: center;
              color: #fff;
              background-color: #408cb6;
              border: 1px solid;
              border-radius: 15px;
              margin: 0px 10px;">+1<ng-container i18n>日</ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- form-group end -->
    <div class="row" style="border-bottom: 1px dashed #dcdcdc;padding: 0;margin: 0;    padding-top: 20px;">
      <div class="col-md-6  col-xs-12" style="margin-bottom: 10px" [style.color]="color_ActualOnTime()">
        <label class="col-md-4 control-label" style="padding-left: 0px;text-align: right">
          <ng-container i18n>補到勤時間</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <div class="row ">
            <div>
              <span>
                <!-- 0800 -->
                {{GetCardFlowAppsByProcessFlowIDData.DateB}}
                {{GetCardFlowAppsByProcessFlowIDData.TimeB}}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6  col-xs-12" style="margin-bottom: 10px;" [style.color]="color_ActualOffTime()">
        <div class="col-md-3  col-xs-12 P_left" style="padding: 0px">
          <label class="control-label ">
            <ng-container i18n>補離勤時間</ng-container>
          </label>
        </div>
        <div class="col-md-7  col-xs-12 P_leftZero" style="padding-right: 0px">
          <span>
            <!-- 1700 -->
            {{GetCardFlowAppsByProcessFlowIDData.DateE}}
            {{GetCardFlowAppsByProcessFlowIDData.TimeE}}
          </span>
          <div *ngIf="getForgetDataTitle.WriteRote_calCrossDay" style="display: inline-block;
                height: 20px;
                font-size: 13px;
                width: 40px;
                text-align: center;
                color: #fff;
                background-color: #408cb6;
                border: 1px solid;
                border-radius: 15px;
                margin: 0px 10px;">+1<ng-container i18n>日</ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- form-group end -->
    <div class="row" style="border-bottom: 1px dashed #dcdcdc;padding: 0;margin: 0;    padding-top: 20px;">
      <div class="col-md-6  col-xs-12" style="margin-bottom: 10px">
        <label class="col-md-4 control-label" style="padding-left: 0px;text-align: right">
          <ng-container i18n>異常原因</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <div class="row ">
            <div>
              <span>
                {{GetCardFlowAppsByProcessFlowIDData.CauseName1}}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6  col-xs-12" style="margin-bottom: 10px;">
        <div class="col-md-3  col-xs-12 P_left" style="padding: 0px">
          <label class="control-label ">
            <ng-container i18n>填寫人</ng-container>
          </label>
        </div>
        <div class="col-md-7  col-xs-12 P_leftZero" style="padding-right: 0px">
          <span>
            {{getForgetDataTitle.WriteEmpCode}}
            {{getForgetDataTitle.WriteEmpNameC}}
          </span>
        </div>
      </div>
    </div>
    <!-- form-group end -->
    <!-- form-group end -->
    <div class="row" style="border-bottom: 1px dashed #dcdcdc;padding: 0;margin: 0;padding-top: 20px;">
      <div class="col-md-12  col-xs-12 row" style="margin:0px;margin-bottom: 10px">
        <label class="col-md-2 control-label" style="padding-left: 0px;text-align: right">
          <ng-container i18n>上傳附件</ng-container>
        </label>
        <div class="col-md-8 col-xs-12">
          <div class="row ">
            <ng-container *ngIf="GetCardFlowAppsByProcessFlowIDData.UploadFile">
              <div class="col-md-12 col-xs-12" style="padding: 0px;word-break: break-all;"
                *ngFor="let upload of GetCardFlowAppsByProcessFlowIDData.UploadFile">
                <img src="./assets/images-template/attach@2x.png" height='16px' width="12px"
                  style="margin-right: 5px" />
                <a (click)="base64(upload)" style="cursor:pointer">{{upload.UploadName}}</a>
              </div>
              <span *ngIf="GetCardFlowAppsByProcessFlowIDData.UploadFile.length ==0">
                <ng-container i18n>無</ng-container>
              </span>
            </ng-container>

          </div>

        </div>
      </div>
    </div>
    <!-- form-group end -->
    <div class="row" style="border-bottom: 1px dashed #dcdcdc;margin: 0;padding:20px 0px;">
      <div class="col-md-12 col-xs-12">
        <label class="col-md-2 control-label" style="padding-left: 0px;
          padding-right: 20px;text-align: right">
          <ng-container i18n>補充說明</ng-container>
        </label>
        <div class="col-md-8 col-xs-12" style="padding: 0px 0px;">
          <span>
            {{GetCardFlowAppsByProcessFlowIDData.Note}}
          </span>
        </div>
      </div>
    </div>
    <!-- form-group end -->
    <div style="padding-top: 20px">
      <app-from-sign [getProcessFlowID]="getForgetDataTitle.ProcessFlowID"></app-from-sign>
      <!--歷程主管意見-->
    </div>
    <div style="text-align:center">
      <button class="btn btn-primary btnFeatures" data-toggle="modal" (click)="show_signRecord()">
        <ng-container i18n>簽核流程紀錄</ng-container>
      </button>
      <button class="btn btn-default btnFeatures" (click)="previouspage()">
        <ng-container i18n>回上一頁</ng-container>
      </button>
    </div>

  </div>
</div>
<div class="modal" id="Cancelformdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="mySmallModalLabel" style="text-align: center">
            <ng-container i18n>確認抽單?</ng-container>
          </h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
            (click)="Cancelform_Click()">
            <ng-container i18n>送出</ng-container>
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>取消</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog確認抽單送出 -->
<div class="modal" id="signRecord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="mySmallModalLabel">
            <ng-container i18n>簽核流程紀錄</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <app-from-sign-table *ngIf="signRecordDialog" [getProcessFlowID]="getForgetDataTitle.ProcessFlowID">
          </app-from-sign-table>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>關閉</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog簽核流程紀錄-->
<div class="modal" id="TransSignformdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-md vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="mySmallModalLabel" style="text-align: center">
            <ng-container i18n>確認轉呈?</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <div>
            <p>
              <ng-container i18n>簽核人員</ng-container>
            </p>
            <app-select-signer (selectBaseChange)="chooseBase($event)" [sysEmp$]="onChangeReviewMan$">
            </app-select-signer>
          </div>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
            (click)="TransSignform_Click()">
            <ng-container i18n>送出</ng-container>
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>取消</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog轉呈確認送出 -->
<div class="modal" id="TransSignformSussesdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <!-- <span aria-hidden="true">×</span> -->
          </button>
          <h4 class="modal-title" style="text-align: center">
            <ng-container i18n>轉呈完成</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <div style="text-align: center;margin-bottom: 10px">
            <img src="./assets/images-template/icon-success.png" />
          </div>
          <div style="text-align: center">
            <ng-container i18n>已成功轉呈</ng-container>
          </div>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <ng-container i18n>確定</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog轉呈送出成功 -->