<div id="goPageChange"></div>
<section class="a-block stateblock">
  <div class="a-block-body  a-block-container">
    <ol id="navs" class="steps-indicator row">
      <li id="li1" class="col-sm-3 active">
        <ng-container i18n>選擇請求區間日期</ng-container>
      </li>
      <li id="li2" class="col-sm-3">
        <ng-container i18n>輸入請求班型</ng-container>
      </li>
      <li id="li3" class="col-sm-3">
        <ng-container i18n>確認請求明細</ng-container>
      </li>
      <li id="li4" class="col-sm-3">
        <ng-container i18n>送出申請單</ng-container>
      </li>
    </ol>
  </div>
  <!-- a-block-body End -->
</section>

<div class="a-block" [hidden]="writeState==2 || writeState==3">
  <div class="a-block-body  a-block-container">
    <div [hidden]="!showBlockIsAssistant" class="form-group first-form-group" style="border: 1px solid #979797;">
      <div class="row" style="margin:0px;    padding: 20px 0px 20px 0px;">
        <div class="col-md-2 col-xs-12 P_AssistantTitle">
          <h3 style="margin:0px">
            <ng-container i18n>選擇申請角色</ng-container>
          </h3>
        </div>
        <div class="col-md-8 col-xs-12 P_radio">
          <div style="display: inline-block;margin-right:15px " *ngFor="let oneRadio of radiogroup">
            <input type="radio" name="chooseRadio" [(ngModel)]="chooseRadio" [value]="oneRadio.id">{{oneRadio.name}}
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="chooseRadio == 1" class="form-group first-form-group">
      <div [hidden]="writeState==2 || writeState==3">
        <div class="form-group first-form-group">
          <div class="row" style="margin:0px">
            <div class="col-md-2 col-xs-12 P_title">
              <label class=" control-label">
                <ng-container i18n>員工</ng-container>
              </label>
            </div>
            <div class="col-md-10  col-xs-12 row" style="padding:0px;margin: 0px">
              {{My_SearchMan.EmpCode}} {{My_SearchMan.EmpName}}
            </div>
          </div>
        </div>
        <div class="form-group first-form-group">
          <div class="row" style="margin:0px">
            <div class="col-md-6 col-xs-12" style="margin: 0px ; padding: 0px">
              <div class="col-md-4 col-xs-12 P_title" style="margin-top: 8px;">
                <label class=" control-label">
                  <span class="form-must-fill">*</span>
                  <ng-container i18n>起始日期</ng-container>
                </label>
              </div>
              <div class="col-md-6 col-xs-10" style="padding:0px">
                <input [matDatepicker]="StartDatePicker" id="My_StartDate" [(ngModel)]="dateB" type="text"
                  class="form-control" style="background-color: #ffffff;margin-top: 4px" placeholder="年/月/日"
                  (blur)="SerchStartDateChange_My()" (dateChange)="SerchStartDateChange_My()" />
                <div *ngIf="My_errorStartDateState.state" style="color: #e60012">{{My_errorStartDateState.errorString}}
                </div>

                <mat-datepicker #StartDatePicker touchUi [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
              </div>
              <div class="col-md-2 col-xs-2" style="padding:0px">
                <input (click)="StartDatePicker.open()" data-modal="true" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                            cursor: pointer;
                            color: transparent;
                            border: 1px solid transparent;
                            width: 50px;
                            height: 40px;
                            ">
              </div>
            </div>
            <div class="col-md-6 col-xs-12" style="margin: 0px ; padding: 0px">
              <div class="col-md-4 col-xs-12 P_title" style="margin-top: 8px;">
                <label class=" control-label">
                  <span class="form-must-fill">*</span>
                  <ng-container i18n>結束日期</ng-container>
                </label>
              </div>
              <div class="col-md-6  col-xs-10" style="padding:0px">
                <input [matDatepicker]="EndDatePicker" id="My_EndDate" [(ngModel)]="dateE" type="text"
                  class="form-control" style="background-color: #ffffff;margin-top: 4px" placeholder="年/月/日"
                  (blur)="blurEndDate_My()" (dateChange)="blurEndDate_My()" />
                <mat-datepicker #EndDatePicker touchUi [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                <div *ngIf="My_errorEndtDateState.state" style="color: #e60012">{{My_errorEndtDateState.errorString}}
                </div>
              </div>
              <div class="col-md-2  col-xs-2" style="padding:0px">
                <input (click)="EndDatePicker.open()" data-modal="true" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                              cursor: pointer;
                              color: transparent;
                              border: 1px solid transparent;
                              width: 50px;
                              height: 40px;
                              ">
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin:0px">
          <div class="col-md-6 col-xs-12" style="margin: 0px ; padding: 0px">
            <div class="col-md-4 col-xs-12 " style="margin-top: 8px;">
            </div>
            <div class="col-md-6 col-xs-10" style="padding:0px">
              <button class="btn btn-primary" (click)="My_nextPageToWrite()">
                <ng-container i18n>下一步</ng-container>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div *ngIf="chooseRadio == 2" class="form-group first-form-group">
      <div *ngIf="showBlockIsAssistant" [hidden]="writeState==2 || writeState==3">
        <div>
          <div class="row" style="padding-bottom: 15px;margin:0px">
            <div class="col-md-6 col-xs-12" style="margin: 0px ; padding: 0px">
              <div class="col-md-4 col-xs-12 P_title" style="margin-top: 6px;">
                <label class=" control-label">
                  <span class="form-must-fill">*</span>
                  <ng-container i18n>員工</ng-container>
                </label>
              </div>
              <div class="col-md-3 col-xs-4" style="padding:0px">
                <input id="Assistant_ChooseEmpCode" type="text" class="form-control" placeholder="員工號"
                  [(ngModel)]="Assistant_SearchMan.EmpCode" maxlength="6" (blur)="chooseEmp()" />
                <div *ngIf="errorEmp.state" style="color: #e60012">{{errorEmp.errorString}}</div>
              </div>
              <div class="col-md-1 col-xs-2" style="padding:0px;
                    padding-left: 5px;">
                <button data-toggle="modal" data-target="#chooseEmpdialog"
                  style="cursor: pointer;border: 0;background: 0">
                  <img src="./assets/images-template/icon-person.png" style="cursor: pointer;padding-top: 5px" />
                </button>
              </div>
              <div class="col-md-4 col-xs-6" style="margin-top: 6px;">
                <span>{{Assistant_SearchMan.EmpName}}</span>
              </div>
            </div>
            <div class="col-md-6 col-xs-12" style="margin: 0px ; padding: 0px">
              <div class="col-md-4 col-xs-3 P_title" style="margin-top: 6px;">
                <label class=" control-label">
                  <ng-container i18n>填寫人</ng-container>
                </label>
              </div>
              <div class="col-md-8  col-xs-9" style="padding:0px;margin-top: 6px;">
                {{WriteMan.EmpCode}}
                {{WriteMan.EmpName}}
              </div>
            </div>
          </div>
          <div class="form-group first-form-group">
            <div class="row" style="margin:0px">
              <div class="col-md-6 col-xs-12" style="margin: 0px ; padding: 0px">
                <div class="col-md-4 col-xs-12 P_title" style="margin-top: 8px;">
                  <label class=" control-label">
                    <span class="form-must-fill">*</span>
                    <ng-container i18n>起始日期</ng-container>
                  </label>
                </div>
                <div class="col-md-6 col-xs-10" style="padding:0px">
                  <input [matDatepicker]="A_StartDatePicker" id="Assistant_StartDate" [(ngModel)]="Assistant_DateB"
                    type="text" class="form-control" style="background-color: #ffffff;margin-top: 4px"
                    placeholder="年/月/日" (blur)="SerchStartDateChange__Assistant()"
                    (dateChange)="SerchStartDateChange__Assistant()" />
                  <div *ngIf="Assistant_errorStartDateState.state" style="color: #e60012">
                    {{Assistant_errorStartDateState.errorString}}</div>

                  <mat-datepicker #A_StartDatePicker touchUi [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                </div>
                <div class="col-md-2 col-xs-2" style="padding:0px">
                  <input (click)="A_StartDatePicker.open()" data-modal="true" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                                cursor: pointer;
                                color: transparent;
                                border: 1px solid transparent;
                                width: 50px;
                                height: 40px;
                                ">
                </div>
              </div>
              <div class="col-md-6 col-xs-12" style="margin: 0px ; padding: 0px">
                <div class="col-md-4 col-xs-12 P_title" style="margin-top: 8px;">
                  <label class=" control-label">
                    <span class="form-must-fill">*</span>
                    <ng-container i18n>結束日期</ng-container>
                  </label>
                </div>
                <div class="col-md-6  col-xs-10" style="padding:0px">
                  <input [matDatepicker]="A_EndDatePicker" id="Assistant_EndDate" [(ngModel)]="Assistant_DateE"
                    type="text" class="form-control" style="background-color: #ffffff;margin-top: 4px"
                    placeholder="年/月/日" (blur)="blurEndDate_Assistant()" (dateChange)="blurEndDate_Assistant()" />
                  <mat-datepicker #A_EndDatePicker touchUi [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                  <div *ngIf="Assistant_errorEndtDateState.state" style="color: #e60012">
                    {{Assistant_errorEndtDateState.errorString}}</div>
                </div>
                <div class="col-md-2  col-xs-2" style="padding:0px">
                  <input (click)="A_EndDatePicker.open()" data-modal="true" type="button" style="background: #fff url(./assets/images-template/icon-calendar.png) center center no-repeat;
                                  cursor: pointer;
                                  color: transparent;
                                  border: 1px solid transparent;
                                  width: 50px;
                                  height: 40px;
                                  ">
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin:0px">
            <div class="col-md-6 col-xs-12" style="margin: 0px ; padding: 0px">
              <div class="col-md-4 col-xs-12 " style="margin-top: 8px;">
              </div>
              <div class="col-md-6 col-xs-10" style="padding:0px">
                <button class="btn btn-primary" (click)="Assistant_nextPageToWrite()">
                  <ng-container i18n>下一步</ng-container>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div [hidden]="writeState==1 || writeState==3" class="a-block">
  <div class="a-block-body  a-block-container">
    <h3>
      <ng-container i18n>輸入請求班型</ng-container>
    </h3>
    <div class="form-group first-form-group" style="border-bottom: 1px dashed #dcdcdc;">
      <div class="row" style="padding-bottom: 15px;margin:0px">
        <div class="col-md-2 col-xs-12 P_title">
          <label class=" control-label">
            <ng-container i18n>員工</ng-container>
          </label>
        </div>
        <div class="col-md-10  col-xs-12 row" style="padding:0px;margin: 0px">
          {{SearchMan.EmpCode}} {{SearchMan.EmpName}}
        </div>
      </div>
    </div>
    <div style="border-bottom: 1px dashed #dcdcdc">
      <div class="row" *ngFor="let ch of changeClass"
        style="border:1px solid #028fcf;margin: 0px;margin-bottom:10px;padding: 15px 10px">

        <div class="col-md-2 col-xs-5 P_rtoc" style="color: #028fcf;
        padding-top: 5px;">{{ch.Date}}</div>
        <div class="col-md-3 col-xs-7" style="padding: 0;padding-top: 5px;">
          <span style="margin-right: 15px">
            <ng-container i18n>原始</ng-container>
          </span>
          <span class="RouteName" data-toggle="modal" (click)="bt_Show_DayRote(ch)">
            <!-- {{ch.OnTime}} -->
            <!-- {{ch.RoteCode}} -->
            {{ch.RoteNameC}}
          </span>
        </div>
        <div class="col-md-7 col-xs-12 row" style="padding: 0;margin: 0">
          <ngx-select [items]="ch.RoteSelectBox" allowClear="true" optionValueField="RoteCode"
            optionTextField="outPutSelectText" (selectionChanges)="onChangeChooseRote($event,ch)" placeholder="請選擇欲調班型"
            noResultsFound="此條件找不到班型" [disabled]="disableSelectBox(ch)"></ngx-select>
        </div>
      </div>
    </div>
    <div class="row" style="margin:0;margin-top: 5px;margin-bottom: 15px">
      <div class="col-md-2 col-xs-12"></div>
      <div class="col-md-10 col-xs-12 row" style="margin:0;padding:0">
        <div class="col-md-8 col-md-push-3  col-xs-12 " style="margin-bottom: 15px;">
          <button class="btn btn-primary" (click)="nextPageToSendDetail()">
            <ng-container i18n>下一步</ng-container>
          </button>
        </div>
        <div class="col-md-3 col-md-pull-8  col-xs-12 ">
          <button class="btn btn-default" (click)="prePage()">
            <ng-container i18n>返回重選</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div [hidden]="writeState==1 || writeState==2" class="a-block">
  <div class="a-block-body  a-block-container">
    <div style="margin-bottom: 20px">
      <h3 style="margin: 0px;">
        <ng-container i18n>請求調班</ng-container>-
        <ng-container i18n>確認明細</ng-container>
      </h3>
    </div>

    <div class="form-group first-form-group" style="border-bottom: 1px dashed #dcdcdc;">
      <div class="row" style="padding-bottom: 15px;margin:0px">
        <div class="col-md-2 col-xs-12 P_title">
          <label class=" control-label">
            <ng-container i18n>員工</ng-container>
          </label>
        </div>
        <div class="col-md-10  col-xs-12 row" style="padding:0px;margin: 0px">
          {{SearchMan.EmpCode}} {{SearchMan.EmpName}}
        </div>
      </div>
    </div>
    <div class="form-group first-form-group" style="border-bottom: 1px dashed #dcdcdc;">
      <div class="row" style="padding-bottom: 15px;margin:0px">
        <div class="col-md-2 col-xs-12 P_title">
          <label class=" control-label">
            <ng-container i18n>調班日</ng-container>
          </label>
        </div>
        <div class="col-md-10  col-xs-12 row" style="padding:0px;margin: 0px">
          <ng-container i18n>請求調班共</ng-container>
          <span style="color: #d0021b">{{showCheckDetailDateArray.length}}</span>
          <ng-container i18n>日</ng-container>
        </div>
      </div>
    </div>

    <div style="border-bottom: 1px dashed #dcdcdc;">
      <div *ngFor="let showCheckDetail of showCheckDetailDateArray" class="row"
        style="border:1px solid #028fcf;margin: 0px;margin-bottom:10px;padding: 15px 10px">
        <div class=" row" style="margin:0;padding: 0px">
          <div class="col-md-2 col-xs-12 P_ctol" style="color: #028fcf;">{{showCheckDetail.ShiftRoteDate}}</div>
          <div class="col-md-3 col-xs-12 P_Zero">
            <span style="margin-right: 15px">
              <ng-container i18n>原始</ng-container>
            </span>
            <span style="color: #d0021b;font-weight: 500;">
              <!-- {{showCheckDetail.OnTime1}} -->
              <!-- {{showCheckDetail.RoteCode1}} -->
              {{showCheckDetail.RoteName1}}
            </span>
          </div>
          <div class="col-md-7 col-xs-12">
            <span style="margin-right: 15px">
              <ng-container i18n>請求調成</ng-container>
            </span>
            <span style="color: #d0021b;font-weight: 500;">
              <!-- {{showCheckDetail.OnTime2}} -->
              <!-- {{showCheckDetail.RoteCode2}} -->
              {{showCheckDetail.RoteName2}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="border: 0px;padding: 0;padding: 20px 0px;margin: 0;border-bottom: 1px dashed #dcdcdc;">
      <label class="col-md-2 control-label P_title">
        <span class="form-must-fill">*</span>
        <ng-container i18n>調班事由</ng-container>
      </label>
      <div class="col-md-8 " style="padding: 0">
        <textarea id="cause" [(ngModel)]="NoteString" class="inputTextarea" style="overflow-y: auto"
          placeholder="請輸入調班事由"></textarea>
        <!-- <div *ngIf="errorCauseState.state" style="color: #e60012">{{errorCauseState.errorString}}</div> -->
      </div>
    </div>
    <div class="row" style="border: 0px;padding: 0;padding: 20px 0px;margin: 0;border-bottom: 1px dashed #dcdcdc;">
      <label class="col-md-2 control-label P_title">
        <span class="form-must-fill">*</span>
        <ng-container i18n>簽核人員</ng-container>
      </label>
      <div class="col-md-8 " style="padding: 0">
        <app-select-signer (selectBaseChange)="chooseBase($event)" [sysEmp$]="onChangeSingMan$"></app-select-signer>
      </div>
    </div>
    <div class="P_text">
      <input type="checkbox" [(ngModel)]="checkAgree">
      <span style="color:#23569d">
        <ng-container i18n>本人同意因業務需要或個人理由自願調換班別，並遵照勞基法例假日及休息日出勤規定，且連續出勤不逾六日，勾選同意並確認後，其效力等同書面同意。</ng-container>
      </span>
    </div>

    <div class="row" style="margin:0;margin-top: 5px;margin-bottom: 15px">
      <div class="col-md-2 col-xs-12"></div>
      <div class="col-md-10 col-xs-12 row" style="margin:0;padding:0">
        <div class="col-md-8 col-md-push-3  col-xs-12 " style="margin-bottom: 15px;">
          <button class="btn btn-primary" (click)="checkCanSendFlow()" [disabled]="disableSend()">
            <ng-container i18n>送出表單</ng-container>
          </button>
        </div>
        <div class="col-md-3 col-md-pull-8  col-xs-12 ">
          <button class="btn btn-default" (click)="prePage()">
            <ng-container i18n>上一步</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="checksenddialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="mySmallModalLabel" style="text-align: center">
            <ng-container i18n>確認送出?</ng-container>
          </h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" (click)="sendFlow()">
            <ng-container i18n>送出</ng-container>
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>取消</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog確認送出 -->
<div class="modal" id="sussesdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <!-- <span aria-hidden="true">×</span> -->
          </button>
          <h4 class="modal-title" style="text-align: center">
            <ng-container i18n>申請完成</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <div style="text-align: center;margin-bottom: 10px">
            <img src="./assets/images-template/icon-success.png" />
          </div>
          <div style="text-align: center">
            <ng-container i18n>表單送出完成</ng-container>!
          </div>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-primary" data-dismiss="modal" [routerLink]='["../home"]'>
            <ng-container i18n>確定</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog送出成功 -->


<div class="modal" id="chooseEmpdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <app-choosebase-ma (saveEmptoView)="onSaveEmptoView($event)" [IsTop]="true"></app-choosebase-ma>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>取消</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog選擇員工-->
<div class="modal" id="DayRote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="mySmallModalLabel">{{showSearchEmp.EmpCode}} 出勤班表</h4>
          </div> -->
        <div class="modal-body">
          <app-day-rote [GetAttendInfo$]="Ob_setGetAttendInfo$"></app-day-rote>
          <div style="text-align: center">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              <ng-container i18n>確定</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog班表期間-->