<div class="a-block">
  <div class="a-block-body  a-block-container">
    <h3>人力處提醒字維護</h3>
    <div class="P_fullwidth" style="margin-bottom: 20px">
      <ngx-select [items]="NgxFormInfoSelectBox" optionValueField="FormCode" optionTextField="FormName"
        [(ngModel)]="selectFormCode" (select)=onSelectChange(selectFormCode)></ngx-select>
    </div>

    <div style="margin-bottom: 20px">
      <!-- <quill-editor [(ngModel)]="editFormInfo.StdNote" [modules]="config" [style]="{height: '350px'}" placeholder=''>
      </quill-editor> -->
      <textarea class="inputTextarea" style="overflow-y: auto" [(ngModel)]="editFormInfo.StdNote"></textarea>
    </div>
    <div style="text-align: center">
        <button data-toggle="modal" data-target="#SaveDialog" class="btn btn-primary">儲存</button>
    </div>
  </div>
</div>



<div class="modal" id="SaveDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" style="text-align: center">確認儲存?</h4>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="bt_UpdateFormInfo()">送出</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog確認儲存 -->
<div class="modal" id="sussesdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog  modal-sm vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <!-- <span aria-hidden="true">×</span> -->
            </button>
            <h4 class="modal-title" style="text-align: center">送出成功</h4>
          </div>
          <div class="modal-body">
            <div style="text-align: center;margin-bottom: 10px">
              <img src="./assets/images-template/icon-success.png" />
            </div>
            <div style="text-align: center">
              修改完成!
            </div>
          </div>
          <div class="modal-footer" style="text-align: center">
            <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--dialog送出成功 -->