<div class="a-block">
  <div class="a-block-body  a-block-container">
    <h3>
      <ng-container i18n>請假單明細</ng-container>
    </h3>
    <div class="row" style="border-bottom: 1px dashed #dcdcdc;padding: 0;margin: 0;padding-top: 15px;">
      <div class="col-md-6 " style="margin-bottom: 10px;padding-top: 2px">
        <label class="col-md-4 control-label" style="padding-left: 0px;text-align: right">
          <ng-container i18n>表單編號</ng-container>
        </label>
        <div class="col-md-8">
          <div class="row ">
            <div>
              <span style="color: #028fcf;margin-right: 10px">
                <!--20180000000201104-->
                <span *ngIf="getVaDataTitle.ProcessFlowID >0 ">{{getVaDataTitle.showProcessFlowID}}</span>
                <span *ngIf="getVaDataTitle.key !='0' ">{{getVaDataTitle.key}}</span>
              </span>
              <a style="cursor: pointer;">
                <span *ngIf="getVaDataTitle.Take && getShowTakeDetail" data-toggle="modal"
                  data-target="#Cancelformdialog">(<ng-container i18n>抽單</ng-container>)</span>
              </a>
              <a style="cursor: pointer;" data-toggle="modal" (click)="checkTransSignForm(getVaDataTitle)">
                <span *ngIf="getVaDataTitle.TransSign && getShowTransSignDetail">(<ng-container i18n>轉呈</ng-container>
                  )</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 row" style="margin:0;margin-bottom: 10px;">
        <div class="col-md-3 col-xs-12 P_Lzero">
          <label class="control-label">
            <ng-container i18n>表單狀態</ng-container>
          </label>
        </div>
        <div class="col-md-9 col-xs-12 " style="padding: 0px">
          <div *ngIf="getVaDataTitle.State =='1'" style="padding: 0px;">
            <label class="tag_blue" style="margin-right: 5px">
              <ng-container i18n>呈核中</ng-container>
            </label>
            <span *ngIf="getVaDataTitle.ManageEmpName">{{getVaDataTitle.ManageEmpName}}
              <ng-container i18n> 審核中 </ng-container>
            </span>
          </div>
          <div *ngIf="getVaDataTitle.State == '3'" style="padding: 0px">
            <label class="tag_skyblue" style="margin-right: 5px;">
              <ng-container i18n>已核准</ng-container>
            </label>
            <span *ngIf="showAprovedName">
              {{showAprovedName}} <ng-container i18n>核單</ng-container>
            </span>
          </div>
          <div *ngIf="getVaDataTitle.State == '2'" style="padding: 0px;">
            <label class="tag_red" style="color: #d0021b;">
              <ng-container i18n>重擬</ng-container>
            </label>
          </div>
          <div *ngIf="getVaDataTitle.State == '7'" style="padding: 0px;">
            <label class="tag_gray" style="color: #9b9b9b;">
              <ng-container i18n>已抽單</ng-container>
            </label>
          </div>
          <div *ngIf="getVaDataTitle.State == '6'" style="padding: 0px;">
            <label class="tag_lightblue" style="color: #028fcf;">
              <ng-container i18n>預排中</ng-container>
            </label>
          </div>
          <div *ngIf="getVaDataTitle.State == '8'" style="padding: 0px;">
            <label class="tag_red" style="color: #d0021b;">
              <ng-container i18n>已異動</ng-container>
            </label>
          </div>

        </div>
      </div>
    </div>
    <!-- form-group end -->
    <div class="row" style="border-bottom: 1px dashed #dcdcdc;padding: 0;margin: 0;padding-top: 15px;">
      <div class="col-md-6 " style="margin-bottom: 10px">
        <label class="col-md-4 control-label" style="padding-left: 0px;text-align: right">
          <ng-container i18n>員工</ng-container>
        </label>
        <div class="col-md-8">
          <div class="row ">
            <div>
              <span>
                <!--644555 陳德華 -->{{getVaDataTitle.EmpCode}} {{getVaDataTitle.EmpNameC}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12" style="margin-bottom: 10px;">
        <div class="col-md-3 col-xs-12 P_LTzero">
          <label class="control-label">
            <ng-container i18n>填寫人</ng-container>
          </label>
        </div>
        <div class="col-md-9 col-xs-12" style="padding: 0px">
          {{getVaDataTitle.WriteEmpCode}}
          {{getVaDataTitle.WriteEmpNameC}}
        </div>
      </div>
    </div>
    <!-- form-group end -->
    <div class="row" style="border-bottom: 1px dashed #dcdcdc;padding: 0;margin: 0;    padding-top: 15px;">
      <div class="col-md-6 " style="margin-bottom: 10px">
        <label class="col-md-4 control-label" style="padding-left: 0px;text-align: right">
          <ng-container i18n>請假總工時</ng-container>
        </label>
        <div class="col-md-8">
          <div class="row ">
            <div>
              <span style="color:#d0021b;font-weight: bold;">{{getVaDataTitle.day}}</span>
              <ng-container i18n> 日 </ng-container>
              <span style="color:#d0021b;font-weight: bold;">{{getVaDataTitle.hour}}</span>
              <ng-container i18n> 時 </ng-container>
              <span style="color:#d0021b;font-weight: bold;">{{getVaDataTitle.minute}}</span>
              <ng-container i18n> 分 </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12" style="margin-bottom: 10px;">
        <div class="col-md-3 col-xs-12 P_LTzero">
        </div>
        <div class="col-md-9 col-xs-12" style="padding: 0px">
          <div *ngIf="getVaDataTitle.Appointment && getVaDataTitle.State != '6'">
            <span style="color: #028fcf;border:#028fcf 1px solid;
                  border-radius: 5px;padding: 2px;line-height: 27px">
              <ng-container i18n>預排休假</ng-container>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- form-group end -->
    <div style="border-bottom: 1px dashed #dcdcdc;margin-bottom: 20px;"
      *ngFor="let oneshowVaDetail of uishowVaDetail ; let i = index">
      <div class="form-group" style="border:1px solid #028fcf;margin-top: 20px;padding-top: 15px;">
        <div class="row" style="padding: 0px;margin: 0px">
          <div class="col-md-2 P_left" style="padding-top: 7px">
            <label style="color: #028fcf">{{oneshowVaDetail.uitext}}</label>
            <div *ngIf="oneshowVaDetail.Today" class="todaycs">
              <span style="color: #028fcf;border:#028fcf 1px solid;
                  border-radius: 5px;padding: 6px">
                <ng-container i18n>當日請假</ng-container>
              </span>
            </div>
          </div>
          <div class="col-md-10">
            <div class="col-md-3 D_leftP_toppadding">
              <span style="color: #969696">
                <ng-container i18n>起始</ng-container>：
              </span>
              {{oneshowVaDetail.startDate}}
              <span *ngIf="!oneshowVaDetail.Circulate">{{oneshowVaDetail.startTime}}</span>
            </div>
            <div class="col-md-3 D_leftP_toppadding">
              <span style="color: #969696">
                <ng-container i18n>結束</ng-container>：
              </span>
              {{oneshowVaDetail.endDate}}
              <span *ngIf="!oneshowVaDetail.Circulate">{{oneshowVaDetail.endTime}}</span>
            </div>
            <div class="col-md-3 D_leftP_toppadding">
              <ng-container i18n>代理人 </ng-container>
              <span *ngIf="oneshowVaDetail.proxyName">{{oneshowVaDetail.proxyName}}</span>
              <span *ngIf="!oneshowVaDetail.proxyName">
                <ng-container i18n>無</ng-container>
              </span>
            </div>
            <div class="col-md-3 D_leftP_toppadding">
              <ng-container i18n>共計 </ng-container>
              {{oneshowVaDetail.AllUseDay}}
              <ng-container i18n> 日 </ng-container>
              {{oneshowVaDetail.AllUseHour}}
              <ng-container i18n> 時 </ng-container>
              {{oneshowVaDetail.AllUseMinute}}
              <ng-container i18n> 分 </ng-container>
            </div>


            <div *ngIf="oneshowVaDetail.Circulate" class="col-md-12 col-xs-12  D_leftP_toppadding">
              <span style="color: #969696">
                <ng-container i18n>每日循環時段</ng-container>：
              </span>{{oneshowVaDetail.startTime}} - {{oneshowVaDetail.endTime}}
            </div>
            <div class="col-md-12 col-xs-12  D_leftP_toppadding">
              <span style="color: #969696">
                <ng-container i18n>假別</ng-container>：
              </span>{{oneshowVaDetail.HolidayName}}
            </div>
            <div *ngIf="oneshowVaDetail.KeyName" class="col-md-12 col-xs-12  D_leftP_toppadding">
              <span style="color: #969696">
                <ng-container i18n>稱謂</ng-container>：
              </span>{{oneshowVaDetail.KeyName}}
            </div>
            <div *ngIf="oneshowVaDetail.EventDate" class="col-md-12 col-xs-12  D_leftP_toppadding">
              <span style="color: #969696">
                <ng-container i18n>事件發生日</ng-container>：
              </span>{{oneshowVaDetail.EventDate}}
            </div>
            <div class="col-md-12 col-xs-12  D_leftP_toppadding">
              <span style="color: #969696">
                <ng-container i18n>事由</ng-container>：
              </span>{{oneshowVaDetail.cause}}
            </div>
            <div class="col-md-12 col-xs-12  D_leftP_toppadding">
              <div class="col-md-3 col-xs-12" style="padding: 0px;word-break: break-all;"
                *ngFor="let upload of oneshowVaDetail.uploadFile">
                <img src="./assets/images-template/attach@2x.png" height='16px' width="12px"
                  style="margin-right: 5px" />
                <a (click)="base64(upload)" style="cursor:pointer">{{upload.UploadName}}</a>
              </div>
              <!-- <img *ngIf="uishowVaDetailLoading"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->
            </div>
          </div>

          <div class="row" style="padding: 0px;margin:0px;margin-bottom: 20px">
            <div class="col-md-2 control-label">
            </div>
            <div class="col-md-10 col-xs-12" style="padding-top: 10px">
              <a [id]="'id_vadetail'+i.toString()" data-toggle="collapse" [href]="'#post_vadetail'+i.toString()"
                (click)="onCheckCollapseIn(i.toString())">
                <span [id]="i.toString()+'vadetail_text'">
                  <ng-container i18n>收合請假明細</ng-container>
                </span>
                <img [id]="i.toString()+'vadetail_img'" src="./assets/images-template/icon-arrow.png"
                  style=" transform:rotate(-180deg);height: 20px;width: 20px;" />
              </a>
            </div>
          </div>
          <div [id]="'post_vadetail'+i.toString()" class="collapse in five-cols">
            <div class="row D_tabletop" style="padding: 0px;margin: 0px;background-color: #edf5ff">
              <div class="col-md-3 "
                style="text-align: center;padding:5px 15px;font-weight: bolder;border:1px solid #e0e0e0;border-right: 0px">
                <ng-container i18n>請假日期</ng-container>
              </div>
              <div class="col-md-3  col-xs-12"
                style="text-align: center;padding:5px 15px;font-weight: bolder;border:1px solid #e0e0e0;border-right: 0px">
                <ng-container i18n>當日班型</ng-container>
              </div>
              <div class="col-md-3 "
                style="text-align: center;padding:5px 15px;font-weight: bolder;border:1px solid #e0e0e0;border-right: 0px">
                <ng-container i18n>時間</ng-container>
              </div>
              <div class="col-md-3 "
                style="text-align: center;padding:5px 15px;font-weight: bolder;border:1px solid #e0e0e0;border-right: 0px">
                <ng-container i18n>休息時間</ng-container>
              </div>
              <div class="col-md-3 "
                style="text-align: center;padding:5px 15px;font-weight: bolder;border:1px solid #e0e0e0">
                <ng-container i18n>請假工時</ng-container>
              </div>
            </div>
            <div class="row" style="padding: 0px;margin: 0px"
              *ngFor="let uishowAbsFlowAppsDetail of oneshowVaDetail.uishowAbsFlowAppsDetail">
              <div class="col-md-3 D_context">
                {{uishowAbsFlowAppsDetail.vaOneDate}}
                <span *ngIf="uishowAbsFlowAppsDetail.IsDelete" style="color: #d0021b">
                  (<ng-container i18n>已銷假</ng-container>)
                </span>
              </div>
              <div class="col-md-3  col-xs-12 D_context">
                <span *ngIf="uishowAbsFlowAppsDetail.vaRote" class="RoteLink"
                  (click)="bt_Show_RoteInfo(uishowAbsFlowAppsDetail.vaRote.RoteID)">{{uishowAbsFlowAppsDetail.vaRote.RoteNameC}}</span>
                <span *ngIf="!uishowAbsFlowAppsDetail.vaRote">
                  <ng-container i18n>無</ng-container>
                </span>
              </div>
              <!-- 當日班 -->
              <div class="col-md-3 D_context">
                {{uishowAbsFlowAppsDetail.vaOneOnTime}} -
                {{uishowAbsFlowAppsDetail.vaOneOffTime}}
                <div *ngIf="uishowAbsFlowAppsDetail.ActualRote_calCrossDay" style="display: inline-block;
                height: 20px;
                font-size: 13px;
                width: 40px;
                text-align: center;
                color: #fff;
                background-color: #408cb6;
                border: 1px solid;
                border-radius: 15px;">+1<ng-container i18n>日</ng-container>
                </div>
              </div>
              <div class="col-md-3 D_context" style="height: 33px; overflow-y: auto;">
                <div *ngFor="let vaRest of uishowAbsFlowAppsDetail.vaRest">
                  {{vaRest.vaRestOnTime}} -
                  {{vaRest.vaRestOffTime}}
                </div>
                <div *ngIf="uishowAbsFlowAppsDetail.vaRest.length == 0">
                  -
                </div>
              </div>
              <div class="col-md-3 D_context" style="border-right: 1px">
                {{uishowAbsFlowAppsDetail.vaUseDay}}
                <ng-container i18n> 日 </ng-container>
                {{uishowAbsFlowAppsDetail.vaUseHour}}
                <ng-container i18n> 時 </ng-container>
                {{uishowAbsFlowAppsDetail.vaUseMinute}}
                <ng-container i18n> 分 </ng-container>
              </div>
              <!-- 電腦 -->
              <div class="col-xs-12 P_date">
                {{uishowAbsFlowAppsDetail.vaOneDate}}
                {{uishowAbsFlowAppsDetail.vaOneOnTime}}
                - {{uishowAbsFlowAppsDetail.vaOneOffTime}}
                <span *ngIf="uishowAbsFlowAppsDetail.IsDelete" style="color: #d0021b">
                  (<ng-container i18n>已銷假</ng-container>)
                </span>
                <div *ngIf="uishowAbsFlowAppsDetail.ActualRote_calCrossDay" style="display: inline-block;
                height: 20px;
                font-size: 13px;
                width: 40px;
                text-align: center;
                color: #fff;
                background-color: #408cb6;
                border: 1px solid;
                border-radius: 15px;">+1<ng-container i18n>日</ng-container>
                </div>
              </div>
              <div class="col-xs-12 P_context" style="padding-top: 10px">
                <ng-container i18n>當日班型</ng-container>:
                <span *ngIf="uishowAbsFlowAppsDetail.vaRote" class="RoteLink"
                  (click)="bt_Show_RoteInfo(uishowAbsFlowAppsDetail.vaRote.RoteID)">{{uishowAbsFlowAppsDetail.vaRote.RoteNameC}}</span>
                <span *ngIf="!uishowAbsFlowAppsDetail.vaRote">
                  <ng-container i18n>無</ng-container>
                </span>
              </div>
              <div class="col-xs-12 P_context">
                <ng-container i18n>休息時間</ng-container>:
                <div style="display: inline-block;"
                  *ngFor="let vaRest of uishowAbsFlowAppsDetail.vaRest ; let i = index">
                  {{vaRest.vaRestOnTime}} -
                  {{vaRest.vaRestOffTime}}
                  <span *ngIf="(i+1) != uishowAbsFlowAppsDetail.vaRest.length">、</span>
                </div>
              </div>
              <div class="col-xs-12 P_context">
                <ng-container i18n>請假工時</ng-container>:
                {{uishowAbsFlowAppsDetail.vaUseDay}}
                <ng-container i18n> 日 </ng-container>
                {{uishowAbsFlowAppsDetail.vaUseHour}}
                <ng-container i18n> 時 </ng-container>
                {{uishowAbsFlowAppsDetail.vaUseMinute}}
                <ng-container i18n> 分 </ng-container>
              </div>
              <!-- 手機 -->
            </div>
          </div>
          <!-- end container -->
        </div>
        <!-- form-group end -->
      </div>
      <!--差假時段-->


    </div>

    <app-from-sign [getProcessFlowID]="getVaDataTitle.ProcessFlowID"></app-from-sign>
    <!--歷程主管意見-->
    <div style="text-align:center">
      <button class="btn btn-primary btnFeatures" data-toggle="modal" (click)="show_signRecord()">
        <ng-container i18n>簽核流程紀錄</ng-container>
      </button>
      <button class="btn btn-info btnFeatures" data-toggle="modal" data-target="#signDay">
        <ng-container i18n>准假規定</ng-container>
      </button>
      <button class="btn btn-default btnFeatures" (click)="previouspage()">
        <ng-container i18n>回上一頁</ng-container>
      </button>
    </div>
  </div>



  <div class="modal" id="Cancelformdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog  modal-sm vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="mySmallModalLabel" style="text-align: center">
              <ng-container i18n>確認抽單?</ng-container>
            </h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
              (click)="Cancelform_Click()">
              <ng-container i18n>送出</ng-container>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <ng-container i18n>取消</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--dialog確認抽單送出 -->



  <div class="modal" id="signDay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="mySmallModalLabel">
              <ng-container i18n>請假簽核權限表</ng-container>
            </h4>
          </div>
          <div class="modal-body">
            <app-canapprovidday></app-canapprovidday>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <ng-container i18n>關閉</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--dialog請假簽核權限表-->
  <div class="modal" id="signRecord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="mySmallModalLabel">
              <ng-container i18n>簽核流程紀錄</ng-container>
            </h4>
          </div>
          <div class="modal-body">
            <app-from-sign-table *ngIf="signRecordDialog" [getProcessFlowID]="getVaDataTitle.ProcessFlowID">
            </app-from-sign-table>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <ng-container i18n>關閉</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--dialog簽核流程紀錄-->


  <div class="modal" id="sussesdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog  modal-sm vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <!-- <span aria-hidden="true">×</span> -->
            </button>
            <h4 class="modal-title" style="text-align: center">
              <ng-container i18n>抽單完成</ng-container>
            </h4>
          </div>
          <div class="modal-body">
            <div style="text-align: center;margin-bottom: 10px">
              <img src="./assets/images-template/icon-success.png" />
            </div>
            <div style="text-align: center">
              <ng-container i18n>已成功抽單</ng-container>
            </div>
          </div>
          <div class="modal-footer" style="text-align: center">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              <ng-container i18n>確定</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--dialog送出成功 -->



  <div class="modal" id="TransSignformdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog  modal-md vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="mySmallModalLabel" style="text-align: center">
              <ng-container i18n>確認轉呈?</ng-container>
            </h4>
          </div>
          <div class="modal-body">
            <div>
              <p>
                <ng-container i18n>簽核人員</ng-container>
              </p>
              <app-select-signer (selectBaseChange)="chooseBase($event)" [sysEmp$]="onChangeReviewMan$">
              </app-select-signer>
            </div>
          </div>
          <div class="modal-footer" style="text-align: center">
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
              (click)="TransSignform_Click()">
              <ng-container i18n>送出</ng-container>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <ng-container i18n>取消</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--dialog轉呈確認送出 -->
  <div class="modal" id="TransSignformSussesdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog  modal-sm vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <!-- <span aria-hidden="true">×</span> -->
            </button>
            <h4 class="modal-title" style="text-align: center">
              <ng-container i18n>轉呈完成</ng-container>
            </h4>
          </div>
          <div class="modal-body">
            <div style="text-align: center;margin-bottom: 10px">
              <img src="./assets/images-template/icon-success.png" />
            </div>
            <div style="text-align: center">
              <ng-container i18n>已成功轉呈</ng-container>
            </div>
          </div>
          <div class="modal-footer" style="text-align: center">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              <ng-container i18n>確定</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--dialog轉呈送出成功 -->
  <div class="modal" id="RoteInf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <!-- <h4 class="modal-title" id="mySmallModalLabel">{{showSearchEmp.EmpCode}} 出勤班表</h4> -->
            <h4 class="modal-title" id="mySmallModalLabel">
              <ng-container i18n>班型資訊</ng-container>
            </h4>
          </div>
          <div class="modal-body">
            <app-rote-inf [GetRoteInfo$]="Ob_setGetRoteInfo$"></app-rote-inf>
            <div style="text-align: center">
              <button type="button" class="btn btn-primary" data-dismiss="modal">
                <ng-container i18n>確定</ng-container>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--dialog班表期間-->