#ShowVaTable th {
    text-align: center;
}

::ng-deep #ShowVaTable .mat-sort-header-container {
    display:flex;
    justify-content:center;
}

::ng-deep #ShowVaTable .mat-sort-header-button {
    padding-left: 12px;
    display: unset;
}

::ng-deep #ShowVaTable .mat-sort-header-arrow {
    display: inline-block;
    color: white
}
#ShowVaTable .mat-sort-header-arrow {
    display: inline-block;
    color: white
}

#ShowVaTable tr {
    height: auto;
}

.P_Right {
    padding-left: 0px;
    text-align: right;
}

.P_fullwidth {
    width: 300px
}

.P_Emp {
    padding: 0px 23px;
}

@media screen and (max-width:992px) {
    .P_Right {
        padding-left: 15px;
        text-align: left;
    }

    .P_fullwidth {
        width: 100%
    }

    .P_Emp {
        padding: 0px
    }
}