<div class="a-block" *ngIf="vaSearchFlowSign.length!=0 && !showVaDataDetail">
  <div class="a-block-body  a-block-container">
    <h3>
      <ng-container i18n>查詢結果</ng-container>
    </h3>
    <div class="row P_div" *ngFor="let oneVaData of vaSearchFlowSign">
      <div class="row col-md-3 col-xs-12 P_borderBottom">
        <div class="col-md-6   col-xs-6  col-md-push-6" style="color: #326299;padding:10px 0px;">
          <div *ngIf="oneVaData.ProcessFlowID > 0">
            {{oneVaData.showProcessFlowID}}
          </div>
          <ng-container *ngIf="oneVaData.key != '0'">
            {{oneVaData.key}}
          </ng-container>
          <div>
            <ng-container i18n>請假單</ng-container>
            <!-- <ng-container *ngIf="oneVaData.ProcessFlowID > 0">
              <span style="color: #969696">(前)</span>
            </ng-container> -->
            <ng-container *ngIf="oneVaData.key != '0'">
              <ng-container *ngIf="!oneVaData.OldKey">
                <span style="color: #969696">
                  (<ng-container i18n>後</ng-container>)
                </span>
              </ng-container>
              <ng-container *ngIf="oneVaData.OldKey">
                <span *ngIf="oneVaData.OldKey!='0'" style="color: #969696">
                  (<ng-container i18n>舊</ng-container>)
                </span>
                <span *ngIf="oneVaData.OldKey=='0'" style="color: #969696">
                  (<ng-container i18n>後</ng-container>)
                </span>
              </ng-container>
            </ng-container>
          </div>
          <div *ngIf="oneVaData.DeleteState" style="color: darkgray;">
              <span *ngIf="oneVaData.DeleteState == '1'" style="
              border: 1px solid;
              padding: 0px 5px;
              display: inline-block;">部分銷假</span>
              <span *ngIf="oneVaData.DeleteState == '2'" style="
              border: 1px solid;
              padding: 0px 5px;
              display: inline-block;">全部銷假</span>
          </div>
          <div>
            <div *ngIf="oneVaData.Take && getShowTake" style="display: inline-block;">
              <a style="cursor: pointer;" data-toggle="modal" data-target="#Cancelformdialog"
                (click)="takeForm = oneVaData">
                <span>
                  (<ng-container i18n>抽單</ng-container>)
                </span>
              </a>
            </div>
            <div *ngIf="oneVaData.TransSign && getShowTransSign" style="display: inline-block;">
              <a style="cursor: pointer;" data-toggle="modal" (click)="checkTransSignForm(oneVaData)">
                <span>
                  (<ng-container i18n>轉呈</ng-container>)
                </span>
              </a>
            </div>
          </div>
          <!-- <div *ngIf="oneVaData.key > 0" style="color: #969696">
            (後台新增)
          </div> -->

        </div>
        <div class="col-md-6   col-xs-6  col-md-pull-6" style="padding: 0;text-align: center;
          padding-top: 15px;">
          <div class="tag_blue" *ngIf="oneVaData.State=='1'">
            <ng-container i18n>呈核中</ng-container>
          </div>
          <div class="tag_skyblue" *ngIf="oneVaData.State=='3'">
            <ng-container i18n>已核准</ng-container>
          </div>
          <div class="tag_red" *ngIf="oneVaData.State=='2'">
            <ng-container i18n>重擬</ng-container>
          </div>
          <div class="tag_gray" *ngIf="oneVaData.State=='7'">
            <ng-container i18n>已抽單</ng-container>
          </div>
          <div class="tag_lightblue" *ngIf="oneVaData.State=='6'">
            <ng-container i18n>預排中</ng-container>
          </div>
          <div class="tag_red" *ngIf="oneVaData.State=='8'">
            <ng-container i18n>已異動</ng-container>
          </div>
          <div *ngIf="oneVaData.Appointment && oneVaData.State!='6'">
            <span style="color: #028fcf;border:#028fcf 1px solid;
              border-radius: 5px;padding: 2px">
              <ng-container i18n>預排休假</ng-container>
            </span>
          </div>
          <div class="tag_gray" *ngIf="oneVaData.Handle">
            <ng-container i18n>處理中</ng-container>
          </div>
        </div>
      </div>
      <div class="row col-md-8 col-xs-10" style="margin: 0px;padding: 0">
        <div class="col-md-8 col-xs-12" style="margin: 0px;color:#6f6f6f;padding: 0">
          <div class="row" style="margin: 0;padding-bottom: 5px;">
            <div class="col-md-4 col-xs-12" style="padding: 0">
              <!-- 643345 李大仁  -->
              {{oneVaData.EmpCode}} {{oneVaData.EmpNameC}} <span *ngIf="oneVaData.checkProxy" style="color: blue">
                (<ng-container i18n>代</ng-container>)
              </span>
            </div>
            <div class="col-md-8 col-xs-12" style="padding: 0">
              <!-- 計劃發展部 -->
              {{oneVaData.AppDeptName}}
            </div>
          </div>
          <div class="row" style="margin: 0;padding-bottom: 5px;">
            <div class="col-md-6 col-xs-12" style="padding: 0">
              <span style="color: #969696">
                <ng-container i18n>起始</ng-container>：
              </span>
              <!--2019/01/18 08:00-->{{oneVaData.DateB}} {{oneVaData.TimeB}}
            </div>
            <div class="col-md-6 col-xs-12" style="padding: 0">
              <span style="color: #969696">
                <ng-container i18n>結束</ng-container>：
              </span>
              <!--2019/01/18 12:00-->{{oneVaData.DateE}} {{oneVaData.TimeE}}
            </div>
          </div>
          <div class="row" style="margin: 0;">
            <span style="color: #969696">
              <ng-container i18n>請假假種</ng-container>：
            </span>
            <div style="display: inline-block;"
              *ngFor="let oneListHoliDayNameC of oneVaData.ListHoliDayNameC; let i = index">
              {{oneListHoliDayNameC}}
              <span *ngIf="(i+1) != oneVaData.ListHoliDayNameC.length">、</span>
            </div>
          </div>
          <!-- <div class="row" style="margin: 0;">
            (合有{{oneVaData.numberOfVaData}}個差假時段)
          </div> -->
        </div>
        <div class="col-md-4 col-xs-12" style="padding: 0">
          <div class="P_height"></div>
          <div style="padding-bottom: 5px;">
            <span style="padding: 0px 5px;padding-left: 0;">
              <ng-container i18n>共計</ng-container>
            </span>
            <span>{{oneVaData.day}}</span>
            <span style="padding: 0px 5px;">
              <ng-container i18n>日</ng-container>
            </span>
            <span>{{oneVaData.hour}}</span>
            <span style="padding: 0px 5px;">
              <ng-container i18n>時</ng-container>
            </span>
            <span>{{oneVaData.minute}}</span>
            <span style="padding: 0px 5px;">
              <ng-container i18n>分</ng-container>
            </span>
          </div>
          <div *ngIf="oneVaData.ManageEmpName && oneVaData.State=='1'">
            {{oneVaData.ManageEmpName}}
            <ng-container i18n> 簽核中 </ng-container>
          </div>
        </div>
      </div>
      <div class="row col-md-1 col-xs-2 P_ptop">
        <a style="cursor: pointer;text-decoration:underline" (click)="nextShowDetail(oneVaData)">
          <img src="./assets/images-template/icon-arrow.png" style=" transform:rotate(-90deg);" />
        </a>
      </div>
    </div>
    <div>
      <button *ngIf="CanSerchMore" (click)="MoreOnSearchForm()">
        <ng-container i18n>載入更多資料</ng-container>
      </button>
    </div>
  </div>
</div>

<div class="a-block" *ngIf="vaSearchFlowSign.length==0">
  <div class="a-block-body  a-block-container">
    <ng-container i18n>此查詢條件查無資料</ng-container>
  </div>
</div>

<app-search-va-detail *ngIf="showVaDataDetail" [getVaDataTitle]="setToNextVaDataTitle"
  [getShowTransSignDetail]="getShowTransSign" [getShowTakeDetail]="getShowTake" (goback)="onGoBackFunction()">
</app-search-va-detail>



<div class="modal" id="Cancelformdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="mySmallModalLabel" style="text-align: center">
            <ng-container i18n>確認抽單?</ng-container>
          </h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
            (click)="Cancelform_Click()">
            <ng-container i18n>送出</ng-container>
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>取消</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog抽單確認送出 -->
<div class="modal" id="sussesdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <!-- <span aria-hidden="true">×</span> -->
          </button>
          <h4 class="modal-title" style="text-align: center">
            <ng-container i18n>抽單完成</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <div style="text-align: center;margin-bottom: 10px">
            <img src="./assets/images-template/icon-success.png" />
          </div>
          <div style="text-align: center">
            <ng-container i18n>已成功抽單</ng-container>
          </div>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <ng-container i18n>確定</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog送出成功 -->




<div class="modal" id="TransSignformdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-md vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="mySmallModalLabel" style="text-align: center">
            <ng-container i18n>確認轉呈?</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <div>
            <p>
              <ng-container i18n>簽核人員</ng-container>
            </p>
            <app-select-signer (selectBaseChange)="chooseBase($event)" [sysEmp$]="onChangeReviewMan$">
            </app-select-signer>
          </div>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
            (click)="TransSignform_Click()">
            <ng-container i18n>送出</ng-container>
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <ng-container i18n>取消</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog轉呈確認送出 -->
<div class="modal" id="TransSignformSussesdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog  modal-sm vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <!-- <span aria-hidden="true">×</span> -->
          </button>
          <h4 class="modal-title" style="text-align: center">
            <ng-container i18n>轉呈完成</ng-container>
          </h4>
        </div>
        <div class="modal-body">
          <div style="text-align: center;margin-bottom: 10px">
            <img src="./assets/images-template/icon-success.png" />
          </div>
          <div style="text-align: center">
            <ng-container i18n>已成功轉呈</ng-container>
          </div>
        </div>
        <div class="modal-footer" style="text-align: center">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <ng-container i18n>確定</ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog轉呈送出成功 -->