<div id="phonetopdiv" class="a-block"
    style="top: 138px;zoom: 1;z-index: 1;left: 0px;background-color: #fff;width: 100%">
    <div class="a-block-body  a-block-container">

        <a [id]="'id1'" data-toggle="collapse" [href]="'#post1'" (click)="onCheckCollapseIn()">
            <span [id]="'1_text'">
                <ng-container i18n>收合查詢選單</ng-container>
            </span>
            <img [id]="'1_img'" src="./assets/images-template/icon-arrow.png"
                style=" transform:rotate(-180deg);height: 20px;width: 20px;" />
        </a>
        <div [id]="'post1'" class="panel-collapse collapse in active">
            <div id="showP_margin"> </div>
            <app-choose-base-or-dept (outPutChoose)="getEmpCode($event)"></app-choose-base-or-dept>

            <app-form-condition (outPutSearch)="getSearchFormCondition($event)" [ownerReview]="false">
            </app-form-condition>

            <div class="form-group first-form-group">
                <div class="row" style="margin:0px;padding: 0px 15px">
                    <div class="col-md-4  col-xs-12" style="padding:0px">
                        <div class="col-md-4  col-xs-12" style="padding:0px">
                        </div>
                        <div class="col-md-8  col-xs-12" style="padding:0px">
                            <button type="button" class="btn btn-primary" (click)="onSearchForm()">
                                <ng-container i18n>查詢</ng-container>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div style="background-color: rgba(73, 73, 73, 0.322);
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            overflow: hidden" *ngIf="diolog_state" (click)="hideSearchDialog()">
</div>

<div id="showFormPalce" class="showForm">
    <app-search-va-form [getVaData]="getApiVaData" [getShowTransSign]="showTransSign" [getShowTake]="showTake"
        (gotoShowFormPlace)="scrollTo('showFormPalce')" *ngIf="isSearch && showSelectSearchForm == 'Abs'">
    </app-search-va-form>
    <app-search-del-form [getDelData]="getApiDelData" [getShowTransSign]="showTransSign" [getShowTake]="showTake"
        (gotoShowFormPlace)="scrollTo('showFormPalce')" *ngIf="isSearch && showSelectSearchForm == 'Absc'">
    </app-search-del-form>
    <app-search-forget-form [getForgetData]="getApiForgetData" [getShowTransSign]="showTransSign"
        [getShowTake]="showTake" (gotoShowFormPlace)="scrollTo('showFormPalce')"
        *ngIf="isSearch && showSelectSearchForm == 'Card'"></app-search-forget-form>
    <app-search-change-form [getChangeData]="getApiShiftRoteData" [getShowTransSign]="showTransSign"
        [getShowTake]="showTake" (gotoShowFormPlace)="scrollTo('showFormPalce')"
        *ngIf="isSearch && showSelectSearchForm == 'ShiftRote'"></app-search-change-form>
</div>



<div class="modal" id="isHandleDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-dialog-centered  modal-sm vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">
                        <ng-container i18n>經手表單說明</ng-container>
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                        <ng-container i18n>查詢該員工號所有曾經代填、批核、退回、呈核表單。</ng-container>
                    </p>
                </div>
                <div class="modal-footer">
                    <div style="text-align: center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <ng-container i18n>關閉</ng-container>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--dialog經手表單說明 -->